In [1]:
from selenium import webdriver
from bs4 import BeautifulSoup
import requests
import time
import datetime as dt
import pandas as pd
from urllib.request import urlopen
import re
import datetime
import pymysql

In [2]:
"""
월초, 월말 리스트 저장
freq: ms-월초 m-월말
"""
today = datetime.date.today().strftime('%Y.%m.%d')
start_dates = pd.date_range(start = '2008-07-01', end = today, freq = 'MS')
end_dates = pd.date_range(start = '2008-07-01', end = today, freq = 'm')

def getDate(start_dates, end_dates, i):
    start_dates = start_dates.strftime('%Y.%m.%d')
    end_dates = end_dates.strftime('%Y.%m.%d')
    
    return start_dates[i], end_dates[i]

In [3]:
"""
검색 target: 네이버뉴스
검색 keyword: 
기간: start_date ~ end_date(한 달)
"""
def getNewsCountingFromHTML(start_date, end_date):
    raw_html = urlopen('https://search.naver.com/search.naver?where=news&query=%EB%B6%88%ED%99%A9&sm=tab_opt&sort=0&photo=0&field=0&reporter_article=&pd=3&ds='+start_date+'&de='+end_date+'&docid=&nso=so%3Ar%2Cp%3A')
    html = BeautifulSoup(raw_html, 'html.parser')
    count_tag = html.find_all("div", {"class": "title_desc all_my"})
    news_cnt = count_tag[0].get_text()[7:]
    
    return news_cnt

In [4]:
"""
'keyword에 대한 뉴스 기사 건수
str을 int로 변환 
ex. 3,277건 --> 3277
"""
def extract_only_counting(text):
    regex = re.compile(r'((-)?\d{1,3}(,\d{3})*(\.\d+)?)')
    search = regex.search(text)
    
    if search:
        return int(search.group(1).replace(',',''))
    else:
        return 0

In [5]:
# for i in range(len(start_dates)):
    
#     start_date, end_date = getDate(start_dates, end_dates, i)
#     print(start_date, end_date)
#     news_cnt = getNewsCountingFromHTML(start_date, end_date)
#     news_cnt = extract_only_counting(news_cnt)
#     print(news_cnt)
#     print() 
#     time.sleep(1.3)
# ## db에 저장만 하면될듯.

### DB연동

In [18]:
conn = pymysql.connect(host = "127.0.0.1", user = [USER], passwd = [PASSWORD], db = [DATABASE])
cur = conn.cursor()

In [7]:
# cur.execute("show databases")
# print(cur.fetchall())
# cur.execute("use CLI")

(('information_schema',), ('CLI',), ('MusicBank',), ('mysql',), ('mytestdb',), ('performance_schema',), ('sys',))

0

### DB table 생성

In [8]:
"""
news counting 정보 저장할 table 생성
"""

create_table_query = """
CREATE TABLE IF NOT EXISTS news_counting(
    id BIGINT(7) NOT NULL AUTO_INCREMENT,
    year bigint(4) NOT NULL,
    month bigint(2) NOT NULL,
    cnt bigint(100),
    primary key(id) )
    charset=utf8mb4;
"""
cur.execute(create_table_query)
# charset=utf8mb4; 유니코드 스트링 저장

0

In [19]:
cur.execute("desc news_counting")
table = cur.fetchall()
pd.DataFrame(list(table))

       0            1    2    3     4               5
0     id    bigint(7)   NO  PRI  None  auto_increment
1   year    bigint(4)   NO       None
2  month    bigint(2)   NO       None
3    cnt  bigint(100)  YES       None

### news counting정보 달별로 저장

In [15]:
"""
db table에 저장
"""

for i in range(len(start_dates)-1):
    query = """ 
    Insert into news_counting (year,month, cnt) values (%d, %d, %d) ;
    """
    start_date, end_date = getDate(start_dates, end_dates, i)
    news_cnt = getNewsCountingFromHTML(start_date, end_date)
    news_cnt = extract_only_counting(news_cnt)

    mystring = (query % (int(start_date[0:4]), int(start_date[5:7]), news_cnt))
    print(mystring)
    cur.execute(mystring)

    Insert into news_counting (year,month, cnt) values (2008, 7, 1696) ;


    Insert into news_counting (year,month, cnt) values (2008, 8, 1544) ;


    Insert into news_counting (year,month, cnt) values (2008, 9, 1742) ;


    Insert into news_counting (year,month, cnt) values (2008, 10, 3808) ;


    Insert into news_counting (year,month, cnt) values (2008, 11, 7020) ;


    Insert into news_counting (year,month, cnt) values (2008, 12, 9974) ;


    Insert into news_counting (year,month, cnt) values (2009, 1, 9234) ;


    Insert into news_counting (year,month, cnt) values (2009, 2, 8297) ;


    Insert into news_counting (year,month, cnt) values (2009, 3, 9692) ;


    Insert into news_counting (year,month, cnt) values (2009, 4, 7451) ;


    Insert into news_counting (year,month, cnt) values (2009, 5, 5400) ;


    Insert into news_counting (year,month, cnt) values (2009, 6, 4567) ;


    Insert into news_counting (year,month, cnt) values (2009, 7, 4233) ;


    Insert into news_counting (year,month, cnt) values (2009, 8, 2741) ;


    Insert into news_counting (year,month, cnt) values (2009, 9, 2781) ;


    Insert into news_counting (year,month, cnt) values (2009, 10, 2580) ;


    Insert into news_counting (year,month, cnt) values (2009, 11, 2579) ;


    Insert into news_counting (year,month, cnt) values (2009, 12, 3126) ;


    Insert into news_counting (year,month, cnt) values (2010, 1, 2801) ;


    Insert into news_counting (year,month, cnt) values (2010, 2, 1722) ;


    Insert into news_counting (year,month, cnt) values (2010, 3, 2051) ;


    Insert into news_counting (year,month, cnt) values (2010, 4, 1780) ;


    Insert into news_counting (year,month, cnt) values (2010, 5, 1571) ;


    Insert into news_counting (year,month, cnt) values (2010, 6, 1446) ;


    Insert into news_counting (year,month, cnt) values (2010, 7, 1320) ;


    Insert into news_counting (year,month, cnt) values (2010, 8, 1228) ;


    Insert into news_counting (year,month, cnt) values (2010, 9, 1086) ;


    Insert into news_counting (year,month, cnt) values (2010, 10, 1006) ;


    Insert into news_counting (year,month, cnt) values (2010, 11, 1044) ;


    Insert into news_counting (year,month, cnt) values (2010, 12, 1134) ;


    Insert into news_counting (year,month, cnt) values (2011, 1, 1115) ;


    Insert into news_counting (year,month, cnt) values (2011, 2, 774) ;


    Insert into news_counting (year,month, cnt) values (2011, 3, 784) ;


    Insert into news_counting (year,month, cnt) values (2011, 4, 752) ;


    Insert into news_counting (year,month, cnt) values (2011, 5, 772) ;


    Insert into news_counting (year,month, cnt) values (2011, 6, 870) ;


    Insert into news_counting (year,month, cnt) values (2011, 7, 961) ;


    Insert into news_counting (year,month, cnt) values (2011, 8, 1335) ;


    Insert into news_counting (year,month, cnt) values (2011, 9, 1362) ;


    Insert into news_counting (year,month, cnt) values (2011, 10, 1721) ;


    Insert into news_counting (year,month, cnt) values (2011, 11, 2066) ;


    Insert into news_counting (year,month, cnt) values (2011, 12, 2600) ;


    Insert into news_counting (year,month, cnt) values (2012, 1, 2610) ;


    Insert into news_counting (year,month, cnt) values (2012, 2, 2023) ;


    Insert into news_counting (year,month, cnt) values (2012, 3, 1661) ;


    Insert into news_counting (year,month, cnt) values (2012, 4, 1657) ;


    Insert into news_counting (year,month, cnt) values (2012, 5, 2008) ;


    Insert into news_counting (year,month, cnt) values (2012, 6, 3294) ;


    Insert into news_counting (year,month, cnt) values (2012, 7, 5088) ;


    Insert into news_counting (year,month, cnt) values (2012, 8, 5786) ;


    Insert into news_counting (year,month, cnt) values (2012, 9, 5372) ;


    Insert into news_counting (year,month, cnt) values (2012, 10, 5528) ;


    Insert into news_counting (year,month, cnt) values (2012, 11, 6206) ;


    Insert into news_counting (year,month, cnt) values (2012, 12, 6171) ;


    Insert into news_counting (year,month, cnt) values (2013, 1, 6815) ;


    Insert into news_counting (year,month, cnt) values (2013, 2, 5002) ;


    Insert into news_counting (year,month, cnt) values (2013, 3, 4584) ;


    Insert into news_counting (year,month, cnt) values (2013, 4, 4198) ;


    Insert into news_counting (year,month, cnt) values (2013, 5, 4233) ;


    Insert into news_counting (year,month, cnt) values (2013, 6, 3786) ;


    Insert into news_counting (year,month, cnt) values (2013, 7, 4452) ;


    Insert into news_counting (year,month, cnt) values (2013, 8, 3950) ;


    Insert into news_counting (year,month, cnt) values (2013, 9, 3914) ;


    Insert into news_counting (year,month, cnt) values (2013, 10, 3355) ;


    Insert into news_counting (year,month, cnt) values (2013, 11, 3456) ;


    Insert into news_counting (year,month, cnt) values (2013, 12, 4670) ;


    Insert into news_counting (year,month, cnt) values (2014, 1, 4435) ;


    Insert into news_counting (year,month, cnt) values (2014, 2, 3086) ;


    Insert into news_counting (year,month, cnt) values (2014, 3, 3234) ;


    Insert into news_counting (year,month, cnt) values (2014, 4, 2929) ;


    Insert into news_counting (year,month, cnt) values (2014, 5, 2862) ;


    Insert into news_counting (year,month, cnt) values (2014, 6, 2316) ;


    Insert into news_counting (year,month, cnt) values (2014, 7, 3752) ;


    Insert into news_counting (year,month, cnt) values (2014, 8, 3252) ;


    Insert into news_counting (year,month, cnt) values (2014, 9, 2425) ;


    Insert into news_counting (year,month, cnt) values (2014, 10, 2991) ;


    Insert into news_counting (year,month, cnt) values (2014, 11, 3422) ;


    Insert into news_counting (year,month, cnt) values (2014, 12, 4985) ;


    Insert into news_counting (year,month, cnt) values (2015, 1, 5035) ;


    Insert into news_counting (year,month, cnt) values (2015, 2, 4962) ;


    Insert into news_counting (year,month, cnt) values (2015, 3, 5297) ;


    Insert into news_counting (year,month, cnt) values (2015, 4, 4131) ;


    Insert into news_counting (year,month, cnt) values (2015, 5, 3554) ;


    Insert into news_counting (year,month, cnt) values (2015, 6, 4180) ;


    Insert into news_counting (year,month, cnt) values (2015, 7, 5007) ;


    Insert into news_counting (year,month, cnt) values (2015, 8, 4117) ;


    Insert into news_counting (year,month, cnt) values (2015, 9, 4266) ;


    Insert into news_counting (year,month, cnt) values (2015, 10, 3752) ;


    Insert into news_counting (year,month, cnt) values (2015, 11, 4495) ;


    Insert into news_counting (year,month, cnt) values (2015, 12, 5976) ;


    Insert into news_counting (year,month, cnt) values (2016, 1, 6289) ;


    Insert into news_counting (year,month, cnt) values (2016, 2, 5338) ;


    Insert into news_counting (year,month, cnt) values (2016, 3, 4507) ;


    Insert into news_counting (year,month, cnt) values (2016, 4, 4859) ;


    Insert into news_counting (year,month, cnt) values (2016, 5, 5467) ;


    Insert into news_counting (year,month, cnt) values (2016, 6, 4846) ;


    Insert into news_counting (year,month, cnt) values (2016, 7, 4684) ;


    Insert into news_counting (year,month, cnt) values (2016, 8, 4482) ;


    Insert into news_counting (year,month, cnt) values (2016, 9, 4240) ;


    Insert into news_counting (year,month, cnt) values (2016, 10, 4036) ;


    Insert into news_counting (year,month, cnt) values (2016, 11, 4135) ;


    Insert into news_counting (year,month, cnt) values (2016, 12, 6514) ;


    Insert into news_counting (year,month, cnt) values (2017, 1, 7691) ;


    Insert into news_counting (year,month, cnt) values (2017, 2, 6168) ;


    Insert into news_counting (year,month, cnt) values (2017, 3, 5194) ;


    Insert into news_counting (year,month, cnt) values (2017, 4, 3992) ;


    Insert into news_counting (year,month, cnt) values (2017, 5, 3276) ;


    Insert into news_counting (year,month, cnt) values (2017, 6, 2780) ;


    Insert into news_counting (year,month, cnt) values (2017, 7, 2766) ;


    Insert into news_counting (year,month, cnt) values (2017, 8, 2275) ;


    Insert into news_counting (year,month, cnt) values (2017, 9, 2198) ;


    Insert into news_counting (year,month, cnt) values (2017, 10, 1902) ;


    Insert into news_counting (year,month, cnt) values (2017, 11, 2962) ;


    Insert into news_counting (year,month, cnt) values (2017, 12, 2914) ;


    Insert into news_counting (year,month, cnt) values (2018, 1, 2839) ;


    Insert into news_counting (year,month, cnt) values (2018, 2, 2304) ;


    Insert into news_counting (year,month, cnt) values (2018, 3, 2272) ;


    Insert into news_counting (year,month, cnt) values (2018, 4, 2393) ;


    Insert into news_counting (year,month, cnt) values (2018, 5, 2483) ;


    Insert into news_counting (year,month, cnt) values (2018, 6, 2077) ;


    Insert into news_counting (year,month, cnt) values (2018, 7, 2641) ;


    Insert into news_counting (year,month, cnt) values (2018, 8, 3292) ;


    Insert into news_counting (year,month, cnt) values (2018, 9, 3073) ;


    Insert into news_counting (year,month, cnt) values (2018, 10, 3127) ;


    Insert into news_counting (year,month, cnt) values (2018, 11, 3952) ;


    Insert into news_counting (year,month, cnt) values (2018, 12, 4782) ;


    Insert into news_counting (year,month, cnt) values (2019, 1, 5436) ;


    Insert into news_counting (year,month, cnt) values (2019, 2, 3401) ;


    Insert into news_counting (year,month, cnt) values (2019, 3, 3682) ;


    Insert into news_counting (year,month, cnt) values (2019, 4, 3620) ;


    Insert into news_counting (year,month, cnt) values (2019, 5, 3471) ;


    Insert into news_counting (year,month, cnt) values (2019, 6, 3503) ;


    Insert into news_counting (year,month, cnt) values (2019, 7, 3382) ;


    Insert into news_counting (year,month, cnt) values (2019, 8, 3483) ;


    Insert into news_counting (year,month, cnt) values (2019, 9, 3851) ;


    Insert into news_counting (year,month, cnt) values (2019, 10, 3877) ;


    Insert into news_counting (year,month, cnt) values (2019, 11, 3702) ;


    Insert into news_counting (year,month, cnt) values (2019, 12, 4675) ;


    Insert into news_counting (year,month, cnt) values (2020, 1, 4404) ;


    Insert into news_counting (year,month, cnt) values (2020, 2, 3956) ;


    Insert into news_counting (year,month, cnt) values (2020, 3, 5650) ;


    Insert into news_counting (year,month, cnt) values (2020, 4, 5232) ;


    Insert into news_counting (year,month, cnt) values (2020, 5, 4294) ;


    Insert into news_counting (year,month, cnt) values (2020, 6, 4328) ;


    Insert into news_counting (year,month, cnt) values (2020, 7, 3743) ;


    Insert into news_counting (year,month, cnt) values (2020, 8, 3278) ;


    Insert into news_counting (year,month, cnt) values (2020, 9, 3986) ;

In [16]:
# 확인
query = """ 
select * from news_counting ;
"""
cur.execute(query)
pd.DataFrame(list(cur.fetchall()))

       0     1   2     3
0      1  2008   7  1696
1      2  2008   8  1544
2      3  2008   9  1742
3      4  2008  10  3808
4      5  2008  11  7020
..   ...   ...  ..   ...
142  143  2020   5  4294
143  144  2020   6  4328
144  145  2020   7  3743
145  146  2020   8  3278
146  147  2020   9  3986

[147 rows x 4 columns]

In [17]:
conn.commit()
cur.close()
conn.close()