In [46]:
from selenium import webdriver
from bs4 import BeautifulSoup
import requests
import time
import datetime as dt
import pandas as pd
from urllib.request import urlopen
import re
import datetime
import pymysql

In [47]:
"""
월초, 월말 리스트 저장
freq: ms-월초 m-월말
"""
today = datetime.date.today().strftime('%Y.%m.%d')
start_dates = pd.date_range(start = '2008-07-01', end = today, freq = 'W-MON')
end_dates = pd.date_range(start = '2008-07-13', end = today, freq = '7d')

def getDate(start_dates, end_dates, i):
    start_dates = start_dates.strftime('%Y.%m.%d')
    end_dates = end_dates.strftime('%Y.%m.%d')
    
    return start_dates[i], end_dates[i]

In [50]:
"""
검색 target: 네이버뉴스
검색 keyword: 경제
기간: start_date ~ end_date(한 달)
"""
def getNewsCountingFromHTML(start_date, end_date):
    raw_html = urlopen('https://search.naver.com/search.naver?where=news&query=%EB%B6%88%ED%99%A9&sm=tab_opt&sort=0&photo=0&field=0&reporter_article=&pd=3&ds='+start_date+'&de='+end_date+'&docid=&nso=so%3Ar%2Cp%3A')
    html = BeautifulSoup(raw_html, 'html.parser')
    count_tag = html.find_all("div", {"class": "title_desc all_my"})
    news_cnt = count_tag[0].get_text()[7:]
    
    return news_cnt

In [51]:
"""
'keyword에 대한 뉴스 기사 건수
str을 int로 변환 
ex. 3,277건 --> 3277
"""
def extract_only_counting(text):
    regex = re.compile(r'((-)?\d{1,3}(,\d{3})*(\.\d+)?)')
    search = regex.search(text)
    
    if search:
        return int(search.group(1).replace(',',''))
    else:
        return 0

In [52]:
# for i in range(len(start_dates)):
    
#     start_date, end_date = getDate(start_dates, end_dates, i)
#     print(start_date, end_date)
#     news_cnt = getNewsCountingFromHTML(start_date, end_date)
#     news_cnt = extract_only_counting(news_cnt)
#     print(news_cnt)
#     print() 
#     time.sleep(1.3)
# ## db에 저장만 하면될듯.

### DB연동

In [53]:
conn = pymysql.connect(host = "127.0.0.1", user = [USER], passwd = [PASSWORD], db = [DATABASE])
cur = conn.cursor()

In [54]:
# cur.execute("show databases")
# print(cur.fetchall())
# cur.execute("use CLI")

### DB table 생성

In [55]:
"""
news counting 정보 저장할 table 생성
"""

create_table_query = """
CREATE TABLE IF NOT EXISTS news_counting(
    id BIGINT(7) NOT NULL AUTO_INCREMENT,
    year bigint(4) NOT NULL,
    month bigint(2) NOT NULL,
    day bigint(2) NOT NULL, 
    cnt bigint(100),
    primary key(id) )
    charset=utf8mb4;
"""
cur.execute(create_table_query)
# charset=utf8mb4; 유니코드 스트링 저장

0

In [56]:
cur.execute("desc news_counting")
table = cur.fetchall()
pd.DataFrame(list(table))

       0            1    2    3     4               5
0     id    bigint(7)   NO  PRI  None  auto_increment
1   year    bigint(4)   NO       None
2  month    bigint(2)   NO       None
3    day    bigint(2)   NO       None
4    cnt  bigint(100)  YES       None

### news counting정보 달별로 저장

In [57]:
start_date, end_date = getDate(start_dates, end_dates, 0)
start_date

'2008.07.07'

In [58]:
"""
db table에 저장
"""

for i in range(len(start_dates)-1):
    query = """ 
    Insert into news_counting (year, month, day, cnt) values (%d, %d, %d, %d) ;
    """
    start_date, end_date = getDate(start_dates, end_dates, i)
    news_cnt = getNewsCountingFromHTML(start_date, end_date)
    news_cnt = extract_only_counting(news_cnt)

    mystring = (query % (int(start_date[0:4]), int(start_date[5:7]), int(start_date[8:10]), news_cnt))
    print(mystring)
    cur.execute(mystring)

, 13, 1207) ;


    Insert into news_counting (year, month, day, cnt) values (2016, 6, 20, 1005) ;


    Insert into news_counting (year, month, day, cnt) values (2016, 6, 27, 1110) ;


    Insert into news_counting (year, month, day, cnt) values (2016, 7, 4, 982) ;


    Insert into news_counting (year, month, day, cnt) values (2016, 7, 11, 1127) ;


    Insert into news_counting (year, month, day, cnt) values (2016, 7, 18, 1253) ;


    Insert into news_counting (year, month, day, cnt) values (2016, 7, 25, 935) ;


    Insert into news_counting (year, month, day, cnt) values (2016, 8, 1, 924) ;


    Insert into news_counting (year, month, day, cnt) values (2016, 8, 8, 843) ;


    Insert into news_counting (year, month, day, cnt) values (2016, 8, 15, 961) ;


    Insert into news_counting (year, month, day, cnt) values (2016, 8, 22, 1005) ;


    Insert into news_counting (year, month, day, cnt) values (2016, 8, 29, 1253) ;


    Insert into news_counting (year, month, day, cnt) values (2016, 9, 5, 1218) ;


    Insert into news_counting (year, month, day, cnt) values (2016, 9, 12, 556) ;


    Insert into news_counting (year, month, day, cnt) values (2016, 9, 19, 1033) ;


    Insert into news_counting (year, month, day, cnt) values (2016, 9, 26, 816) ;


    Insert into news_counting (year, month, day, cnt) values (2016, 10, 3, 759) ;


    Insert into news_counting (year, month, day, cnt) values (2016, 10, 10, 769) ;


    Insert into news_counting (year, month, day, cnt) values (2016, 10, 17, 986) ;


    Insert into news_counting (year, month, day, cnt) values (2016, 10, 24, 1160) ;


    Insert into news_counting (year, month, day, cnt) values (2016, 10, 31, 915) ;


    Insert into news_counting (year, month, day, cnt) values (2016, 11, 7, 862) ;


    Insert into news_counting (year, month, day, cnt) values (2016, 11, 14, 1016) ;


    Insert into news_counting (year, month, day, cnt) values (2016, 11, 21, 910) ;


    Insert into news_counting (year, month, day, cnt) values (2016, 11, 28, 1088) ;


    Insert into news_counting (year, month, day, cnt) values (2016, 12, 5, 1141) ;


    Insert into news_counting (year, month, day, cnt) values (2016, 12, 12, 1268) ;


    Insert into news_counting (year, month, day, cnt) values (2016, 12, 19, 1773) ;


    Insert into news_counting (year, month, day, cnt) values (2016, 12, 26, 1944) ;


    Insert into news_counting (year, month, day, cnt) values (2017, 1, 2, 1869) ;


    Insert into news_counting (year, month, day, cnt) values (2017, 1, 9, 1497) ;


    Insert into news_counting (year, month, day, cnt) values (2017, 1, 16, 1707) ;


    Insert into news_counting (year, month, day, cnt) values (2017, 1, 23, 1811) ;


    Insert into news_counting (year, month, day, cnt) values (2017, 1, 30, 1517) ;


    Insert into news_counting (year, month, day, cnt) values (2017, 2, 6, 1591) ;


    Insert into news_counting (year, month, day, cnt) values (2017, 2, 13, 1390) ;


    Insert into news_counting (year, month, day, cnt) values (2017, 2, 20, 1411) ;


    Insert into news_counting (year, month, day, cnt) values (2017, 2, 27, 1481) ;


    Insert into news_counting (year, month, day, cnt) values (2017, 3, 6, 975) ;


    Insert into news_counting (year, month, day, cnt) values (2017, 3, 13, 1114) ;


    Insert into news_counting (year, month, day, cnt) values (2017, 3, 20, 1174) ;


    Insert into news_counting (year, month, day, cnt) values (2017, 3, 27, 1118) ;


    Insert into news_counting (year, month, day, cnt) values (2017, 4, 3, 1099) ;


    Insert into news_counting (year, month, day, cnt) values (2017, 4, 10, 907) ;


    Insert into news_counting (year, month, day, cnt) values (2017, 4, 17, 959) ;


    Insert into news_counting (year, month, day, cnt) values (2017, 4, 24, 860) ;


    Insert into news_counting (year, month, day, cnt) values (2017, 5, 1, 574) ;


    Insert into news_counting (year, month, day, cnt) values (2017, 5, 8, 657) ;


    Insert into news_counting (year, month, day, cnt) values (2017, 5, 15, 839) ;


    Insert into news_counting (year, month, day, cnt) values (2017, 5, 22, 702) ;


    Insert into news_counting (year, month, day, cnt) values (2017, 5, 29, 816) ;


    Insert into news_counting (year, month, day, cnt) values (2017, 6, 5, 539) ;


    Insert into news_counting (year, month, day, cnt) values (2017, 6, 12, 686) ;


    Insert into news_counting (year, month, day, cnt) values (2017, 6, 19, 562) ;


    Insert into news_counting (year, month, day, cnt) values (2017, 6, 26, 660) ;


    Insert into news_counting (year, month, day, cnt) values (2017, 7, 3, 583) ;


    Insert into news_counting (year, month, day, cnt) values (2017, 7, 10, 631) ;


    Insert into news_counting (year, month, day, cnt) values (2017, 7, 17, 583) ;


    Insert into news_counting (year, month, day, cnt) values (2017, 7, 24, 691) ;


    Insert into news_counting (year, month, day, cnt) values (2017, 7, 31, 487) ;


    Insert into news_counting (year, month, day, cnt) values (2017, 8, 7, 460) ;


    Insert into news_counting (year, month, day, cnt) values (2017, 8, 14, 436) ;


    Insert into news_counting (year, month, day, cnt) values (2017, 8, 21, 526) ;


    Insert into news_counting (year, month, day, cnt) values (2017, 8, 28, 461) ;


    Insert into news_counting (year, month, day, cnt) values (2017, 9, 4, 533) ;


    Insert into news_counting (year, month, day, cnt) values (2017, 9, 11, 460) ;


    Insert into news_counting (year, month, day, cnt) values (2017, 9, 18, 510) ;


    Insert into news_counting (year, month, day, cnt) values (2017, 9, 25, 576) ;


    Insert into news_counting (year, month, day, cnt) values (2017, 10, 2, 162) ;


    Insert into news_counting (year, month, day, cnt) values (2017, 10, 9, 437) ;


    Insert into news_counting (year, month, day, cnt) values (2017, 10, 16, 509) ;


    Insert into news_counting (year, month, day, cnt) values (2017, 10, 23, 537) ;


    Insert into news_counting (year, month, day, cnt) values (2017, 10, 30, 432) ;


    Insert into news_counting (year, month, day, cnt) values (2017, 11, 6, 588) ;


    Insert into news_counting (year, month, day, cnt) values (2017, 11, 13, 539) ;


    Insert into news_counting (year, month, day, cnt) values (2017, 11, 20, 598) ;


    Insert into news_counting (year, month, day, cnt) values (2017, 11, 27, 1079) ;


    Insert into news_counting (year, month, day, cnt) values (2017, 12, 4, 786) ;


    Insert into news_counting (year, month, day, cnt) values (2017, 12, 11, 573) ;


    Insert into news_counting (year, month, day, cnt) values (2017, 12, 18, 676) ;


    Insert into news_counting (year, month, day, cnt) values (2017, 12, 25, 662) ;


    Insert into news_counting (year, month, day, cnt) values (2018, 1, 1, 772) ;


    Insert into news_counting (year, month, day, cnt) values (2018, 1, 8, 629) ;


    Insert into news_counting (year, month, day, cnt) values (2018, 1, 15, 532) ;


    Insert into news_counting (year, month, day, cnt) values (2018, 1, 22, 499) ;


    Insert into news_counting (year, month, day, cnt) values (2018, 1, 29, 643) ;


    Insert into news_counting (year, month, day, cnt) values (2018, 2, 5, 628) ;


    Insert into news_counting (year, month, day, cnt) values (2018, 2, 12, 427) ;


    Insert into news_counting (year, month, day, cnt) values (2018, 2, 19, 637) ;


    Insert into news_counting (year, month, day, cnt) values (2018, 2, 26, 453) ;


    Insert into news_counting (year, month, day, cnt) values (2018, 3, 5, 557) ;


    Insert into news_counting (year, month, day, cnt) values (2018, 3, 12, 460) ;


    Insert into news_counting (year, month, day, cnt) values (2018, 3, 19, 493) ;


    Insert into news_counting (year, month, day, cnt) values (2018, 3, 26, 525) ;


    Insert into news_counting (year, month, day, cnt) values (2018, 4, 2, 695) ;


    Insert into news_counting (year, month, day, cnt) values (2018, 4, 9, 572) ;


    Insert into news_counting (year, month, day, cnt) values (2018, 4, 16, 524) ;


    Insert into news_counting (year, month, day, cnt) values (2018, 4, 23, 435) ;


    Insert into news_counting (year, month, day, cnt) values (2018, 4, 30, 448) ;


    Insert into news_counting (year, month, day, cnt) values (2018, 5, 7, 415) ;


    Insert into news_counting (year, month, day, cnt) values (2018, 5, 14, 576) ;


    Insert into news_counting (year, month, day, cnt) values (2018, 5, 21, 464) ;


    Insert into news_counting (year, month, day, cnt) values (2018, 5, 28, 743) ;


    Insert into news_counting (year, month, day, cnt) values (2018, 6, 4, 429) ;


    Insert into news_counting (year, month, day, cnt) values (2018, 6, 11, 456) ;


    Insert into news_counting (year, month, day, cnt) values (2018, 6, 18, 431) ;


    Insert into news_counting (year, month, day, cnt) values (2018, 6, 25, 547) ;


    Insert into news_counting (year, month, day, cnt) values (2018, 7, 2, 463) ;


    Insert into news_counting (year, month, day, cnt) values (2018, 7, 9, 600) ;


    Insert into news_counting (year, month, day, cnt) values (2018, 7, 16, 620) ;


    Insert into news_counting (year, month, day, cnt) values (2018, 7, 23, 661) ;


    Insert into news_counting (year, month, day, cnt) values (2018, 7, 30, 632) ;


    Insert into news_counting (year, month, day, cnt) values (2018, 8, 6, 695) ;


    Insert into news_counting (year, month, day, cnt) values (2018, 8, 13, 521) ;


    Insert into news_counting (year, month, day, cnt) values (2018, 8, 20, 877) ;


    Insert into news_counting (year, month, day, cnt) values (2018, 8, 27, 796) ;


    Insert into news_counting (year, month, day, cnt) values (2018, 9, 3, 802) ;


    Insert into news_counting (year, month, day, cnt) values (2018, 9, 10, 1056) ;


    Insert into news_counting (year, month, day, cnt) values (2018, 9, 17, 741) ;


    Insert into news_counting (year, month, day, cnt) values (2018, 9, 24, 352) ;


    Insert into news_counting (year, month, day, cnt) values (2018, 10, 1, 603) ;


    Insert into news_counting (year, month, day, cnt) values (2018, 10, 8, 594) ;


    Insert into news_counting (year, month, day, cnt) values (2018, 10, 15, 627) ;


    Insert into news_counting (year, month, day, cnt) values (2018, 10, 22, 781) ;


    Insert into news_counting (year, month, day, cnt) values (2018, 10, 29, 885) ;


    Insert into news_counting (year, month, day, cnt) values (2018, 11, 5, 952) ;


    Insert into news_counting (year, month, day, cnt) values (2018, 11, 12, 769) ;


    Insert into news_counting (year, month, day, cnt) values (2018, 11, 19, 911) ;


    Insert into news_counting (year, month, day, cnt) values (2018, 11, 26, 1018) ;


    Insert into news_counting (year, month, day, cnt) values (2018, 12, 3, 1067) ;


    Insert into news_counting (year, month, day, cnt) values (2018, 12, 10, 1106) ;


    Insert into news_counting (year, month, day, cnt) values (2018, 12, 17, 1113) ;


    Insert into news_counting (year, month, day, cnt) values (2018, 12, 24, 1077) ;


    Insert into news_counting (year, month, day, cnt) values (2018, 12, 31, 1225) ;


    Insert into news_counting (year, month, day, cnt) values (2019, 1, 7, 1253) ;


    Insert into news_counting (year, month, day, cnt) values (2019, 1, 14, 1049) ;


    Insert into news_counting (year, month, day, cnt) values (2019, 1, 21, 1150) ;


    Insert into news_counting (year, month, day, cnt) values (2019, 1, 28, 1202) ;


    Insert into news_counting (year, month, day, cnt) values (2019, 2, 4, 601) ;


    Insert into news_counting (year, month, day, cnt) values (2019, 2, 11, 1100) ;


    Insert into news_counting (year, month, day, cnt) values (2019, 2, 18, 769) ;


    Insert into news_counting (year, month, day, cnt) values (2019, 2, 25, 767) ;


    Insert into news_counting (year, month, day, cnt) values (2019, 3, 4, 844) ;


    Insert into news_counting (year, month, day, cnt) values (2019, 3, 11, 859) ;


    Insert into news_counting (year, month, day, cnt) values (2019, 3, 18, 859) ;


    Insert into news_counting (year, month, day, cnt) values (2019, 3, 25, 967) ;


    Insert into news_counting (year, month, day, cnt) values (2019, 4, 1, 919) ;


    Insert into news_counting (year, month, day, cnt) values (2019, 4, 8, 841) ;


    Insert into news_counting (year, month, day, cnt) values (2019, 4, 15, 664) ;


    Insert into news_counting (year, month, day, cnt) values (2019, 4, 22, 752) ;


    Insert into news_counting (year, month, day, cnt) values (2019, 4, 29, 829) ;


    Insert into news_counting (year, month, day, cnt) values (2019, 5, 6, 794) ;


    Insert into news_counting (year, month, day, cnt) values (2019, 5, 13, 842) ;


    Insert into news_counting (year, month, day, cnt) values (2019, 5, 20, 630) ;


    Insert into news_counting (year, month, day, cnt) values (2019, 5, 27, 847) ;


    Insert into news_counting (year, month, day, cnt) values (2019, 6, 3, 738) ;


    Insert into news_counting (year, month, day, cnt) values (2019, 6, 10, 904) ;


    Insert into news_counting (year, month, day, cnt) values (2019, 6, 17, 904) ;


    Insert into news_counting (year, month, day, cnt) values (2019, 6, 24, 802) ;


    Insert into news_counting (year, month, day, cnt) values (2019, 7, 1, 754) ;


    Insert into news_counting (year, month, day, cnt) values (2019, 7, 8, 777) ;


    Insert into news_counting (year, month, day, cnt) values (2019, 7, 15, 614) ;


    Insert into news_counting (year, month, day, cnt) values (2019, 7, 22, 777) ;


    Insert into news_counting (year, month, day, cnt) values (2019, 7, 29, 717) ;


    Insert into news_counting (year, month, day, cnt) values (2019, 8, 5, 705) ;


    Insert into news_counting (year, month, day, cnt) values (2019, 8, 12, 778) ;


    Insert into news_counting (year, month, day, cnt) values (2019, 8, 19, 859) ;


    Insert into news_counting (year, month, day, cnt) values (2019, 8, 26, 890) ;


    Insert into news_counting (year, month, day, cnt) values (2019, 9, 2, 938) ;


    Insert into news_counting (year, month, day, cnt) values (2019, 9, 9, 902) ;


    Insert into news_counting (year, month, day, cnt) values (2019, 9, 16, 927) ;


    Insert into news_counting (year, month, day, cnt) values (2019, 9, 23, 772) ;


    Insert into news_counting (year, month, day, cnt) values (2019, 9, 30, 776) ;


    Insert into news_counting (year, month, day, cnt) values (2019, 10, 7, 723) ;


    Insert into news_counting (year, month, day, cnt) values (2019, 10, 14, 784) ;


    Insert into news_counting (year, month, day, cnt) values (2019, 10, 21, 966) ;


    Insert into news_counting (year, month, day, cnt) values (2019, 10, 28, 1027) ;


    Insert into news_counting (year, month, day, cnt) values (2019, 11, 4, 799) ;


    Insert into news_counting (year, month, day, cnt) values (2019, 11, 11, 858) ;


    Insert into news_counting (year, month, day, cnt) values (2019, 11, 18, 930) ;


    Insert into news_counting (year, month, day, cnt) values (2019, 11, 25, 845) ;


    Insert into news_counting (year, month, day, cnt) values (2019, 12, 2, 1126) ;


    Insert into news_counting (year, month, day, cnt) values (2019, 12, 9, 914) ;


    Insert into news_counting (year, month, day, cnt) values (2019, 12, 16, 1220) ;


    Insert into news_counting (year, month, day, cnt) values (2019, 12, 23, 928) ;


    Insert into news_counting (year, month, day, cnt) values (2019, 12, 30, 1144) ;


    Insert into news_counting (year, month, day, cnt) values (2020, 1, 6, 906) ;


    Insert into news_counting (year, month, day, cnt) values (2020, 1, 13, 896) ;


    Insert into news_counting (year, month, day, cnt) values (2020, 1, 20, 870) ;


    Insert into news_counting (year, month, day, cnt) values (2020, 1, 27, 978) ;


    Insert into news_counting (year, month, day, cnt) values (2020, 2, 3, 852) ;


    Insert into news_counting (year, month, day, cnt) values (2020, 2, 10, 925) ;


    Insert into news_counting (year, month, day, cnt) values (2020, 2, 17, 1179) ;


    Insert into news_counting (year, month, day, cnt) values (2020, 2, 24, 881) ;


    Insert into news_counting (year, month, day, cnt) values (2020, 3, 2, 1018) ;


    Insert into news_counting (year, month, day, cnt) values (2020, 3, 9, 1234) ;


    Insert into news_counting (year, month, day, cnt) values (2020, 3, 16, 1211) ;


    Insert into news_counting (year, month, day, cnt) values (2020, 3, 23, 1478) ;


    Insert into news_counting (year, month, day, cnt) values (2020, 3, 30, 1390) ;


    Insert into news_counting (year, month, day, cnt) values (2020, 4, 6, 1161) ;


    Insert into news_counting (year, month, day, cnt) values (2020, 4, 13, 934) ;


    Insert into news_counting (year, month, day, cnt) values (2020, 4, 20, 1440) ;


    Insert into news_counting (year, month, day, cnt) values (2020, 4, 27, 1074) ;


    Insert into news_counting (year, month, day, cnt) values (2020, 5, 4, 961) ;


    Insert into news_counting (year, month, day, cnt) values (2020, 5, 11, 1133) ;


    Insert into news_counting (year, month, day, cnt) values (2020, 5, 18, 999) ;


    Insert into news_counting (year, month, day, cnt) values (2020, 5, 25, 837) ;


    Insert into news_counting (year, month, day, cnt) values (2020, 6, 1, 963) ;


    Insert into news_counting (year, month, day, cnt) values (2020, 6, 8, 1009) ;


    Insert into news_counting (year, month, day, cnt) values (2020, 6, 15, 893) ;


    Insert into news_counting (year, month, day, cnt) values (2020, 6, 22, 1008) ;


    Insert into news_counting (year, month, day, cnt) values (2020, 6, 29, 881) ;


    Insert into news_counting (year, month, day, cnt) values (2020, 7, 6, 812) ;


    Insert into news_counting (year, month, day, cnt) values (2020, 7, 13, 814) ;


    Insert into news_counting (year, month, day, cnt) values (2020, 7, 20, 730) ;


    Insert into news_counting (year, month, day, cnt) values (2020, 7, 27, 897) ;


    Insert into news_counting (year, month, day, cnt) values (2020, 8, 3, 700) ;


    Insert into news_counting (year, month, day, cnt) values (2020, 8, 10, 764) ;


    Insert into news_counting (year, month, day, cnt) values (2020, 8, 17, 740) ;


    Insert into news_counting (year, month, day, cnt) values (2020, 8, 24, 826) ;


    Insert into news_counting (year, month, day, cnt) values (2020, 8, 31, 859) ;


    Insert into news_counting (year, month, day, cnt) values (2020, 9, 7, 994) ;


    Insert into news_counting (year, month, day, cnt) values (2020, 9, 14, 980) ;


    Insert into news_counting (year, month, day, cnt) values (2020, 9, 21, 822) ;


    Insert into news_counting (year, month, day, cnt) values (2020, 9, 28, 539) ;

In [59]:
# 확인
query = """ 
select * from news_counting ;
"""
cur.execute(query)
tmp=pd.DataFrame(list(cur.fetchall()))
tmp

       0     1  2   3    4
0      1  2008  7   7  366
1      2  2008  7  14  344
2      3  2008  7  21  338
3      4  2008  7  28  464
4      5  2008  8   4  417
..   ...   ... ..  ..  ...
634  635  2020  8  31  859
635  636  2020  9   7  994
636  637  2020  9  14  980
637  638  2020  9  21  822
638  639  2020  9  28  539

[639 rows x 5 columns]

In [60]:
conn.commit()
cur.close()
conn.close()