In [35]:
from urllib.request import urlopen
from bs4 import BeautifulSoup
import pandas as pd
import json
import pymysql

### 한국은행 OpenAPI 조회 서비스 사용 
http://ecos.bok.or.kr/jsp/openapi/OpenApiController.jsp?t=main

In [45]:
"""
한국은행 openAPI를 활용하여
경기동행지수 받아옴
"""
def getEcosAPI(API_KEY, code, max, start_month, end_month):
    url = 'http://ecos.bok.or.kr/api/StatisticSearch/%s/json/kr/1/%s/%s/MM/%s/%s/?/?/?/' % (API_KEY, max, code, start_month, end_month)
    result = urlopen(url)
    html = result.read()
    
    return json.loads(html)

In [51]:
API_KEY = "YOUR_API_KEY"

data = getEcosAPI(API_KEY, code = '085Y026', max = 100000, start_month = '200807', end_month = '202010')

### 경기동행지수 순환변동치 구하기
ITEM_CODE1 = 'I16D'

In [52]:
data = data["StatisticSearch"]["row"]
produce = pd.DataFrame(data)

In [53]:
cci = produce[produce['ITEM_CODE1'] == 'I16D']
cci

,UNIT_NAME,STAT_NAME,ITEM_CODE1,STAT_CODE,ITEM_CODE2,ITEM_CODE3,ITEM_NAME1,ITEM_NAME2,DATA_VALUE,ITEM_NAME3,TIME
584,2015=100,16.1.4 경기종합지수,I16D,085Y026,,,동행지수순환변동치,,100.9,,200807
585,2015=100,16.1.4 경기종합지수,I16D,085Y026,,,동행지수순환변동치,,100.8,,200808
586,2015=100,16.1.4 경기종합지수,I16D,085Y026,,,동행지수순환변동치,,100.8,,200809
587,2015=100,16.1.4 경기종합지수,I16D,085Y026,,,동행지수순환변동치,,100.5,,200810
588,2015=100,16.1.4 경기종합지수,I16D,085Y026,,,동행지수순환변동치,,99.7,,200811
...,...,...,...,...,...,...,...,...,...,...,...
725,2015=100,16.1.4 경기종합지수,I16D,085Y026,,,동행지수순환변동치,,97.6,,202004
726,2015=100,16.1.4 경기종합지수,I16D,085Y026,,,동행지수순환변동치,,96.8,,202005
727,2015=100,16.1.4 경기종합지수,I16D,085Y026,,,동행지수순환변동치,,97,,202006
728,2015=100,16.1.4 경기종합지수,I16D,085Y026,,,동행지수순환변동치,,97.2,,202007
729,2015=100,16.1.4 경기종합지수,I16D,085Y026,,,동행지수순환변동치,,97.6,,202008

In [54]:
cci = cci.loc[:, ['TIME', 'DATA_VALUE']].reset_index(drop=True)
cci

       TIME DATA_VALUE
0    200807      100.9
1    200808      100.8
2    200809      100.8
3    200810      100.5
4    200811       99.7
..      ...        ...
141  202004       97.6
142  202005       96.8
143  202006         97
144  202007       97.2
145  202008       97.6

[146 rows x 2 columns]

### DB연동

In [67]:
conn = pymysql.connect(host = "127.0.0.1", user = [USER], passwd = [PASSWORD], db = [DATABASE])
cur = conn.cursor()

### DB table 생성

In [68]:
"""
Coincident Composite Index 저장할 table 생성
"""
create_table_query = """
CREATE TABLE IF NOT EXISTS coincident_composite_index(
    id BIGINT(7) NOT NULL AUTO_INCREMENT,
    year bigint(4) NOT NULL,
    month bigint(2) NOT NULL,
    cci double,
    primary key(id) )
    charset=utf8mb4;
"""
cur.execute(create_table_query)
# charset=utf8mb4; 유니코드 스트링 저장

0

In [69]:
cur.execute("desc coincident_composite_index")
table = cur.fetchall()
pd.DataFrame(list(table))

       0          1    2    3     4               5
0     id  bigint(7)   NO  PRI  None  auto_increment
1   year  bigint(4)   NO       None
2  month  bigint(2)   NO       None
3    cci     double  YES       None

### CCI 월별로 저장

In [70]:
"""
날짜에서 year, month 추출
"""
def extract_year_and_month(period):
    year = period[0:4]
    month = period[4:6]
    return year, month

In [74]:
"""
db table에 저장
"""
for i in range(len(cci)):
    query = """ 
    Insert into coincident_composite_index (year, month, cci) values (%d, %d, %f) ;
    """
    year, month = extract_year_and_month(cci.iloc[i].TIME)
    coincident_value = cci.iloc[i].DATA_VALUE

    mystring = (query % (int(year), int(month), float(coincident_value)))
    print(mystring)
    cur.execute(mystring)

    Insert into coincident_composite_index (year, month, cci) values (2008, 7, 100.900000) ;


    Insert into coincident_composite_index (year, month, cci) values (2008, 8, 100.800000) ;


    Insert into coincident_composite_index (year, month, cci) values (2008, 9, 100.800000) ;


    Insert into coincident_composite_index (year, month, cci) values (2008, 10, 100.500000) ;


    Insert into coincident_composite_index (year, month, cci) values (2008, 11, 99.700000) ;


    Insert into coincident_composite_index (year, month, cci) values (2008, 12, 98.500000) ;


    Insert into coincident_composite_index (year, month, cci) values (2009, 1, 97.800000) ;


    Insert into coincident_composite_index (year, month, cci) values (2009, 2, 97.700000) ;


    Insert into coincident_composite_index (year, month, cci) values (2009, 3, 97.700000) ;


    Insert into coincident_composite_index (year, month, cci) values (2009, 4, 97.900000) ;


    Insert into coincident_composite_index (year, month, cci) values (2009, 5, 97.900000) ;


    Insert into coincident_composite_index (year, month, cci) values (2009, 6, 98.500000) ;


    Insert into coincident_composite_index (year, month, cci) values (2009, 7, 98.700000) ;


    Insert into coincident_composite_index (year, month, cci) values (2009, 8, 98.800000) ;


    Insert into coincident_composite_index (year, month, cci) values (2009, 9, 98.800000) ;


    Insert into coincident_composite_index (year, month, cci) values (2009, 10, 99.100000) ;


    Insert into coincident_composite_index (year, month, cci) values (2009, 11, 99.300000) ;


    Insert into coincident_composite_index (year, month, cci) values (2009, 12, 99.200000) ;


    Insert into coincident_composite_index (year, month, cci) values (2010, 1, 99.300000) ;


    Insert into coincident_composite_index (year, month, cci) values (2010, 2, 99.700000) ;


    Insert into coincident_composite_index (year, month, cci) values (2010, 3, 100.000000) ;


    Insert into coincident_composite_index (year, month, cci) values (2010, 4, 100.300000) ;


    Insert into coincident_composite_index (year, month, cci) values (2010, 5, 100.700000) ;


    Insert into coincident_composite_index (year, month, cci) values (2010, 6, 100.800000) ;


    Insert into coincident_composite_index (year, month, cci) values (2010, 7, 101.000000) ;


    Insert into coincident_composite_index (year, month, cci) values (2010, 8, 100.600000) ;


    Insert into coincident_composite_index (year, month, cci) values (2010, 9, 100.200000) ;


    Insert into coincident_composite_index (year, month, cci) values (2010, 10, 99.800000) ;


    Insert into coincident_composite_index (year, month, cci) values (2010, 11, 99.800000) ;


    Insert into coincident_composite_index (year, month, cci) values (2010, 12, 99.900000) ;


    Insert into coincident_composite_index (year, month, cci) values (2011, 1, 100.700000) ;


    Insert into coincident_composite_index (year, month, cci) values (2011, 2, 100.600000) ;


    Insert into coincident_composite_index (year, month, cci) values (2011, 3, 100.700000) ;


    Insert into coincident_composite_index (year, month, cci) values (2011, 4, 100.400000) ;


    Insert into coincident_composite_index (year, month, cci) values (2011, 5, 100.700000) ;


    Insert into coincident_composite_index (year, month, cci) values (2011, 6, 101.000000) ;


    Insert into coincident_composite_index (year, month, cci) values (2011, 7, 101.100000) ;


    Insert into coincident_composite_index (year, month, cci) values (2011, 8, 101.200000) ;


    Insert into coincident_composite_index (year, month, cci) values (2011, 9, 100.800000) ;


    Insert into coincident_composite_index (year, month, cci) values (2011, 10, 100.900000) ;


    Insert into coincident_composite_index (year, month, cci) values (2011, 11, 100.500000) ;


    Insert into coincident_composite_index (year, month, cci) values (2011, 12, 100.500000) ;


    Insert into coincident_composite_index (year, month, cci) values (2012, 1, 100.300000) ;


    Insert into coincident_composite_index (year, month, cci) values (2012, 2, 100.600000) ;


    Insert into coincident_composite_index (year, month, cci) values (2012, 3, 100.600000) ;


    Insert into coincident_composite_index (year, month, cci) values (2012, 4, 100.600000) ;


    Insert into coincident_composite_index (year, month, cci) values (2012, 5, 100.600000) ;


    Insert into coincident_composite_index (year, month, cci) values (2012, 6, 100.600000) ;


    Insert into coincident_composite_index (year, month, cci) values (2012, 7, 100.800000) ;


    Insert into coincident_composite_index (year, month, cci) values (2012, 8, 100.300000) ;


    Insert into coincident_composite_index (year, month, cci) values (2012, 9, 100.200000) ;


    Insert into coincident_composite_index (year, month, cci) values (2012, 10, 99.900000) ;


    Insert into coincident_composite_index (year, month, cci) values (2012, 11, 100.000000) ;


    Insert into coincident_composite_index (year, month, cci) values (2012, 12, 100.000000) ;


    Insert into coincident_composite_index (year, month, cci) values (2013, 1, 99.900000) ;


    Insert into coincident_composite_index (year, month, cci) values (2013, 2, 99.900000) ;


    Insert into coincident_composite_index (year, month, cci) values (2013, 3, 99.700000) ;


    Insert into coincident_composite_index (year, month, cci) values (2013, 4, 99.800000) ;


    Insert into coincident_composite_index (year, month, cci) values (2013, 5, 99.800000) ;


    Insert into coincident_composite_index (year, month, cci) values (2013, 6, 100.000000) ;


    Insert into coincident_composite_index (year, month, cci) values (2013, 7, 99.900000) ;


    Insert into coincident_composite_index (year, month, cci) values (2013, 8, 99.900000) ;


    Insert into coincident_composite_index (year, month, cci) values (2013, 9, 99.800000) ;


    Insert into coincident_composite_index (year, month, cci) values (2013, 10, 100.000000) ;


    Insert into coincident_composite_index (year, month, cci) values (2013, 11, 100.000000) ;


    Insert into coincident_composite_index (year, month, cci) values (2013, 12, 100.100000) ;


    Insert into coincident_composite_index (year, month, cci) values (2014, 1, 100.300000) ;


    Insert into coincident_composite_index (year, month, cci) values (2014, 2, 100.400000) ;


    Insert into coincident_composite_index (year, month, cci) values (2014, 3, 100.600000) ;


    Insert into coincident_composite_index (year, month, cci) values (2014, 4, 100.400000) ;


    Insert into coincident_composite_index (year, month, cci) values (2014, 5, 100.200000) ;


    Insert into coincident_composite_index (year, month, cci) values (2014, 6, 100.100000) ;


    Insert into coincident_composite_index (year, month, cci) values (2014, 7, 100.200000) ;


    Insert into coincident_composite_index (year, month, cci) values (2014, 8, 100.300000) ;


    Insert into coincident_composite_index (year, month, cci) values (2014, 9, 100.100000) ;


    Insert into coincident_composite_index (year, month, cci) values (2014, 10, 99.800000) ;


    Insert into coincident_composite_index (year, month, cci) values (2014, 11, 99.600000) ;


    Insert into coincident_composite_index (year, month, cci) values (2014, 12, 99.900000) ;


    Insert into coincident_composite_index (year, month, cci) values (2015, 1, 99.900000) ;


    Insert into coincident_composite_index (year, month, cci) values (2015, 2, 100.300000) ;


    Insert into coincident_composite_index (year, month, cci) values (2015, 3, 100.100000) ;


    Insert into coincident_composite_index (year, month, cci) values (2015, 4, 100.200000) ;


    Insert into coincident_composite_index (year, month, cci) values (2015, 5, 99.800000) ;


    Insert into coincident_composite_index (year, month, cci) values (2015, 6, 99.700000) ;


    Insert into coincident_composite_index (year, month, cci) values (2015, 7, 99.600000) ;


    Insert into coincident_composite_index (year, month, cci) values (2015, 8, 100.000000) ;


    Insert into coincident_composite_index (year, month, cci) values (2015, 9, 100.500000) ;


    Insert into coincident_composite_index (year, month, cci) values (2015, 10, 100.900000) ;


    Insert into coincident_composite_index (year, month, cci) values (2015, 11, 100.700000) ;


    Insert into coincident_composite_index (year, month, cci) values (2015, 12, 100.700000) ;


    Insert into coincident_composite_index (year, month, cci) values (2016, 1, 100.400000) ;


    Insert into coincident_composite_index (year, month, cci) values (2016, 2, 100.300000) ;


    Insert into coincident_composite_index (year, month, cci) values (2016, 3, 100.100000) ;


    Insert into coincident_composite_index (year, month, cci) values (2016, 4, 100.100000) ;


    Insert into coincident_composite_index (year, month, cci) values (2016, 5, 100.300000) ;


    Insert into coincident_composite_index (year, month, cci) values (2016, 6, 100.600000) ;


    Insert into coincident_composite_index (year, month, cci) values (2016, 7, 100.800000) ;


    Insert into coincident_composite_index (year, month, cci) values (2016, 8, 100.900000) ;


    Insert into coincident_composite_index (year, month, cci) values (2016, 9, 100.700000) ;


    Insert into coincident_composite_index (year, month, cci) values (2016, 10, 100.500000) ;


    Insert into coincident_composite_index (year, month, cci) values (2016, 11, 100.600000) ;


    Insert into coincident_composite_index (year, month, cci) values (2016, 12, 100.800000) ;


    Insert into coincident_composite_index (year, month, cci) values (2017, 1, 101.200000) ;


    Insert into coincident_composite_index (year, month, cci) values (2017, 2, 101.200000) ;


    Insert into coincident_composite_index (year, month, cci) values (2017, 3, 101.400000) ;


    Insert into coincident_composite_index (year, month, cci) values (2017, 4, 101.400000) ;


    Insert into coincident_composite_index (year, month, cci) values (2017, 5, 101.500000) ;


    Insert into coincident_composite_index (year, month, cci) values (2017, 6, 101.400000) ;


    Insert into coincident_composite_index (year, month, cci) values (2017, 7, 101.400000) ;


    Insert into coincident_composite_index (year, month, cci) values (2017, 8, 101.300000) ;


    Insert into coincident_composite_index (year, month, cci) values (2017, 9, 101.500000) ;


    Insert into coincident_composite_index (year, month, cci) values (2017, 10, 101.400000) ;


    Insert into coincident_composite_index (year, month, cci) values (2017, 11, 101.400000) ;


    Insert into coincident_composite_index (year, month, cci) values (2017, 12, 101.100000) ;


    Insert into coincident_composite_index (year, month, cci) values (2018, 1, 101.100000) ;


    Insert into coincident_composite_index (year, month, cci) values (2018, 2, 101.300000) ;


    Insert into coincident_composite_index (year, month, cci) values (2018, 3, 101.400000) ;


    Insert into coincident_composite_index (year, month, cci) values (2018, 4, 101.400000) ;


    Insert into coincident_composite_index (year, month, cci) values (2018, 5, 101.300000) ;


    Insert into coincident_composite_index (year, month, cci) values (2018, 6, 101.200000) ;


    Insert into coincident_composite_index (year, month, cci) values (2018, 7, 101.100000) ;


    Insert into coincident_composite_index (year, month, cci) values (2018, 8, 101.000000) ;


    Insert into coincident_composite_index (year, month, cci) values (2018, 9, 100.700000) ;


    Insert into coincident_composite_index (year, month, cci) values (2018, 10, 100.700000) ;


    Insert into coincident_composite_index (year, month, cci) values (2018, 11, 100.500000) ;


    Insert into coincident_composite_index (year, month, cci) values (2018, 12, 100.400000) ;


    Insert into coincident_composite_index (year, month, cci) values (2019, 1, 100.400000) ;


    Insert into coincident_composite_index (year, month, cci) values (2019, 2, 100.000000) ;


    Insert into coincident_composite_index (year, month, cci) values (2019, 3, 99.900000) ;


    Insert into coincident_composite_index (year, month, cci) values (2019, 4, 99.900000) ;


    Insert into coincident_composite_index (year, month, cci) values (2019, 5, 100.100000) ;


    Insert into coincident_composite_index (year, month, cci) values (2019, 6, 100.100000) ;


    Insert into coincident_composite_index (year, month, cci) values (2019, 7, 100.000000) ;


    Insert into coincident_composite_index (year, month, cci) values (2019, 8, 100.200000) ;


    Insert into coincident_composite_index (year, month, cci) values (2019, 9, 100.200000) ;


    Insert into coincident_composite_index (year, month, cci) values (2019, 10, 100.200000) ;


    Insert into coincident_composite_index (year, month, cci) values (2019, 11, 100.100000) ;


    Insert into coincident_composite_index (year, month, cci) values (2019, 12, 100.500000) ;


    Insert into coincident_composite_index (year, month, cci) values (2020, 1, 100.700000) ;


    Insert into coincident_composite_index (year, month, cci) values (2020, 2, 100.100000) ;


    Insert into coincident_composite_index (year, month, cci) values (2020, 3, 99.000000) ;


    Insert into coincident_composite_index (year, month, cci) values (2020, 4, 97.600000) ;


    Insert into coincident_composite_index (year, month, cci) values (2020, 5, 96.800000) ;


    Insert into coincident_composite_index (year, month, cci) values (2020, 6, 97.000000) ;


    Insert into coincident_composite_index (year, month, cci) values (2020, 7, 97.200000) ;


    Insert into coincident_composite_index (year, month, cci) values (2020, 8, 97.600000) ;

In [75]:
# 확인
query = """ 
select * from coincident_composite_index ;
"""
cur.execute(query)
tmp = pd.DataFrame(list(cur.fetchall()))
tmp

       0     1   2      3
0      1  2008   7  100.9
1      2  2008   8  100.8
2      3  2008   9  100.8
3      4  2008  10  100.5
4      5  2008  11   99.7
..   ...   ...  ..    ...
141  142  2020   4   97.6
142  143  2020   5   96.8
143  144  2020   6   97.0
144  145  2020   7   97.2
145  146  2020   8   97.6

[146 rows x 4 columns]

In [76]:
conn.commit()
cur.close()
conn.close()