In [1]:
from urllib.request import urlopen
from bs4 import BeautifulSoup
import pandas as pd
import json
import pymysql

### 한국은행 OpenAPI 조회 서비스 사용 
http://ecos.bok.or.kr/jsp/openapi/OpenApiController.jsp?t=main

In [2]:
"""
한국은행 openAPI를 활용하여
소비자동향조사 받아옴
"""
def getEcosAPI(API_KEY, code, max, start_month, end_month):
    url = 'http://ecos.bok.or.kr/api/StatisticSearch/%s/json/kr/1/%s/%s/MM/%s/%s/?/?/?/' % (API_KEY, max, code, start_month, end_month)
    result = urlopen(url)
    html = result.read()
    
    return json.loads(html)

In [3]:
API_KEY = "YOUR_API_KEY"

data = getEcosAPI(API_KEY, code = '040Y002', max = 100000, start_month = '200801', end_month = '202010')

### 소비자심리지수 구하기
ITEM_CODE1 = 'FME'

In [4]:
data = data["StatisticSearch"]["row"]
produce = pd.DataFrame(data)

In [5]:
ccsi = produce[produce['ITEM_CODE1'] == 'FME']
ccsi

,UNIT_NAME,STAT_NAME,ITEM_CODE1,STAT_CODE,ITEM_CODE2,ITEM_CODE3,ITEM_NAME1,ITEM_NAME2,DATA_VALUE,ITEM_NAME3,TIME
79992,,"9.2.1 소비자동향조사(한국은행, 전국)(월)(2008년9월~)",FME,040Y002,99988,,소비자심리지수,전체,73.7,,200807
79993,,"9.2.1 소비자동향조사(한국은행, 전국)(월)(2008년9월~)",FME,040Y002,99988,,소비자심리지수,전체,91.8,,200808
79994,,"9.2.1 소비자동향조사(한국은행, 전국)(월)(2008년9월~)",FME,040Y002,99988,,소비자심리지수,전체,90.6,,200809
79995,,"9.2.1 소비자동향조사(한국은행, 전국)(월)(2008년9월~)",FME,040Y002,99988,,소비자심리지수,전체,77.9,,200810
79996,,"9.2.1 소비자동향조사(한국은행, 전국)(월)(2008년9월~)",FME,040Y002,99988,,소비자심리지수,전체,72.9,,200811
...,...,...,...,...,...,...,...,...,...,...,...
80134,,"9.2.1 소비자동향조사(한국은행, 전국)(월)(2008년9월~)",FME,040Y002,99988,,소비자심리지수,전체,77.6,,202005
80135,,"9.2.1 소비자동향조사(한국은행, 전국)(월)(2008년9월~)",FME,040Y002,99988,,소비자심리지수,전체,81.8,,202006
80136,,"9.2.1 소비자동향조사(한국은행, 전국)(월)(2008년9월~)",FME,040Y002,99988,,소비자심리지수,전체,84.2,,202007
80137,,"9.2.1 소비자동향조사(한국은행, 전국)(월)(2008년9월~)",FME,040Y002,99988,,소비자심리지수,전체,88.2,,202008
80138,,"9.2.1 소비자동향조사(한국은행, 전국)(월)(2008년9월~)",FME,040Y002,99988,,소비자심리지수,전체,79.4,,202009

In [6]:
ccsi = ccsi.loc[:, ['TIME', 'DATA_VALUE']].reset_index(drop=True)
ccsi

       TIME DATA_VALUE
0    200807       73.7
1    200808       91.8
2    200809       90.6
3    200810       77.9
4    200811       72.9
..      ...        ...
142  202005       77.6
143  202006       81.8
144  202007       84.2
145  202008       88.2
146  202009       79.4

[147 rows x 2 columns]

### DB연동

In [16]:
conn = pymysql.connect(host = "127.0.0.1", user = [USER], passwd = [PASSWORD], db = [DATABASE])
cur = conn.cursor()

### DB table 생성

In [17]:
"""
CCSI 저장할 table 생성
"""

create_table_query = """
CREATE TABLE IF NOT EXISTS ccsi(
    id BIGINT(7) NOT NULL AUTO_INCREMENT,
    year bigint(4) NOT NULL,
    month bigint(2) NOT NULL,
    ccsi double,
    primary key(id) )
    charset=utf8mb4;
"""
cur.execute(create_table_query)
# charset=utf8mb4; 유니코드 스트링 저장

0

In [18]:
cur.execute("desc ccsi")
table = cur.fetchall()
pd.DataFrame(list(table))

       0          1    2    3     4               5
0     id  bigint(7)   NO  PRI  None  auto_increment
1   year  bigint(4)   NO       None
2  month  bigint(2)   NO       None
3   ccsi     double  YES       None

### CCSI 월별로 저장

In [19]:
"""
날짜에서 year, month 추출
"""
def extract_year_and_month(period):
    year = period[0:4]
    month = period[4:6]
    return year, month

In [20]:
"""
db table에 저장
"""
for i in range(len(ccsi)):
    query = """ 
    Insert into ccsi (year, month, ccsi) values (%d, %d, %f) ;
    """
    year, month = extract_year_and_month(ccsi.iloc[i].TIME)
    ccsi_value = ccsi.iloc[i].DATA_VALUE

    mystring = (query % (int(year), int(month), float(ccsi_value)))
    print(mystring)
    cur.execute(mystring)

    Insert into ccsi (year, month, ccsi) values (2008, 7, 73.700000) ;


    Insert into ccsi (year, month, ccsi) values (2008, 8, 91.800000) ;


    Insert into ccsi (year, month, ccsi) values (2008, 9, 90.600000) ;


    Insert into ccsi (year, month, ccsi) values (2008, 10, 77.900000) ;


    Insert into ccsi (year, month, ccsi) values (2008, 11, 72.900000) ;


    Insert into ccsi (year, month, ccsi) values (2008, 12, 67.700000) ;


    Insert into ccsi (year, month, ccsi) values (2009, 1, 74.800000) ;


    Insert into ccsi (year, month, ccsi) values (2009, 2, 76.400000) ;


    Insert into ccsi (year, month, ccsi) values (2009, 3, 72.800000) ;


    Insert into ccsi (year, month, ccsi) values (2009, 4, 93.000000) ;


    Insert into ccsi (year, month, ccsi) values (2009, 5, 104.100000) ;


    Insert into ccsi (year, month, ccsi) values (2009, 6, 106.600000) ;


    Insert into ccsi (year, month, ccsi) values (2009, 7, 108.900000) ;


    Insert into ccsi (year, month, ccsi) values (2009, 8, 116.900000) ;


    Insert into ccsi (year, month, ccsi) values (2009, 9, 116.400000) ;


    Insert into ccsi (year, month, ccsi) values (2009, 10, 121.500000) ;


    Insert into ccsi (year, month, ccsi) values (2009, 11, 116.800000) ;


    Insert into ccsi (year, month, ccsi) values (2009, 12, 115.300000) ;


    Insert into ccsi (year, month, ccsi) values (2010, 1, 115.800000) ;


    Insert into ccsi (year, month, ccsi) values (2010, 2, 113.400000) ;


    Insert into ccsi (year, month, ccsi) values (2010, 3, 113.300000) ;


    Insert into ccsi (year, month, ccsi) values (2010, 4, 112.900000) ;


    Insert into ccsi (year, month, ccsi) values (2010, 5, 113.000000) ;


    Insert into ccsi (year, month, ccsi) values (2010, 6, 114.700000) ;


    Insert into ccsi (year, month, ccsi) values (2010, 7, 114.700000) ;


    Insert into ccsi (year, month, ccsi) values (2010, 8, 112.300000) ;


    Insert into ccsi (year, month, ccsi) values (2010, 9, 111.400000) ;


    Insert into ccsi (year, month, ccsi) values (2010, 10, 111.000000) ;


    Insert into ccsi (year, month, ccsi) values (2010, 11, 114.200000) ;


    Insert into ccsi (year, month, ccsi) values (2010, 12, 113.000000) ;


    Insert into ccsi (year, month, ccsi) values (2011, 1, 111.600000) ;


    Insert into ccsi (year, month, ccsi) values (2011, 2, 109.300000) ;


    Insert into ccsi (year, month, ccsi) values (2011, 3, 98.200000) ;


    Insert into ccsi (year, month, ccsi) values (2011, 4, 100.300000) ;


    Insert into ccsi (year, month, ccsi) values (2011, 5, 104.000000) ;


    Insert into ccsi (year, month, ccsi) values (2011, 6, 101.600000) ;


    Insert into ccsi (year, month, ccsi) values (2011, 7, 102.000000) ;


    Insert into ccsi (year, month, ccsi) values (2011, 8, 97.300000) ;


    Insert into ccsi (year, month, ccsi) values (2011, 9, 96.600000) ;


    Insert into ccsi (year, month, ccsi) values (2011, 10, 99.300000) ;


    Insert into ccsi (year, month, ccsi) values (2011, 11, 103.800000) ;


    Insert into ccsi (year, month, ccsi) values (2011, 12, 97.700000) ;


    Insert into ccsi (year, month, ccsi) values (2012, 1, 96.400000) ;


    Insert into ccsi (year, month, ccsi) values (2012, 2, 100.700000) ;


    Insert into ccsi (year, month, ccsi) values (2012, 3, 101.300000) ;


    Insert into ccsi (year, month, ccsi) values (2012, 4, 105.600000) ;


    Insert into ccsi (year, month, ccsi) values (2012, 5, 105.900000) ;


    Insert into ccsi (year, month, ccsi) values (2012, 6, 99.800000) ;


    Insert into ccsi (year, month, ccsi) values (2012, 7, 98.500000) ;


    Insert into ccsi (year, month, ccsi) values (2012, 8, 98.900000) ;


    Insert into ccsi (year, month, ccsi) values (2012, 9, 96.900000) ;


    Insert into ccsi (year, month, ccsi) values (2012, 10, 98.200000) ;


    Insert into ccsi (year, month, ccsi) values (2012, 11, 98.400000) ;


    Insert into ccsi (year, month, ccsi) values (2012, 12, 97.300000) ;


    Insert into ccsi (year, month, ccsi) values (2013, 1, 100.800000) ;


    Insert into ccsi (year, month, ccsi) values (2013, 2, 100.100000) ;


    Insert into ccsi (year, month, ccsi) values (2013, 3, 103.200000) ;


    Insert into ccsi (year, month, ccsi) values (2013, 4, 100.500000) ;


    Insert into ccsi (year, month, ccsi) values (2013, 5, 103.000000) ;


    Insert into ccsi (year, month, ccsi) values (2013, 6, 103.800000) ;


    Insert into ccsi (year, month, ccsi) values (2013, 7, 103.500000) ;


    Insert into ccsi (year, month, ccsi) values (2013, 8, 103.800000) ;


    Insert into ccsi (year, month, ccsi) values (2013, 9, 100.300000) ;


    Insert into ccsi (year, month, ccsi) values (2013, 10, 105.500000) ;


    Insert into ccsi (year, month, ccsi) values (2013, 11, 107.100000) ;


    Insert into ccsi (year, month, ccsi) values (2013, 12, 106.300000) ;


    Insert into ccsi (year, month, ccsi) values (2014, 1, 109.000000) ;


    Insert into ccsi (year, month, ccsi) values (2014, 2, 107.900000) ;


    Insert into ccsi (year, month, ccsi) values (2014, 3, 108.500000) ;


    Insert into ccsi (year, month, ccsi) values (2014, 4, 108.400000) ;


    Insert into ccsi (year, month, ccsi) values (2014, 5, 104.200000) ;


    Insert into ccsi (year, month, ccsi) values (2014, 6, 106.900000) ;


    Insert into ccsi (year, month, ccsi) values (2014, 7, 104.500000) ;


    Insert into ccsi (year, month, ccsi) values (2014, 8, 106.300000) ;


    Insert into ccsi (year, month, ccsi) values (2014, 9, 107.200000) ;


    Insert into ccsi (year, month, ccsi) values (2014, 10, 104.500000) ;


    Insert into ccsi (year, month, ccsi) values (2014, 11, 102.300000) ;


    Insert into ccsi (year, month, ccsi) values (2014, 12, 100.600000) ;


    Insert into ccsi (year, month, ccsi) values (2015, 1, 102.100000) ;


    Insert into ccsi (year, month, ccsi) values (2015, 2, 102.800000) ;


    Insert into ccsi (year, month, ccsi) values (2015, 3, 100.900000) ;


    Insert into ccsi (year, month, ccsi) values (2015, 4, 103.700000) ;


    Insert into ccsi (year, month, ccsi) values (2015, 5, 105.000000) ;


    Insert into ccsi (year, month, ccsi) values (2015, 6, 97.700000) ;


    Insert into ccsi (year, month, ccsi) values (2015, 7, 99.800000) ;


    Insert into ccsi (year, month, ccsi) values (2015, 8, 101.100000) ;


    Insert into ccsi (year, month, ccsi) values (2015, 9, 102.300000) ;


    Insert into ccsi (year, month, ccsi) values (2015, 10, 104.800000) ;


    Insert into ccsi (year, month, ccsi) values (2015, 11, 105.600000) ;


    Insert into ccsi (year, month, ccsi) values (2015, 12, 102.200000) ;


    Insert into ccsi (year, month, ccsi) values (2016, 1, 99.500000) ;


    Insert into ccsi (year, month, ccsi) values (2016, 2, 97.200000) ;


    Insert into ccsi (year, month, ccsi) values (2016, 3, 99.500000) ;


    Insert into ccsi (year, month, ccsi) values (2016, 4, 101.100000) ;


    Insert into ccsi (year, month, ccsi) values (2016, 5, 98.600000) ;


    Insert into ccsi (year, month, ccsi) values (2016, 6, 98.200000) ;


    Insert into ccsi (year, month, ccsi) values (2016, 7, 100.500000) ;


    Insert into ccsi (year, month, ccsi) values (2016, 8, 101.400000) ;


    Insert into ccsi (year, month, ccsi) values (2016, 9, 101.300000) ;


    Insert into ccsi (year, month, ccsi) values (2016, 10, 101.600000) ;


    Insert into ccsi (year, month, ccsi) values (2016, 11, 94.900000) ;


    Insert into ccsi (year, month, ccsi) values (2016, 12, 93.200000) ;


    Insert into ccsi (year, month, ccsi) values (2017, 1, 92.300000) ;


    Insert into ccsi (year, month, ccsi) values (2017, 2, 93.500000) ;


    Insert into ccsi (year, month, ccsi) values (2017, 3, 96.000000) ;


    Insert into ccsi (year, month, ccsi) values (2017, 4, 100.700000) ;


    Insert into ccsi (year, month, ccsi) values (2017, 5, 107.900000) ;


    Insert into ccsi (year, month, ccsi) values (2017, 6, 111.200000) ;


    Insert into ccsi (year, month, ccsi) values (2017, 7, 111.300000) ;


    Insert into ccsi (year, month, ccsi) values (2017, 8, 110.000000) ;


    Insert into ccsi (year, month, ccsi) values (2017, 9, 107.600000) ;


    Insert into ccsi (year, month, ccsi) values (2017, 10, 109.200000) ;


    Insert into ccsi (year, month, ccsi) values (2017, 11, 112.400000) ;


    Insert into ccsi (year, month, ccsi) values (2017, 12, 111.000000) ;


    Insert into ccsi (year, month, ccsi) values (2018, 1, 110.300000) ;


    Insert into ccsi (year, month, ccsi) values (2018, 2, 108.400000) ;


    Insert into ccsi (year, month, ccsi) values (2018, 3, 108.300000) ;


    Insert into ccsi (year, month, ccsi) values (2018, 4, 107.300000) ;


    Insert into ccsi (year, month, ccsi) values (2018, 5, 108.200000) ;


    Insert into ccsi (year, month, ccsi) values (2018, 6, 105.600000) ;


    Insert into ccsi (year, month, ccsi) values (2018, 7, 100.900000) ;


    Insert into ccsi (year, month, ccsi) values (2018, 8, 99.000000) ;


    Insert into ccsi (year, month, ccsi) values (2018, 9, 100.100000) ;


    Insert into ccsi (year, month, ccsi) values (2018, 10, 99.300000) ;


    Insert into ccsi (year, month, ccsi) values (2018, 11, 95.700000) ;


    Insert into ccsi (year, month, ccsi) values (2018, 12, 96.900000) ;


    Insert into ccsi (year, month, ccsi) values (2019, 1, 97.500000) ;


    Insert into ccsi (year, month, ccsi) values (2019, 2, 99.600000) ;


    Insert into ccsi (year, month, ccsi) values (2019, 3, 99.800000) ;


    Insert into ccsi (year, month, ccsi) values (2019, 4, 101.700000) ;


    Insert into ccsi (year, month, ccsi) values (2019, 5, 97.900000) ;


    Insert into ccsi (year, month, ccsi) values (2019, 6, 97.600000) ;


    Insert into ccsi (year, month, ccsi) values (2019, 7, 95.900000) ;


    Insert into ccsi (year, month, ccsi) values (2019, 8, 92.400000) ;


    Insert into ccsi (year, month, ccsi) values (2019, 9, 97.000000) ;


    Insert into ccsi (year, month, ccsi) values (2019, 10, 98.600000) ;


    Insert into ccsi (year, month, ccsi) values (2019, 11, 101.000000) ;


    Insert into ccsi (year, month, ccsi) values (2019, 12, 100.500000) ;


    Insert into ccsi (year, month, ccsi) values (2020, 1, 104.200000) ;


    Insert into ccsi (year, month, ccsi) values (2020, 2, 96.900000) ;


    Insert into ccsi (year, month, ccsi) values (2020, 3, 78.400000) ;


    Insert into ccsi (year, month, ccsi) values (2020, 4, 70.800000) ;


    Insert into ccsi (year, month, ccsi) values (2020, 5, 77.600000) ;


    Insert into ccsi (year, month, ccsi) values (2020, 6, 81.800000) ;


    Insert into ccsi (year, month, ccsi) values (2020, 7, 84.200000) ;


    Insert into ccsi (year, month, ccsi) values (2020, 8, 88.200000) ;


    Insert into ccsi (year, month, ccsi) values (2020, 9, 79.400000) ;

In [21]:
# 확인
query = """ 
select * from ccsi ;
"""
cur.execute(query)
tmp = pd.DataFrame(list(cur.fetchall()))
tmp

       0     1   2     3
0      1  2008   7  73.7
1      2  2008   8  91.8
2      3  2008   9  90.6
3      4  2008  10  77.9
4      5  2008  11  72.9
..   ...   ...  ..   ...
142  143  2020   5  77.6
143  144  2020   6  81.8
144  145  2020   7  84.2
145  146  2020   8  88.2
146  147  2020   9  79.4

[147 rows x 4 columns]

In [22]:
conn.commit()
cur.close()
conn.close()