In [48]:
import pymysql
import pandas as pd
from datetime import datetime, timedelta

### googletrend 2008.07~현재까지의 경제keyword에 대한 검색량 counts정보 dataframe화
#### 1차목표: 2018년1월1일부터의 데이터만 저장.

In [147]:
googletrends_df = pd.read_csv('./data/18.01.01-20.10.17.csv', header=1, sep=',', skip_blank_lines = True)
googletrends_df = googletrends_df.rename({'주': 'date', '경제: (대한민국)':'ratio'}, axis = 'columns')
googletrends_df

           date  ratio
0    2017-12-31     54
1    2018-01-07     49
2    2018-01-14     57
3    2018-01-21     52
4    2018-01-28     57
..          ...    ...
141  2020-09-13     88
142  2020-09-20     92
143  2020-09-27     68
144  2020-10-04     86
145  2020-10-11     82

[146 rows x 2 columns]

In [148]:
"""
google: week를 sunday to saturday로 설정
--> 날짜를 하루씩 더함
"""
def plus_one_day(googletrends_df):
    date2 = []
    for i in range(len(googletrends_df)):
        after_one_day = datetime.strptime(googletrends_df.iloc[i].date, '%Y-%m-%d').date() + timedelta(days=1)
        after_one_day = after_one_day.strftime("%Y-%m-%d")
        date2.append(after_one_day)
    return date2

In [149]:
googletrends_df['date'] = plus_one_day(googletrends_df)
googletrends_df

           date  ratio
0    2018-01-01     54
1    2018-01-08     49
2    2018-01-15     57
3    2018-01-22     52
4    2018-01-29     57
..          ...    ...
141  2020-09-14     88
142  2020-09-21     92
143  2020-09-28     68
144  2020-10-05     86
145  2020-10-12     82

[146 rows x 2 columns]

### DB연동

In [150]:
conn = pymysql.connect(host = "127.0.0.1", user = [USER], passwd = [PASSWORD], db = [DATABASE])
cur = conn.cursor()

In [151]:
cur.execute("show databases")
print(cur.fetchall())
cur.execute("use CLI")

(('information_schema',), ('CLI',), ('MusicBank',), ('mysql',), ('mytestdb',), ('performance_schema',), ('sys',))

0

### DB table 생성

In [152]:
"""
검색어 트랜드 정보 저장할 table 생성
"""

create_table_query = """
CREATE TABLE IF NOT EXISTS google_counting(
    id BIGINT(7) NOT NULL AUTO_INCREMENT,
    year bigint(4) NOT NULL,
    month bigint(2) NOT NULL,
    day bigint(2) NOT NULL,
    cnt double,
    primary key(id) )
    charset=utf8mb4;
"""
cur.execute(create_table_query)

0

In [153]:
cur.execute("desc google_counting")
table = cur.fetchall()
pd.DataFrame(list(table))

       0          1    2    3     4               5
0     id  bigint(7)   NO  PRI  None  auto_increment
1   year  bigint(4)   NO       None
2  month  bigint(2)   NO       None
3    day  bigint(2)   NO       None
4    cnt     double  YES       None

### google trend의 경제keyword counting정보 주별로 저장

In [154]:
"""
날짜에서 year, month, day 추출
"""
def extract_year_and_month_day(period):
    year = period.split('-')[0]
    month = period.split('-')[1]
    day = period.split('-')[2]
    return year, month, day

In [155]:
"""
db table에 저장
"""
for i in range(len(googletrends_df)):
    query = """ 
    Insert into google_counting (year, month, day, cnt) values (%d, %d, %d, %f) ;
    """
    year, month, day = extract_year_and_month_day(googletrends_df.iloc[i].date)
    google_cnt = googletrends_df.iloc[i].ratio

    mystring = (query % (int(year), int(month), int(day), float(google_cnt)))
    print(mystring)
    cur.execute(mystring)

    Insert into google_counting2 (year, month, day, cnt) values (2018, 1, 1, 54.000000) ;


    Insert into google_counting2 (year, month, day, cnt) values (2018, 1, 8, 49.000000) ;


    Insert into google_counting2 (year, month, day, cnt) values (2018, 1, 15, 57.000000) ;


    Insert into google_counting2 (year, month, day, cnt) values (2018, 1, 22, 52.000000) ;


    Insert into google_counting2 (year, month, day, cnt) values (2018, 1, 29, 57.000000) ;


    Insert into google_counting2 (year, month, day, cnt) values (2018, 2, 5, 55.000000) ;


    Insert into google_counting2 (year, month, day, cnt) values (2018, 2, 12, 46.000000) ;


    Insert into google_counting2 (year, month, day, cnt) values (2018, 2, 19, 52.000000) ;


    Insert into google_counting2 (year, month, day, cnt) values (2018, 2, 26, 48.000000) ;


    Insert into google_counting2 (year, month, day, cnt) values (2018, 3, 5, 55.000000) ;


    Insert into google_counting2 (year, month, day, cnt) values (2018, 3, 12, 60.000000) ;


    Insert into google_counting2 (year, month, day, cnt) values (2018, 3, 19, 72.000000) ;


    Insert into google_counting2 (year, month, day, cnt) values (2018, 3, 26, 78.000000) ;


    Insert into google_counting2 (year, month, day, cnt) values (2018, 4, 2, 74.000000) ;


    Insert into google_counting2 (year, month, day, cnt) values (2018, 4, 9, 71.000000) ;


    Insert into google_counting2 (year, month, day, cnt) values (2018, 4, 16, 70.000000) ;


    Insert into google_counting2 (year, month, day, cnt) values (2018, 4, 23, 71.000000) ;


    Insert into google_counting2 (year, month, day, cnt) values (2018, 4, 30, 65.000000) ;


    Insert into google_counting2 (year, month, day, cnt) values (2018, 5, 7, 61.000000) ;


    Insert into google_counting2 (year, month, day, cnt) values (2018, 5, 14, 69.000000) ;


    Insert into google_counting2 (year, month, day, cnt) values (2018, 5, 21, 72.000000) ;


    Insert into google_counting2 (year, month, day, cnt) values (2018, 5, 28, 80.000000) ;


    Insert into google_counting2 (year, month, day, cnt) values (2018, 6, 4, 64.000000) ;


    Insert into google_counting2 (year, month, day, cnt) values (2018, 6, 11, 70.000000) ;


    Insert into google_counting2 (year, month, day, cnt) values (2018, 6, 18, 71.000000) ;


    Insert into google_counting2 (year, month, day, cnt) values (2018, 6, 25, 61.000000) ;


    Insert into google_counting2 (year, month, day, cnt) values (2018, 7, 2, 64.000000) ;


    Insert into google_counting2 (year, month, day, cnt) values (2018, 7, 9, 59.000000) ;


    Insert into google_counting2 (year, month, day, cnt) values (2018, 7, 16, 60.000000) ;


    Insert into google_counting2 (year, month, day, cnt) values (2018, 7, 23, 51.000000) ;


    Insert into google_counting2 (year, month, day, cnt) values (2018, 7, 30, 51.000000) ;


    Insert into google_counting2 (year, month, day, cnt) values (2018, 8, 6, 57.000000) ;


    Insert into google_counting2 (year, month, day, cnt) values (2018, 8, 13, 57.000000) ;


    Insert into google_counting2 (year, month, day, cnt) values (2018, 8, 20, 68.000000) ;


    Insert into google_counting2 (year, month, day, cnt) values (2018, 8, 27, 63.000000) ;


    Insert into google_counting2 (year, month, day, cnt) values (2018, 9, 3, 68.000000) ;


    Insert into google_counting2 (year, month, day, cnt) values (2018, 9, 10, 68.000000) ;


    Insert into google_counting2 (year, month, day, cnt) values (2018, 9, 17, 60.000000) ;


    Insert into google_counting2 (year, month, day, cnt) values (2018, 9, 24, 55.000000) ;


    Insert into google_counting2 (year, month, day, cnt) values (2018, 10, 1, 68.000000) ;


    Insert into google_counting2 (year, month, day, cnt) values (2018, 10, 8, 70.000000) ;


    Insert into google_counting2 (year, month, day, cnt) values (2018, 10, 15, 65.000000) ;


    Insert into google_counting2 (year, month, day, cnt) values (2018, 10, 22, 81.000000) ;


    Insert into google_counting2 (year, month, day, cnt) values (2018, 10, 29, 91.000000) ;


    Insert into google_counting2 (year, month, day, cnt) values (2018, 11, 5, 75.000000) ;


    Insert into google_counting2 (year, month, day, cnt) values (2018, 11, 12, 71.000000) ;


    Insert into google_counting2 (year, month, day, cnt) values (2018, 11, 19, 68.000000) ;


    Insert into google_counting2 (year, month, day, cnt) values (2018, 11, 26, 72.000000) ;


    Insert into google_counting2 (year, month, day, cnt) values (2018, 12, 3, 73.000000) ;


    Insert into google_counting2 (year, month, day, cnt) values (2018, 12, 10, 69.000000) ;


    Insert into google_counting2 (year, month, day, cnt) values (2018, 12, 17, 76.000000) ;


    Insert into google_counting2 (year, month, day, cnt) values (2018, 12, 24, 54.000000) ;


    Insert into google_counting2 (year, month, day, cnt) values (2018, 12, 31, 60.000000) ;


    Insert into google_counting2 (year, month, day, cnt) values (2019, 1, 7, 69.000000) ;


    Insert into google_counting2 (year, month, day, cnt) values (2019, 1, 14, 67.000000) ;


    Insert into google_counting2 (year, month, day, cnt) values (2019, 1, 21, 61.000000) ;


    Insert into google_counting2 (year, month, day, cnt) values (2019, 1, 28, 63.000000) ;


    Insert into google_counting2 (year, month, day, cnt) values (2019, 2, 4, 48.000000) ;


    Insert into google_counting2 (year, month, day, cnt) values (2019, 2, 11, 63.000000) ;


    Insert into google_counting2 (year, month, day, cnt) values (2019, 2, 18, 69.000000) ;


    Insert into google_counting2 (year, month, day, cnt) values (2019, 2, 25, 56.000000) ;


    Insert into google_counting2 (year, month, day, cnt) values (2019, 3, 4, 64.000000) ;


    Insert into google_counting2 (year, month, day, cnt) values (2019, 3, 11, 72.000000) ;


    Insert into google_counting2 (year, month, day, cnt) values (2019, 3, 18, 75.000000) ;


    Insert into google_counting2 (year, month, day, cnt) values (2019, 3, 25, 72.000000) ;


    Insert into google_counting2 (year, month, day, cnt) values (2019, 4, 1, 74.000000) ;


    Insert into google_counting2 (year, month, day, cnt) values (2019, 4, 8, 71.000000) ;


    Insert into google_counting2 (year, month, day, cnt) values (2019, 4, 15, 70.000000) ;


    Insert into google_counting2 (year, month, day, cnt) values (2019, 4, 22, 65.000000) ;


    Insert into google_counting2 (year, month, day, cnt) values (2019, 4, 29, 75.000000) ;


    Insert into google_counting2 (year, month, day, cnt) values (2019, 5, 6, 77.000000) ;


    Insert into google_counting2 (year, month, day, cnt) values (2019, 5, 13, 87.000000) ;


    Insert into google_counting2 (year, month, day, cnt) values (2019, 5, 20, 95.000000) ;


    Insert into google_counting2 (year, month, day, cnt) values (2019, 5, 27, 87.000000) ;


    Insert into google_counting2 (year, month, day, cnt) values (2019, 6, 3, 78.000000) ;


    Insert into google_counting2 (year, month, day, cnt) values (2019, 6, 10, 83.000000) ;


    Insert into google_counting2 (year, month, day, cnt) values (2019, 6, 17, 77.000000) ;


    Insert into google_counting2 (year, month, day, cnt) values (2019, 6, 24, 52.000000) ;


    Insert into google_counting2 (year, month, day, cnt) values (2019, 7, 1, 74.000000) ;


    Insert into google_counting2 (year, month, day, cnt) values (2019, 7, 8, 92.000000) ;


    Insert into google_counting2 (year, month, day, cnt) values (2019, 7, 15, 82.000000) ;


    Insert into google_counting2 (year, month, day, cnt) values (2019, 7, 22, 69.000000) ;


    Insert into google_counting2 (year, month, day, cnt) values (2019, 7, 29, 72.000000) ;


    Insert into google_counting2 (year, month, day, cnt) values (2019, 8, 5, 77.000000) ;


    Insert into google_counting2 (year, month, day, cnt) values (2019, 8, 12, 77.000000) ;


    Insert into google_counting2 (year, month, day, cnt) values (2019, 8, 19, 84.000000) ;


    Insert into google_counting2 (year, month, day, cnt) values (2019, 8, 26, 86.000000) ;


    Insert into google_counting2 (year, month, day, cnt) values (2019, 9, 2, 71.000000) ;


    Insert into google_counting2 (year, month, day, cnt) values (2019, 9, 9, 67.000000) ;


    Insert into google_counting2 (year, month, day, cnt) values (2019, 9, 16, 86.000000) ;


    Insert into google_counting2 (year, month, day, cnt) values (2019, 9, 23, 75.000000) ;


    Insert into google_counting2 (year, month, day, cnt) values (2019, 9, 30, 74.000000) ;


    Insert into google_counting2 (year, month, day, cnt) values (2019, 10, 7, 71.000000) ;


    Insert into google_counting2 (year, month, day, cnt) values (2019, 10, 14, 90.000000) ;


    Insert into google_counting2 (year, month, day, cnt) values (2019, 10, 21, 76.000000) ;


    Insert into google_counting2 (year, month, day, cnt) values (2019, 10, 28, 81.000000) ;


    Insert into google_counting2 (year, month, day, cnt) values (2019, 11, 4, 84.000000) ;


    Insert into google_counting2 (year, month, day, cnt) values (2019, 11, 11, 79.000000) ;


    Insert into google_counting2 (year, month, day, cnt) values (2019, 11, 18, 77.000000) ;


    Insert into google_counting2 (year, month, day, cnt) values (2019, 11, 25, 79.000000) ;


    Insert into google_counting2 (year, month, day, cnt) values (2019, 12, 2, 73.000000) ;


    Insert into google_counting2 (year, month, day, cnt) values (2019, 12, 9, 70.000000) ;


    Insert into google_counting2 (year, month, day, cnt) values (2019, 12, 16, 72.000000) ;


    Insert into google_counting2 (year, month, day, cnt) values (2019, 12, 23, 61.000000) ;


    Insert into google_counting2 (year, month, day, cnt) values (2019, 12, 30, 55.000000) ;


    Insert into google_counting2 (year, month, day, cnt) values (2020, 1, 6, 64.000000) ;


    Insert into google_counting2 (year, month, day, cnt) values (2020, 1, 13, 63.000000) ;


    Insert into google_counting2 (year, month, day, cnt) values (2020, 1, 20, 57.000000) ;


    Insert into google_counting2 (year, month, day, cnt) values (2020, 1, 27, 65.000000) ;


    Insert into google_counting2 (year, month, day, cnt) values (2020, 2, 3, 64.000000) ;


    Insert into google_counting2 (year, month, day, cnt) values (2020, 2, 10, 60.000000) ;


    Insert into google_counting2 (year, month, day, cnt) values (2020, 2, 17, 63.000000) ;


    Insert into google_counting2 (year, month, day, cnt) values (2020, 2, 24, 66.000000) ;


    Insert into google_counting2 (year, month, day, cnt) values (2020, 3, 2, 77.000000) ;


    Insert into google_counting2 (year, month, day, cnt) values (2020, 3, 9, 69.000000) ;


    Insert into google_counting2 (year, month, day, cnt) values (2020, 3, 16, 97.000000) ;


    Insert into google_counting2 (year, month, day, cnt) values (2020, 3, 23, 99.000000) ;


    Insert into google_counting2 (year, month, day, cnt) values (2020, 3, 30, 96.000000) ;


    Insert into google_counting2 (year, month, day, cnt) values (2020, 4, 6, 97.000000) ;


    Insert into google_counting2 (year, month, day, cnt) values (2020, 4, 13, 92.000000) ;


    Insert into google_counting2 (year, month, day, cnt) values (2020, 4, 20, 85.000000) ;


    Insert into google_counting2 (year, month, day, cnt) values (2020, 4, 27, 78.000000) ;


    Insert into google_counting2 (year, month, day, cnt) values (2020, 5, 4, 82.000000) ;


    Insert into google_counting2 (year, month, day, cnt) values (2020, 5, 11, 88.000000) ;


    Insert into google_counting2 (year, month, day, cnt) values (2020, 5, 18, 90.000000) ;


    Insert into google_counting2 (year, month, day, cnt) values (2020, 5, 25, 84.000000) ;


    Insert into google_counting2 (year, month, day, cnt) values (2020, 6, 1, 92.000000) ;


    Insert into google_counting2 (year, month, day, cnt) values (2020, 6, 8, 92.000000) ;


    Insert into google_counting2 (year, month, day, cnt) values (2020, 6, 15, 100.000000) ;


    Insert into google_counting2 (year, month, day, cnt) values (2020, 6, 22, 98.000000) ;


    Insert into google_counting2 (year, month, day, cnt) values (2020, 6, 29, 89.000000) ;


    Insert into google_counting2 (year, month, day, cnt) values (2020, 7, 6, 89.000000) ;


    Insert into google_counting2 (year, month, day, cnt) values (2020, 7, 13, 80.000000) ;


    Insert into google_counting2 (year, month, day, cnt) values (2020, 7, 20, 82.000000) ;


    Insert into google_counting2 (year, month, day, cnt) values (2020, 7, 27, 78.000000) ;


    Insert into google_counting2 (year, month, day, cnt) values (2020, 8, 3, 75.000000) ;


    Insert into google_counting2 (year, month, day, cnt) values (2020, 8, 10, 80.000000) ;


    Insert into google_counting2 (year, month, day, cnt) values (2020, 8, 17, 79.000000) ;


    Insert into google_counting2 (year, month, day, cnt) values (2020, 8, 24, 74.000000) ;


    Insert into google_counting2 (year, month, day, cnt) values (2020, 8, 31, 84.000000) ;


    Insert into google_counting2 (year, month, day, cnt) values (2020, 9, 7, 88.000000) ;


    Insert into google_counting2 (year, month, day, cnt) values (2020, 9, 14, 88.000000) ;


    Insert into google_counting2 (year, month, day, cnt) values (2020, 9, 21, 92.000000) ;


    Insert into google_counting2 (year, month, day, cnt) values (2020, 9, 28, 68.000000) ;


    Insert into google_counting2 (year, month, day, cnt) values (2020, 10, 5, 86.000000) ;


    Insert into google_counting2 (year, month, day, cnt) values (2020, 10, 12, 82.000000) ;

In [156]:
# 확인
query = """ 
select * from google_counting ;
"""
cur.execute(query)
tmp=pd.DataFrame(list(cur.fetchall()))
tmp

       0     1   2   3     4
0      1  2018   1   1  54.0
1      2  2018   1   8  49.0
2      3  2018   1  15  57.0
3      4  2018   1  22  52.0
4      5  2018   1  29  57.0
..   ...   ...  ..  ..   ...
141  142  2020   9  14  88.0
142  143  2020   9  21  92.0
143  144  2020   9  28  68.0
144  145  2020  10   5  86.0
145  146  2020  10  12  82.0

[146 rows x 5 columns]

In [157]:
conn.commit()
cur.close()
conn.close()