In [9]:
import pandas as pd
import pymysql

### 빅카인즈에서 제공하는 키워드를 포함하는 뉴스기사수 dataframe으로 만들기
키워드: 침체, 금융위기, 불황, 저성장, 외환위기, 금리인하, 디플레이션, 불경기

In [14]:
news_df = pd.read_json('./data/bigkinds.json')
news_df

         date   침체  금융위기   불황  저성장  외환위기  금리인하  디플레이션  불경기
0    20150907  737   399  273  256   135    80     48   34
1    20150914  701   513  274  232   226   100     39   28
2    20150921  575   267  231  241   111    42     35   24
3    20150928  480   248  173  126    79    31     49   25
4    20151005  576   262  204  216   109    46     39   20
..        ...  ...   ...  ...  ...   ...   ...    ...  ...
264  20200928  489    90  114   27    78     8      4   15
265  20201005  816   183  177   47    78    10      6   23
266  20201012  857   199  176   55    91    21     20   10
267  20201019  911   155  143   64   129     9      6   16
268  20201026  915   187  167   72   110    10      2   16

[269 rows x 9 columns]

In [34]:
def getDate(df_row):
    date = str(df_row)

    year = date[0:4]
    month = date[4:6]
    day = date[6:9]
    return int(year), int(month), int(day)

### DB연동

In [28]:
conn = pymysql.connect(host = "127.0.0.1", user = [USER], passwd = [PASSWORD], db = [DATABASE], cursorclass = pymysql.cursors.DictCursor)
cur = conn.cursor()

cur.execute("show databases")
print(cur.fetchall())
cur.execute("use CLI")

[{'Database': 'information_schema'}, {'Database': 'CLI'}, {'Database': 'MusicBank'}, {'Database': 'mysql'}, {'Database': 'mytestdb'}, {'Database': 'performance_schema'}, {'Database': 'sys'}]

0

### DB table 생성

keyword1: 침체, keyword2:금융위기, keyword3: 불황, keyword4: 저성장, keyword5: 외환위기

In [29]:
"""
news counting 정보 저장할 table 생성
"""

create_table_query = """
CREATE TABLE IF NOT EXISTS news_counting2(
    id BIGINT(7) NOT NULL AUTO_INCREMENT,
    year bigint(4) NOT NULL,
    month bigint(2) NOT NULL,
    day bigint(2) NOT NULL, 
    keyword1 bigint(100),
    keyword2 bigint(100),
    keyword3 bigint(100),
    keyword4 bigint(100),
    keyword5 bigint(100),
    primary key(id) )
    charset=utf8mb4;
"""
cur.execute(create_table_query)
# charset=utf8mb4; 유니코드 스트링 저장

0

In [30]:
cur.execute("desc news_counting2")
table = cur.fetchall()
pd.DataFrame(list(table))

      Field         Type Null  Key Default           Extra
0        id    bigint(7)   NO  PRI    None  auto_increment
1      year    bigint(4)   NO         None
2     month    bigint(2)   NO         None
3       day    bigint(2)   NO         None
4  keyword1  bigint(100)  YES         None
5  keyword2  bigint(100)  YES         None
6  keyword3  bigint(100)  YES         None
7  keyword4  bigint(100)  YES         None
8  keyword5  bigint(100)  YES         None

### news counting정보 주별로 저장

In [35]:
"""
db table에 저장
"""
for i in range(len(news_df)):
    query = """ 
    Insert into news_counting2 (year, month, day, keyword1, keyword2, keyword3, keyword4, keyword5 ) values (%d, %d, %d, %d, %d, %d, %d, %d) ;
    """
    year, month, day = getDate(news_df.iloc[i]['date'])
    keyword1_cnt = news_df.iloc[i]['침체']
    keyword2_cnt = news_df.iloc[i]['금융위기']
    keyword3_cnt = news_df.iloc[i]['불황']
    keyword4_cnt = news_df.iloc[i]['저성장']
    keyword5_cnt = news_df.iloc[i]['외환위기']

    mystring = ( query % (year, month, day, keyword1_cnt, keyword2_cnt, keyword3_cnt, keyword4_cnt, keyword5_cnt) )
    print(mystring)
    cur.execute(mystring)

ear, month, day, keyword1, keyword2, keyword3, keyword4, keyword5 ) values (2018, 5, 14, 473, 293, 162, 83, 146) ;


    Insert into news_counting2 (year, month, day, keyword1, keyword2, keyword3, keyword4, keyword5 ) values (2018, 5, 21, 503, 212, 152, 79, 92) ;


    Insert into news_counting2 (year, month, day, keyword1, keyword2, keyword3, keyword4, keyword5 ) values (2018, 5, 28, 633, 237, 216, 81, 89) ;


    Insert into news_counting2 (year, month, day, keyword1, keyword2, keyword3, keyword4, keyword5 ) values (2018, 6, 4, 444, 199, 142, 99, 80) ;


    Insert into news_counting2 (year, month, day, keyword1, keyword2, keyword3, keyword4, keyword5 ) values (2018, 6, 11, 435, 235, 133, 57, 75) ;


    Insert into news_counting2 (year, month, day, keyword1, keyword2, keyword3, keyword4, keyword5 ) values (2018, 6, 18, 456, 229, 137, 84, 96) ;


    Insert into news_counting2 (year, month, day, keyword1, keyword2, keyword3, keyword4, keyword5 ) values (2018, 6, 25, 610, 183, 162, 59, 68) ;


    Insert into news_counting2 (year, month, day, keyword1, keyword2, keyword3, keyword4, keyword5 ) values (2018, 7, 2, 578, 190, 127, 50, 107) ;


    Insert into news_counting2 (year, month, day, keyword1, keyword2, keyword3, keyword4, keyword5 ) values (2018, 7, 9, 586, 327, 169, 75, 113) ;


    Insert into news_counting2 (year, month, day, keyword1, keyword2, keyword3, keyword4, keyword5 ) values (2018, 7, 16, 496, 177, 144, 85, 71) ;


    Insert into news_counting2 (year, month, day, keyword1, keyword2, keyword3, keyword4, keyword5 ) values (2018, 7, 23, 544, 150, 194, 92, 74) ;


    Insert into news_counting2 (year, month, day, keyword1, keyword2, keyword3, keyword4, keyword5 ) values (2018, 7, 30, 610, 199, 212, 86, 100) ;


    Insert into news_counting2 (year, month, day, keyword1, keyword2, keyword3, keyword4, keyword5 ) values (2018, 8, 6, 502, 175, 173, 51, 100) ;


    Insert into news_counting2 (year, month, day, keyword1, keyword2, keyword3, keyword4, keyword5 ) values (2018, 8, 13, 507, 452, 144, 87, 248) ;


    Insert into news_counting2 (year, month, day, keyword1, keyword2, keyword3, keyword4, keyword5 ) values (2018, 8, 20, 588, 370, 236, 89, 163) ;


    Insert into news_counting2 (year, month, day, keyword1, keyword2, keyword3, keyword4, keyword5 ) values (2018, 8, 27, 581, 332, 203, 203, 162) ;


    Insert into news_counting2 (year, month, day, keyword1, keyword2, keyword3, keyword4, keyword5 ) values (2018, 9, 3, 650, 285, 241, 121, 154) ;


    Insert into news_counting2 (year, month, day, keyword1, keyword2, keyword3, keyword4, keyword5 ) values (2018, 9, 10, 681, 469, 252, 85, 292) ;


    Insert into news_counting2 (year, month, day, keyword1, keyword2, keyword3, keyword4, keyword5 ) values (2018, 9, 17, 521, 196, 165, 88, 109) ;


    Insert into news_counting2 (year, month, day, keyword1, keyword2, keyword3, keyword4, keyword5 ) values (2018, 9, 24, 313, 186, 109, 35, 78) ;


    Insert into news_counting2 (year, month, day, keyword1, keyword2, keyword3, keyword4, keyword5 ) values (2018, 10, 1, 498, 240, 165, 83, 173) ;


    Insert into news_counting2 (year, month, day, keyword1, keyword2, keyword3, keyword4, keyword5 ) values (2018, 10, 8, 577, 324, 190, 95, 164) ;


    Insert into news_counting2 (year, month, day, keyword1, keyword2, keyword3, keyword4, keyword5 ) values (2018, 10, 15, 533, 316, 168, 68, 125) ;


    Insert into news_counting2 (year, month, day, keyword1, keyword2, keyword3, keyword4, keyword5 ) values (2018, 10, 22, 635, 361, 219, 100, 172) ;


    Insert into news_counting2 (year, month, day, keyword1, keyword2, keyword3, keyword4, keyword5 ) values (2018, 10, 29, 796, 462, 240, 203, 210) ;


    Insert into news_counting2 (year, month, day, keyword1, keyword2, keyword3, keyword4, keyword5 ) values (2018, 11, 5, 727, 312, 262, 153, 181) ;


    Insert into news_counting2 (year, month, day, keyword1, keyword2, keyword3, keyword4, keyword5 ) values (2018, 11, 12, 681, 323, 195, 112, 215) ;


    Insert into news_counting2 (year, month, day, keyword1, keyword2, keyword3, keyword4, keyword5 ) values (2018, 11, 19, 731, 279, 245, 155, 186) ;


    Insert into news_counting2 (year, month, day, keyword1, keyword2, keyword3, keyword4, keyword5 ) values (2018, 11, 26, 743, 329, 248, 146, 201) ;


    Insert into news_counting2 (year, month, day, keyword1, keyword2, keyword3, keyword4, keyword5 ) values (2018, 12, 3, 810, 209, 291, 129, 191) ;


    Insert into news_counting2 (year, month, day, keyword1, keyword2, keyword3, keyword4, keyword5 ) values (2018, 12, 10, 739, 246, 327, 111, 145) ;


    Insert into news_counting2 (year, month, day, keyword1, keyword2, keyword3, keyword4, keyword5 ) values (2018, 12, 17, 880, 239, 307, 135, 108) ;


    Insert into news_counting2 (year, month, day, keyword1, keyword2, keyword3, keyword4, keyword5 ) values (2018, 12, 24, 804, 270, 276, 93, 113) ;


    Insert into news_counting2 (year, month, day, keyword1, keyword2, keyword3, keyword4, keyword5 ) values (2018, 12, 31, 998, 354, 330, 301, 119) ;


    Insert into news_counting2 (year, month, day, keyword1, keyword2, keyword3, keyword4, keyword5 ) values (2019, 1, 7, 815, 362, 325, 126, 122) ;


    Insert into news_counting2 (year, month, day, keyword1, keyword2, keyword3, keyword4, keyword5 ) values (2019, 1, 14, 719, 264, 251, 117, 129) ;


    Insert into news_counting2 (year, month, day, keyword1, keyword2, keyword3, keyword4, keyword5 ) values (2019, 1, 21, 845, 319, 252, 122, 173) ;


    Insert into news_counting2 (year, month, day, keyword1, keyword2, keyword3, keyword4, keyword5 ) values (2019, 1, 28, 1044, 277, 278, 145, 125) ;


    Insert into news_counting2 (year, month, day, keyword1, keyword2, keyword3, keyword4, keyword5 ) values (2019, 2, 4, 450, 135, 177, 57, 64) ;


    Insert into news_counting2 (year, month, day, keyword1, keyword2, keyword3, keyword4, keyword5 ) values (2019, 2, 11, 870, 300, 263, 102, 143) ;


    Insert into news_counting2 (year, month, day, keyword1, keyword2, keyword3, keyword4, keyword5 ) values (2019, 2, 18, 633, 196, 186, 87, 102) ;


    Insert into news_counting2 (year, month, day, keyword1, keyword2, keyword3, keyword4, keyword5 ) values (2019, 2, 25, 539, 243, 189, 115, 65) ;


    Insert into news_counting2 (year, month, day, keyword1, keyword2, keyword3, keyword4, keyword5 ) values (2019, 3, 4, 728, 280, 199, 118, 130) ;


    Insert into news_counting2 (year, month, day, keyword1, keyword2, keyword3, keyword4, keyword5 ) values (2019, 3, 11, 732, 192, 201, 114, 91) ;


    Insert into news_counting2 (year, month, day, keyword1, keyword2, keyword3, keyword4, keyword5 ) values (2019, 3, 18, 714, 247, 208, 85, 74) ;


    Insert into news_counting2 (year, month, day, keyword1, keyword2, keyword3, keyword4, keyword5 ) values (2019, 3, 25, 915, 270, 248, 110, 92) ;


    Insert into news_counting2 (year, month, day, keyword1, keyword2, keyword3, keyword4, keyword5 ) values (2019, 4, 1, 891, 195, 250, 87, 111) ;


    Insert into news_counting2 (year, month, day, keyword1, keyword2, keyword3, keyword4, keyword5 ) values (2019, 4, 8, 710, 246, 217, 79, 105) ;


    Insert into news_counting2 (year, month, day, keyword1, keyword2, keyword3, keyword4, keyword5 ) values (2019, 4, 15, 645, 202, 160, 85, 83) ;


    Insert into news_counting2 (year, month, day, keyword1, keyword2, keyword3, keyword4, keyword5 ) values (2019, 4, 22, 796, 385, 184, 96, 141) ;


    Insert into news_counting2 (year, month, day, keyword1, keyword2, keyword3, keyword4, keyword5 ) values (2019, 4, 29, 645, 261, 204, 86, 127) ;


    Insert into news_counting2 (year, month, day, keyword1, keyword2, keyword3, keyword4, keyword5 ) values (2019, 5, 6, 685, 242, 190, 136, 113) ;


    Insert into news_counting2 (year, month, day, keyword1, keyword2, keyword3, keyword4, keyword5 ) values (2019, 5, 13, 687, 258, 221, 198, 118) ;


    Insert into news_counting2 (year, month, day, keyword1, keyword2, keyword3, keyword4, keyword5 ) values (2019, 5, 20, 600, 236, 170, 147, 113) ;


    Insert into news_counting2 (year, month, day, keyword1, keyword2, keyword3, keyword4, keyword5 ) values (2019, 5, 27, 660, 224, 228, 85, 68) ;


    Insert into news_counting2 (year, month, day, keyword1, keyword2, keyword3, keyword4, keyword5 ) values (2019, 6, 3, 630, 247, 194, 86, 93) ;


    Insert into news_counting2 (year, month, day, keyword1, keyword2, keyword3, keyword4, keyword5 ) values (2019, 6, 10, 620, 148, 234, 67, 127) ;


    Insert into news_counting2 (year, month, day, keyword1, keyword2, keyword3, keyword4, keyword5 ) values (2019, 6, 17, 558, 207, 216, 96, 117) ;


    Insert into news_counting2 (year, month, day, keyword1, keyword2, keyword3, keyword4, keyword5 ) values (2019, 6, 24, 697, 204, 204, 113, 147) ;


    Insert into news_counting2 (year, month, day, keyword1, keyword2, keyword3, keyword4, keyword5 ) values (2019, 7, 1, 743, 309, 199, 142, 114) ;


    Insert into news_counting2 (year, month, day, keyword1, keyword2, keyword3, keyword4, keyword5 ) values (2019, 7, 8, 599, 311, 209, 76, 178) ;


    Insert into news_counting2 (year, month, day, keyword1, keyword2, keyword3, keyword4, keyword5 ) values (2019, 7, 15, 565, 268, 151, 90, 132) ;


    Insert into news_counting2 (year, month, day, keyword1, keyword2, keyword3, keyword4, keyword5 ) values (2019, 7, 22, 615, 195, 185, 104, 87) ;


    Insert into news_counting2 (year, month, day, keyword1, keyword2, keyword3, keyword4, keyword5 ) values (2019, 7, 29, 685, 338, 200, 75, 90) ;


    Insert into news_counting2 (year, month, day, keyword1, keyword2, keyword3, keyword4, keyword5 ) values (2019, 8, 5, 649, 506, 194, 77, 201) ;


    Insert into news_counting2 (year, month, day, keyword1, keyword2, keyword3, keyword4, keyword5 ) values (2019, 8, 12, 901, 343, 222, 91, 142) ;


    Insert into news_counting2 (year, month, day, keyword1, keyword2, keyword3, keyword4, keyword5 ) values (2019, 8, 19, 896, 264, 256, 78, 104) ;


    Insert into news_counting2 (year, month, day, keyword1, keyword2, keyword3, keyword4, keyword5 ) values (2019, 8, 26, 815, 365, 201, 113, 79) ;


    Insert into news_counting2 (year, month, day, keyword1, keyword2, keyword3, keyword4, keyword5 ) values (2019, 9, 2, 967, 226, 237, 144, 112) ;


    Insert into news_counting2 (year, month, day, keyword1, keyword2, keyword3, keyword4, keyword5 ) values (2019, 9, 9, 664, 149, 222, 119, 80) ;


    Insert into news_counting2 (year, month, day, keyword1, keyword2, keyword3, keyword4, keyword5 ) values (2019, 9, 16, 722, 244, 281, 124, 72) ;


    Insert into news_counting2 (year, month, day, keyword1, keyword2, keyword3, keyword4, keyword5 ) values (2019, 9, 23, 742, 266, 216, 131, 100) ;


    Insert into news_counting2 (year, month, day, keyword1, keyword2, keyword3, keyword4, keyword5 ) values (2019, 9, 30, 813, 235, 215, 127, 102) ;


    Insert into news_counting2 (year, month, day, keyword1, keyword2, keyword3, keyword4, keyword5 ) values (2019, 10, 7, 635, 178, 205, 111, 75) ;


    Insert into news_counting2 (year, month, day, keyword1, keyword2, keyword3, keyword4, keyword5 ) values (2019, 10, 14, 773, 267, 222, 172, 80) ;


    Insert into news_counting2 (year, month, day, keyword1, keyword2, keyword3, keyword4, keyword5 ) values (2019, 10, 21, 804, 281, 217, 268, 141) ;


    Insert into news_counting2 (year, month, day, keyword1, keyword2, keyword3, keyword4, keyword5 ) values (2019, 10, 28, 689, 282, 259, 198, 135) ;


    Insert into news_counting2 (year, month, day, keyword1, keyword2, keyword3, keyword4, keyword5 ) values (2019, 11, 4, 750, 281, 202, 202, 172) ;


    Insert into news_counting2 (year, month, day, keyword1, keyword2, keyword3, keyword4, keyword5 ) values (2019, 11, 11, 748, 253, 200, 183, 95) ;


    Insert into news_counting2 (year, month, day, keyword1, keyword2, keyword3, keyword4, keyword5 ) values (2019, 11, 18, 662, 220, 255, 159, 106) ;


    Insert into news_counting2 (year, month, day, keyword1, keyword2, keyword3, keyword4, keyword5 ) values (2019, 11, 25, 559, 301, 184, 167, 109) ;


    Insert into news_counting2 (year, month, day, keyword1, keyword2, keyword3, keyword4, keyword5 ) values (2019, 12, 2, 584, 191, 254, 197, 174) ;


    Insert into news_counting2 (year, month, day, keyword1, keyword2, keyword3, keyword4, keyword5 ) values (2019, 12, 9, 655, 283, 212, 148, 306) ;


    Insert into news_counting2 (year, month, day, keyword1, keyword2, keyword3, keyword4, keyword5 ) values (2019, 12, 16, 651, 179, 264, 191, 98) ;


    Insert into news_counting2 (year, month, day, keyword1, keyword2, keyword3, keyword4, keyword5 ) values (2019, 12, 23, 553, 217, 228, 163, 70) ;


    Insert into news_counting2 (year, month, day, keyword1, keyword2, keyword3, keyword4, keyword5 ) values (2019, 12, 30, 733, 296, 253, 386, 121) ;


    Insert into news_counting2 (year, month, day, keyword1, keyword2, keyword3, keyword4, keyword5 ) values (2020, 1, 6, 610, 173, 215, 138, 68) ;


    Insert into news_counting2 (year, month, day, keyword1, keyword2, keyword3, keyword4, keyword5 ) values (2020, 1, 13, 558, 200, 232, 187, 138) ;


    Insert into news_counting2 (year, month, day, keyword1, keyword2, keyword3, keyword4, keyword5 ) values (2020, 1, 20, 511, 240, 215, 150, 124) ;


    Insert into news_counting2 (year, month, day, keyword1, keyword2, keyword3, keyword4, keyword5 ) values (2020, 1, 27, 614, 175, 228, 109, 113) ;


    Insert into news_counting2 (year, month, day, keyword1, keyword2, keyword3, keyword4, keyword5 ) values (2020, 2, 3, 870, 151, 193, 130, 102) ;


    Insert into news_counting2 (year, month, day, keyword1, keyword2, keyword3, keyword4, keyword5 ) values (2020, 2, 10, 1137, 137, 212, 111, 62) ;


    Insert into news_counting2 (year, month, day, keyword1, keyword2, keyword3, keyword4, keyword5 ) values (2020, 2, 17, 1304, 219, 310, 87, 93) ;


    Insert into news_counting2 (year, month, day, keyword1, keyword2, keyword3, keyword4, keyword5 ) values (2020, 2, 24, 1132, 350, 212, 68, 150) ;


    Insert into news_counting2 (year, month, day, keyword1, keyword2, keyword3, keyword4, keyword5 ) values (2020, 3, 2, 1445, 541, 231, 66, 246) ;


    Insert into news_counting2 (year, month, day, keyword1, keyword2, keyword3, keyword4, keyword5 ) values (2020, 3, 9, 1812, 899, 342, 76, 147) ;


    Insert into news_counting2 (year, month, day, keyword1, keyword2, keyword3, keyword4, keyword5 ) values (2020, 3, 16, 2135, 1712, 305, 100, 359) ;


    Insert into news_counting2 (year, month, day, keyword1, keyword2, keyword3, keyword4, keyword5 ) values (2020, 3, 23, 2210, 1252, 341, 105, 372) ;


    Insert into news_counting2 (year, month, day, keyword1, keyword2, keyword3, keyword4, keyword5 ) values (2020, 3, 30, 2140, 933, 340, 74, 364) ;


    Insert into news_counting2 (year, month, day, keyword1, keyword2, keyword3, keyword4, keyword5 ) values (2020, 4, 6, 1873, 824, 283, 69, 288) ;


    Insert into news_counting2 (year, month, day, keyword1, keyword2, keyword3, keyword4, keyword5 ) values (2020, 4, 13, 1606, 645, 215, 57, 328) ;


    Insert into news_counting2 (year, month, day, keyword1, keyword2, keyword3, keyword4, keyword5 ) values (2020, 4, 20, 1931, 746, 317, 99, 496) ;


    Insert into news_counting2 (year, month, day, keyword1, keyword2, keyword3, keyword4, keyword5 ) values (2020, 4, 27, 1541, 707, 244, 57, 256) ;


    Insert into news_counting2 (year, month, day, keyword1, keyword2, keyword3, keyword4, keyword5 ) values (2020, 5, 4, 1589, 473, 209, 64, 243) ;


    Insert into news_counting2 (year, month, day, keyword1, keyword2, keyword3, keyword4, keyword5 ) values (2020, 5, 11, 1751, 429, 270, 91, 343) ;


    Insert into news_counting2 (year, month, day, keyword1, keyword2, keyword3, keyword4, keyword5 ) values (2020, 5, 18, 1520, 383, 170, 79, 271) ;


    Insert into news_counting2 (year, month, day, keyword1, keyword2, keyword3, keyword4, keyword5 ) values (2020, 5, 25, 1488, 705, 208, 90, 209) ;


    Insert into news_counting2 (year, month, day, keyword1, keyword2, keyword3, keyword4, keyword5 ) values (2020, 6, 1, 1279, 507, 219, 65, 258) ;


    Insert into news_counting2 (year, month, day, keyword1, keyword2, keyword3, keyword4, keyword5 ) values (2020, 6, 8, 1373, 461, 251, 98, 223) ;


    Insert into news_counting2 (year, month, day, keyword1, keyword2, keyword3, keyword4, keyword5 ) values (2020, 6, 15, 1149, 216, 172, 78, 111) ;


    Insert into news_counting2 (year, month, day, keyword1, keyword2, keyword3, keyword4, keyword5 ) values (2020, 6, 22, 1312, 324, 213, 75, 162) ;


    Insert into news_counting2 (year, month, day, keyword1, keyword2, keyword3, keyword4, keyword5 ) values (2020, 6, 29, 1221, 351, 186, 85, 289) ;


    Insert into news_counting2 (year, month, day, keyword1, keyword2, keyword3, keyword4, keyword5 ) values (2020, 7, 6, 1169, 270, 177, 51, 156) ;


    Insert into news_counting2 (year, month, day, keyword1, keyword2, keyword3, keyword4, keyword5 ) values (2020, 7, 13, 1083, 384, 185, 89, 296) ;


    Insert into news_counting2 (year, month, day, keyword1, keyword2, keyword3, keyword4, keyword5 ) values (2020, 7, 20, 1145, 247, 153, 57, 258) ;


    Insert into news_counting2 (year, month, day, keyword1, keyword2, keyword3, keyword4, keyword5 ) values (2020, 7, 27, 1035, 305, 188, 88, 187) ;


    Insert into news_counting2 (year, month, day, keyword1, keyword2, keyword3, keyword4, keyword5 ) values (2020, 8, 3, 896, 176, 142, 89, 99) ;


    Insert into news_counting2 (year, month, day, keyword1, keyword2, keyword3, keyword4, keyword5 ) values (2020, 8, 10, 939, 274, 171, 48, 167) ;


    Insert into news_counting2 (year, month, day, keyword1, keyword2, keyword3, keyword4, keyword5 ) values (2020, 8, 17, 777, 195, 155, 49, 92) ;


    Insert into news_counting2 (year, month, day, keyword1, keyword2, keyword3, keyword4, keyword5 ) values (2020, 8, 24, 875, 229, 174, 71, 150) ;


    Insert into news_counting2 (year, month, day, keyword1, keyword2, keyword3, keyword4, keyword5 ) values (2020, 8, 31, 963, 298, 182, 71, 135) ;


    Insert into news_counting2 (year, month, day, keyword1, keyword2, keyword3, keyword4, keyword5 ) values (2020, 9, 7, 927, 292, 209, 53, 134) ;


    Insert into news_counting2 (year, month, day, keyword1, keyword2, keyword3, keyword4, keyword5 ) values (2020, 9, 14, 943, 181, 209, 80, 89) ;


    Insert into news_counting2 (year, month, day, keyword1, keyword2, keyword3, keyword4, keyword5 ) values (2020, 9, 21, 1054, 261, 177, 36, 187) ;


    Insert into news_counting2 (year, month, day, keyword1, keyword2, keyword3, keyword4, keyword5 ) values (2020, 9, 28, 489, 90, 114, 27, 78) ;


    Insert into news_counting2 (year, month, day, keyword1, keyword2, keyword3, keyword4, keyword5 ) values (2020, 10, 5, 816, 183, 177, 47, 78) ;


    Insert into news_counting2 (year, month, day, keyword1, keyword2, keyword3, keyword4, keyword5 ) values (2020, 10, 12, 857, 199, 176, 55, 91) ;


    Insert into news_counting2 (year, month, day, keyword1, keyword2, keyword3, keyword4, keyword5 ) values (2020, 10, 19, 911, 155, 143, 64, 129) ;


    Insert into news_counting2 (year, month, day, keyword1, keyword2, keyword3, keyword4, keyword5 ) values (2020, 10, 26, 915, 187, 167, 72, 110) ;

In [36]:
# 확인
query = """ 
select * from news_counting2 ;
"""
cur.execute(query)
tmp = pd.DataFrame(list(cur.fetchall()))
tmp

      id  year  month  day  keyword1  keyword2  keyword3  keyword4  keyword5
0      1  2015      9    7       737       399       273       256       135
1      2  2015      9   14       701       513       274       232       226
2      3  2015      9   21       575       267       231       241       111
3      4  2015      9   28       480       248       173       126        79
4      5  2015     10    5       576       262       204       216       109
..   ...   ...    ...  ...       ...       ...       ...       ...       ...
264  265  2020      9   28       489        90       114        27        78
265  266  2020     10    5       816       183       177        47        78
266  267  2020     10   12       857       199       176        55        91
267  268  2020     10   19       911       155       143        64       129
268  269  2020     10   26       915       187       167        72       110

[269 rows x 9 columns]

In [37]:
conn.commit()
cur.close()
conn.close()