In [11]:
import pymysql
import pandas as pd
from datetime import datetime, timedelta

import os
import sys
import urllib.request
import re
import json

### kakaotrend 전체기간동안의 경제keyword에 대한 검색량 counts정보 dataframe화
#### 2018.01.01 ~

In [2]:
kakaotrends_df = pd.read_csv('./data/kakaotrend.csv', header=7, sep=',', skip_blank_lines = True)
kakaotrends_df = kakaotrends_df.rename({'일': 'date', '경제':'kakao'}, axis = 'columns')
kakaotrends_df = kakaotrends_df[0:147]
kakaotrends_df

           date kakao
0    2018-01-01    26
1    2018-01-08    24
2    2018-01-15    23
3    2018-01-22    21
4    2018-01-29    26
..          ...   ...
142  2020-09-21    28
143  2020-09-28    19
144  2020-10-05    21
145  2020-10-12    24
146  2020-10-19    21

[147 rows x 2 columns]

### googletrend 전체기간동안의 경제keyword에 대한 검색량 counts정보 dataframe화
#### 2015.09.01 ~

In [9]:
googletrends_df = pd.read_csv('./data/googletrend.csv', header=1, sep=',', skip_blank_lines = True)
googletrends_df = googletrends_df.rename({'주': 'date', '경제: (대한민국)':'google'}, axis = 'columns')

In [12]:
"""
google: week를 sunday to saturday로 설정
--> 날짜를 하루씩 더함
"""
def plus_one_day(googletrends_df):
    date2 = []
    for i in range(len(googletrends_df)):
        after_one_day = datetime.strptime(googletrends_df.iloc[i].date, '%Y-%m-%d').date() + timedelta(days=1)
        after_one_day = after_one_day.strftime("%Y-%m-%d")
        date2.append(after_one_day)
    return date2

googletrends_df['date'] = plus_one_day(googletrends_df)
googletrends_df

           date  google
0    2015-09-07      69
1    2015-09-14      74
2    2015-09-21      69
3    2015-09-28      62
4    2015-10-05      61
..          ...     ...
264  2020-09-28      63
265  2020-10-05      81
266  2020-10-12      82
267  2020-10-19      93
268  2020-10-26      90

[269 rows x 2 columns]

### naver datalab 전체기간동안의 경제keyword에 대한 검색량 counts정보 dataframe화
#### 2016.01.01 ~

In [4]:
client_id = "YOUR_CLIENT_ID"
client_secret = "YOUR_CLIENT_SECRET"

start_date = '2016-01-01'
today = datetime.date.today().strftime('%Y-%m-%d')
url = "https://openapi.naver.com/v1/datalab/search";
body = "{\"startDate\":\""+start_date+"\",\"endDate\":\""+today+"\",\"timeUnit\":\"week\",\"keywordGroups\":[{\"groupName\":\"경제\",\"keywords\":[\"경제\"]}]}";

request = urllib.request.Request(url)
request.add_header("X-Naver-Client-Id",client_id)
request.add_header("X-Naver-Client-Secret",client_secret)
request.add_header("Content-Type","application/json")
response = urllib.request.urlopen(request, data=body.encode("utf-8"))
rescode = response.getcode()
if(rescode==200):
    response_body = response.read()
    scrapped = response_body.decode('utf-8')
else:
    print("Error Code:" + rescode)

In [5]:
jsonResult = json.loads(scrapped)
jsonResult['results'][0]['data']

[{'period': '2015-12-28', 'ratio': 19.65163},
 {'period': '2016-01-04', 'ratio': 26.05846},
 {'period': '2016-01-11', 'ratio': 25.16599},
 {'period': '2016-01-18', 'ratio': 27.38639},
 {'period': '2016-01-25', 'ratio': 24.72622},
 {'period': '2016-02-01', 'ratio': 23.01888},
 {'period': '2016-02-08', 'ratio': 23.62248},
 {'period': '2016-02-15', 'ratio': 25.2824},
 {'period': '2016-02-22', 'ratio': 23.76476},
 {'period': '2016-02-29', 'ratio': 28.85228},
 {'period': '2016-03-07', 'ratio': 31.58144},
 {'period': '2016-03-14', 'ratio': 28.44701},
 {'period': '2016-03-21', 'ratio': 26.88626},
 {'period': '2016-03-28', 'ratio': 26.26972},
 {'period': '2016-04-04', 'ratio': 25.94205},
 {'period': '2016-04-11', 'ratio': 25.57126},
 {'period': '2016-04-18', 'ratio': 26.74829},
 {'period': '2016-04-25', 'ratio': 25.11425},
 {'period': '2016-05-02', 'ratio': 22.536},
 {'period': '2016-05-09', 'ratio': 27.78304},
 {'period': '2016-05-16', 'ratio': 27.96412},
 {'period': '2016-05-23', 'ratio': 29.37397},
 {'period': '2016-05-30', 'ratio': 26.40769},
 {'period': '2016-06-06', 'ratio': 29.55936},
 {'period': '2016-06-13', 'ratio': 29.69302},
 {'period': '2016-06-20', 'ratio': 29.43864},
 {'period': '2016-06-27', 'ratio': 25.81271},
 {'period': '2016-07-04', 'ratio': 22.66103},
 {'period': '2016-07-11', 'ratio': 23.07493},
 {'period': '2016-07-18', 'ratio': 19.04802},
 {'period': '2016-07-25', 'ratio': 17.29757},
 {'period': '2016-08-01', 'ratio': 17.07338},
 {'period': '2016-08-08', 'ratio': 17.49159},
 {'period': '2016-08-15', 'ratio': 22.58342},
 {'period': '2016-08-22', 'ratio': 22.54462},
 {'period': '2016-08-29', 'ratio': 22.7645},
 {'period': '2016-09-05', 'ratio': 24.45891},
 {'period': '2016-09-12', 'ratio': 18.02621},
 {'period': '2016-09-19', 'ratio': 24.9461},
 {'period': '2016-09-26', 'ratio': 21.33741},
 {'period': '2016-10-03', 'ratio': 22.88091},
 {'period': '2016-10-10', 'ratio': 25.34707},
 {'period': '2016-10-17', 'ratio': 25.48072},
 {'period': '2016-10-24', 'ratio': 25.03233},
 {'period': '2016-10-31', 'ratio': 26.23523},
 {'period': '2016-11-07', 'ratio': 27.55885},
 {'period': '2016-11-14', 'ratio': 25.27808},
 {'period': '2016-11-21', 'ratio': 27.77873},
 {'period': '2016-11-28', 'ratio': 27.26567},
 {'period': '2016-12-05', 'ratio': 24.20453},
 {'period': '2016-12-12', 'ratio': 25.36862},
 {'period': '2016-12-19', 'ratio': 21.21238},
 {'period': '2016-12-26', 'ratio': 19.99655},
 {'period': '2017-01-02', 'ratio': 21.43657},
 {'period': '2017-01-09', 'ratio': 21.44088},
 {'period': '2017-01-16', 'ratio': 20.08709},
 {'period': '2017-01-23', 'ratio': 16.91385},
 {'period': '2017-01-30', 'ratio': 20.43631},
 {'period': '2017-02-06', 'ratio': 20.45787},
 {'period': '2017-02-13', 'ratio': 18.17711},
 {'period': '2017-02-20', 'ratio': 18.46598},
 {'period': '2017-02-27', 'ratio': 20.15176},
 {'period': '2017-03-06', 'ratio': 29.91721},
 {'period': '2017-03-13', 'ratio': 28.79624},
 {'period': '2017-03-20', 'ratio': 26.52841},
 {'period': '2017-03-27', 'ratio': 24.05363},
 {'period': '2017-04-03', 'ratio': 23.74752},
 {'period': '2017-04-10', 'ratio': 23.1008},
 {'period': '2017-04-17', 'ratio': 21.29861},
 {'period': '2017-04-24', 'ratio': 21.69957},
 {'period': '2017-05-01', 'ratio': 17.97447},
 {'period': '2017-05-08', 'ratio': 27.30016},
 {'period': '2017-05-15', 'ratio': 27.7658},
 {'period': '2017-05-22', 'ratio': 27.9943},
 {'period': '2017-05-29', 'ratio': 26.62326},
 {'period': '2017-06-05', 'ratio': 26.01534},
 {'period': '2017-06-12', 'ratio': 27.5416},
 {'period': '2017-06-19', 'ratio': 23.68284},
 {'period': '2017-06-26', 'ratio': 19.5266},
 {'period': '2017-07-03', 'ratio': 19.01353},
 {'period': '2017-07-10', 'ratio': 21.31154},
 {'period': '2017-07-17', 'ratio': 19.89307},
 {'period': '2017-07-24', 'ratio': 18.53496},
 {'period': '2017-07-31', 'ratio': 17.55195},
 {'period': '2017-08-07', 'ratio': 19.14719},
 {'period': '2017-08-14', 'ratio': 21.12184},
 {'period': '2017-08-21', 'ratio': 22.56618},
 {'period': '2017-08-28', 'ratio': 23.85961},
 {'period': '2017-09-04', 'ratio': 26.76985},
 {'period': '2017-09-11', 'ratio': 29.59386},
 {'period': '2017-09-18', 'ratio': 25.47641},
 {'period': '2017-09-25', 'ratio': 22.41527},
 {'period': '2017-10-02', 'ratio': 18.0607},
 {'period': '2017-10-09', 'ratio': 26.43787},
 {'period': '2017-10-16', 'ratio': 24.59256},
 {'period': '2017-10-23', 'ratio': 26.87332},
 {'period': '2017-10-30', 'ratio': 25.74372},
 {'period': '2017-11-06', 'ratio': 25.61438},
 {'period': '2017-11-13', 'ratio': 24.1916},
 {'period': '2017-11-20', 'ratio': 25.96361},
 {'period': '2017-11-27', 'ratio': 27.65801},
 {'period': '2017-12-04', 'ratio': 26.13606},
 {'period': '2017-12-11', 'ratio': 22.88091},
 {'period': '2017-12-18', 'ratio': 19.49211},
 {'period': '2017-12-25', 'ratio': 16.95266},
 {'period': '2018-01-01', 'ratio': 18.30645},
 {'period': '2018-01-08', 'ratio': 20.02241},
 {'period': '2018-01-15', 'ratio': 19.12132},
 {'period': '2018-01-22', 'ratio': 19.65594},
 {'period': '2018-01-29', 'ratio': 20.72518},
 {'period': '2018-02-05', 'ratio': 21.15633},
 {'period': '2018-02-12', 'ratio': 15.48245},
 {'period': '2018-02-19', 'ratio': 21.46675},
 {'period': '2018-02-26', 'ratio': 20.12589},
 {'period': '2018-03-05', 'ratio': 28.55479},
 {'period': '2018-03-12', 'ratio': 29.68871},
 {'period': '2018-03-19', 'ratio': 29.40415},
 {'period': '2018-03-26', 'ratio': 27.55453},
 {'period': '2018-04-02', 'ratio': 28.47719},
 {'period': '2018-04-09', 'ratio': 27.7313},
 {'period': '2018-04-16', 'ratio': 28.14952},
 {'period': '2018-04-23', 'ratio': 24.24765},
 {'period': '2018-04-30', 'ratio': 25.08407},
 {'period': '2018-05-07', 'ratio': 28.8954},
 {'period': '2018-05-14', 'ratio': 29.37828},
 {'period': '2018-05-21', 'ratio': 30.08536},
 {'period': '2018-05-28', 'ratio': 40.52341},
 {'period': '2018-06-04', 'ratio': 34.3149},
 {'period': '2018-06-11', 'ratio': 39.78615},
 {'period': '2018-06-18', 'ratio': 40.39406},
 {'period': '2018-06-25', 'ratio': 33.80184},
 {'period': '2018-07-02', 'ratio': 33.60351},
 {'period': '2018-07-09', 'ratio': 36.86729},
 {'period': '2018-07-16', 'ratio': 34.62102},
 {'period': '2018-07-23', 'ratio': 31.6806},
 {'period': '2018-07-30', 'ratio': 28.86091},
 {'period': '2018-08-06', 'ratio': 27.63214},
 {'period': '2018-08-13', 'ratio': 36.96214},
 {'period': '2018-08-20', 'ratio': 39.40243},
 {'period': '2018-08-27', 'ratio': 31.78839},
 {'period': '2018-09-03', 'ratio': 34.94869},
 {'period': '2018-09-10', 'ratio': 37.60455},
 {'period': '2018-09-17', 'ratio': 32.74553},
 {'period': '2018-09-24', 'ratio': 26.63188},
 {'period': '2018-10-01', 'ratio': 33.19392},
 {'period': '2018-10-08', 'ratio': 39.26877},
 {'period': '2018-10-15', 'ratio': 38.45391},
 {'period': '2018-10-22', 'ratio': 52.31956},
 {'period': '2018-10-29', 'ratio': 55.87651},
 {'period': '2018-11-05', 'ratio': 41.57971},
 {'period': '2018-11-12', 'ratio': 38.79882},
 {'period': '2018-11-19', 'ratio': 37.45796},
 {'period': '2018-11-26', 'ratio': 39.94567},
 {'period': '2018-12-03', 'ratio': 36.75088},
 {'period': '2018-12-10', 'ratio': 33.8622},
 {'period': '2018-12-17', 'ratio': 32.96973},
 {'period': '2018-12-24', 'ratio': 30.025},
 {'period': '2018-12-31', 'ratio': 33.73286},
 {'period': '2019-01-07', 'ratio': 33.68112},
 {'period': '2019-01-14', 'ratio': 31.96085},
 {'period': '2019-01-21', 'ratio': 29.10666},
 {'period': '2019-01-28', 'ratio': 27.33896},
 {'period': '2019-02-04', 'ratio': 24.43304},
 {'period': '2019-02-11', 'ratio': 28.03311},
 {'period': '2019-02-18', 'ratio': 27.99862},
 {'period': '2019-02-25', 'ratio': 25.89893},
 {'period': '2019-03-04', 'ratio': 36.04811},
 {'period': '2019-03-11', 'ratio': 40.2216},
 {'period': '2019-03-18', 'ratio': 37.10011},
 {'period': '2019-03-25', 'ratio': 36.31973},
 {'period': '2019-04-01', 'ratio': 44.07605},
 {'period': '2019-04-08', 'ratio': 36.61291},
 {'period': '2019-04-15', 'ratio': 36.35854},
 {'period': '2019-04-22', 'ratio': 48.53841},
 {'period': '2019-04-29', 'ratio': 35.14702},
 {'period': '2019-05-06', 'ratio': 40.13106},
 {'period': '2019-05-13', 'ratio': 45.95585},
 {'period': '2019-05-20', 'ratio': 43.34741},
 {'period': '2019-05-27', 'ratio': 38.43235},
 {'period': '2019-06-03', 'ratio': 39.48434},
 {'period': '2019-06-10', 'ratio': 40.54065},
 {'period': '2019-06-17', 'ratio': 34.3149},
 {'period': '2019-06-24', 'ratio': 30.05949},
 {'period': '2019-07-01', 'ratio': 32.93524},
 {'period': '2019-07-08', 'ratio': 42.43338},
 {'period': '2019-07-15', 'ratio': 35.50918},
 {'period': '2019-07-22', 'ratio': 30.74502},
 {'period': '2019-07-29', 'ratio': 40.98042},
 {'period': '2019-08-05', 'ratio': 87.44071},
 {'period': '2019-08-12', 'ratio': 37.6994},
 {'period': '2019-08-19', 'ratio': 36.54393},
 {'period': '2019-08-26', 'ratio': 36.12141},
 {'period': '2019-09-02', 'ratio': 38.19522},
 {'period': '2019-09-09', 'ratio': 29.98189},
 {'period': '2019-09-16', 'ratio': 35.11252},
 {'period': '2019-09-23', 'ratio': 29.9862},
 {'period': '2019-09-30', 'ratio': 29.22307},
 {'period': '2019-10-07', 'ratio': 29.67146},
 {'period': '2019-10-14', 'ratio': 35.11684},
 {'period': '2019-10-21', 'ratio': 35.48331},
 {'period': '2019-10-28', 'ratio': 32.62912},
 {'period': '2019-11-04', 'ratio': 31.7927},
 {'period': '2019-11-11', 'ratio': 29.41277},
 {'period': '2019-11-18', 'ratio': 27.95981},
 {'period': '2019-11-25', 'ratio': 27.33896},
 {'period': '2019-12-02', 'ratio': 27.0156},
 {'period': '2019-12-09', 'ratio': 24.45028},
 {'period': '2019-12-16', 'ratio': 24.54514},
 {'period': '2019-12-23', 'ratio': 21.55298},
 {'period': '2019-12-30', 'ratio': 22.44546},
 {'period': '2020-01-06', 'ratio': 24.03638},
 {'period': '2020-01-13', 'ratio': 23.56643},
 {'period': '2020-01-20', 'ratio': 21.07441},
 {'period': '2020-01-27', 'ratio': 23.94153},
 {'period': '2020-02-03', 'ratio': 25.81271},
 {'period': '2020-02-10', 'ratio': 25.37725},
 {'period': '2020-02-17', 'ratio': 33.58627},
 {'period': '2020-02-24', 'ratio': 44.51151},
 {'period': '2020-03-02', 'ratio': 39.29464},
 {'period': '2020-03-09', 'ratio': 70.15176},
 {'period': '2020-03-16', 'ratio': 100},
 {'period': '2020-03-23', 'ratio': 75.10994},
 {'period': '2020-03-30', 'ratio': 55.05734},
 {'period': '2020-04-06', 'ratio': 52.03069},
 {'period': '2020-04-13', 'ratio': 57.6011},
 {'period': '2020-04-20', 'ratio': 51.79787},
 {'period': '2020-04-27', 'ratio': 36.79399},
 {'period': '2020-05-04', 'ratio': 34.63826},
 {'period': '2020-05-11', 'ratio': 35.76355},
 {'period': '2020-05-18', 'ratio': 37.40622},
 {'period': '2020-05-25', 'ratio': 39.67405},
 {'period': '2020-06-01', 'ratio': 40.37251},
 {'period': '2020-06-08', 'ratio': 40.32508},
 {'period': '2020-06-15', 'ratio': 39.70854},
 {'period': '2020-06-22', 'ratio': 39.33775},
 {'period': '2020-06-29', 'ratio': 37.23376},
 {'period': '2020-07-06', 'ratio': 35.57385},
 {'period': '2020-07-13', 'ratio': 33.69405},
 {'period': '2020-07-20', 'ratio': 31.24946},
 {'period': '2020-07-27', 'ratio': 29.95171},
 {'period': '2020-08-03', 'ratio': 32.71966},
 {'period': '2020-08-10', 'ratio': 34.69431},
 {'period': '2020-08-17', 'ratio': 31.2279},
 {'period': '2020-08-24', 'ratio': 34.07346},
 {'period': '2020-08-31', 'ratio': 40.63982},
 {'period': '2020-09-07', 'ratio': 39.85944},
 {'period': '2020-09-14', 'ratio': 36.24213},
 {'period': '2020-09-21', 'ratio': 36.60429},
 {'period': '2020-09-28', 'ratio': 25.29102},
 {'period': '2020-10-05', 'ratio': 28.6324},
 {'period': '2020-10-12', 'ratio': 26.85177},
 {'period': '2020-10-19', 'ratio': 27.25273},
 {'period': '2020-10-26', 'ratio': 19.1127}]

In [8]:
navertrends_df = pd.DataFrame(jsonResult['results'][0]['data'])
navertrends_df = navertrends_df.rename({'period': 'date', 'ratio':'naver'}, axis = 'columns')
navertrends_df

           date     naver
0    2015-12-28  19.65163
1    2016-01-04  26.05846
2    2016-01-11  25.16599
3    2016-01-18  27.38639
4    2016-01-25  24.72622
..          ...       ...
248  2020-09-28  25.29102
249  2020-10-05  28.63240
250  2020-10-12  26.85177
251  2020-10-19  27.25273
252  2020-10-26  19.11270

[253 rows x 2 columns]

In [21]:
tmp = pd.merge(googletrends_df, kakaotrends_df, how='left')
portaltrends_df = pd.merge(tmp, navertrends_df, how='left')
portaltrends_df = portaltrends_df.fillna(0)
portaltrends_df

           date  google kakao     naver
0    2015-09-07      69     0   0.00000
1    2015-09-14      74     0   0.00000
2    2015-09-21      69     0   0.00000
3    2015-09-28      62     0   0.00000
4    2015-10-05      61     0   0.00000
..          ...     ...   ...       ...
264  2020-09-28      63    19  25.29102
265  2020-10-05      81    21  28.63240
266  2020-10-12      82    24  26.85177
267  2020-10-19      93    21  27.25273
268  2020-10-26      90     0  19.11270

[269 rows x 4 columns]

### DB연동

In [38]:
conn = pymysql.connect(host = "127.0.0.1", user = [USER], passwd = [PASSWORD], db = [DATABASE], cursorclass = pymysql.cursors.DictCursor)
cur = conn.cursor()

In [39]:
cur.execute("show databases")
print(cur.fetchall())
cur.execute("use CLI")

[{'Database': 'information_schema'}, {'Database': 'CLI'}, {'Database': 'MusicBank'}, {'Database': 'mysql'}, {'Database': 'mytestdb'}, {'Database': 'performance_schema'}, {'Database': 'sys'}]

0

### DB table 생성

In [40]:
"""
검색어 트랜드 정보 저장할 table 생성
"""

create_table_query = """
CREATE TABLE IF NOT EXISTS portal_trends_ratio(
    id BIGINT(7) NOT NULL AUTO_INCREMENT,
    year bigint(4) NOT NULL,
    month bigint(2) NOT NULL,
    day bigint(2) NOT NULL,
    google double,
    kakao double,
    naver double,
    primary key(id) )
    charset=utf8mb4;
"""
cur.execute(create_table_query)

0

In [41]:
cur.execute("desc portal_trends_ratio")
table = cur.fetchall()
pd.DataFrame(list(table))

    Field       Type Null  Key Default           Extra
0      id  bigint(7)   NO  PRI    None  auto_increment
1    year  bigint(4)   NO         None
2   month  bigint(2)   NO         None
3     day  bigint(2)   NO         None
4  google     double  YES         None
5   kakao     double  YES         None
6   naver     double  YES         None

### 경제keyword counting정보 주별로 저장

In [42]:
"""
날짜에서 year, month, day 추출
"""
def extract_year_and_month_day(period):
    year = period.split('-')[0]
    month = period.split('-')[1]
    day = period.split('-')[2]
    return year, month, day

In [43]:
"""
db table에 저장
"""
for i in range(len(portaltrends_df)):
    query = """ 
    Insert into portal_trends_ratio (year, month, day, google, kakao, naver) values (%d, %d, %d, %f, %f, %f) ;
    """
    year, month, day = extract_year_and_month_day(portaltrends_df.iloc[i].date)
    google_cnt = portaltrends_df.iloc[i].google
    kakao_cnt = portaltrends_df.iloc[i].kakao
    naver_cnt = portaltrends_df.iloc[i].naver

    mystring = (query % (int(year), int(month), int(day), float(google_cnt), float(kakao_cnt), float(naver_cnt)))
    print(mystring)
    cur.execute(mystring)

t into portal_trends_ratio (year, month, day, google, kakao, naver) values (2018, 2, 5, 55.000000, 33.000000, 21.156330) ;


    Insert into portal_trends_ratio (year, month, day, google, kakao, naver) values (2018, 2, 12, 43.000000, 21.000000, 15.482450) ;


    Insert into portal_trends_ratio (year, month, day, google, kakao, naver) values (2018, 2, 19, 54.000000, 27.000000, 21.466750) ;


    Insert into portal_trends_ratio (year, month, day, google, kakao, naver) values (2018, 2, 26, 52.000000, 23.000000, 20.125890) ;


    Insert into portal_trends_ratio (year, month, day, google, kakao, naver) values (2018, 3, 5, 58.000000, 25.000000, 28.554790) ;


    Insert into portal_trends_ratio (year, month, day, google, kakao, naver) values (2018, 3, 12, 60.000000, 24.000000, 29.688710) ;


    Insert into portal_trends_ratio (year, month, day, google, kakao, naver) values (2018, 3, 19, 68.000000, 30.000000, 29.404150) ;


    Insert into portal_trends_ratio (year, month, day, google, kakao, naver) values (2018, 3, 26, 69.000000, 24.000000, 27.554530) ;


    Insert into portal_trends_ratio (year, month, day, google, kakao, naver) values (2018, 4, 2, 71.000000, 25.000000, 28.477190) ;


    Insert into portal_trends_ratio (year, month, day, google, kakao, naver) values (2018, 4, 9, 71.000000, 21.000000, 27.731300) ;


    Insert into portal_trends_ratio (year, month, day, google, kakao, naver) values (2018, 4, 16, 65.000000, 22.000000, 28.149520) ;


    Insert into portal_trends_ratio (year, month, day, google, kakao, naver) values (2018, 4, 23, 60.000000, 22.000000, 24.247650) ;


    Insert into portal_trends_ratio (year, month, day, google, kakao, naver) values (2018, 4, 30, 60.000000, 24.000000, 25.084070) ;


    Insert into portal_trends_ratio (year, month, day, google, kakao, naver) values (2018, 5, 7, 63.000000, 25.000000, 28.895400) ;


    Insert into portal_trends_ratio (year, month, day, google, kakao, naver) values (2018, 5, 14, 65.000000, 26.000000, 29.378280) ;


    Insert into portal_trends_ratio (year, month, day, google, kakao, naver) values (2018, 5, 21, 62.000000, 23.000000, 30.085360) ;


    Insert into portal_trends_ratio (year, month, day, google, kakao, naver) values (2018, 5, 28, 76.000000, 36.000000, 40.523410) ;


    Insert into portal_trends_ratio (year, month, day, google, kakao, naver) values (2018, 6, 4, 66.000000, 26.000000, 34.314900) ;


    Insert into portal_trends_ratio (year, month, day, google, kakao, naver) values (2018, 6, 11, 65.000000, 38.000000, 39.786150) ;


    Insert into portal_trends_ratio (year, month, day, google, kakao, naver) values (2018, 6, 18, 74.000000, 46.000000, 40.394060) ;


    Insert into portal_trends_ratio (year, month, day, google, kakao, naver) values (2018, 6, 25, 58.000000, 34.000000, 33.801840) ;


    Insert into portal_trends_ratio (year, month, day, google, kakao, naver) values (2018, 7, 2, 57.000000, 40.000000, 33.603510) ;


    Insert into portal_trends_ratio (year, month, day, google, kakao, naver) values (2018, 7, 9, 58.000000, 33.000000, 36.867290) ;


    Insert into portal_trends_ratio (year, month, day, google, kakao, naver) values (2018, 7, 16, 63.000000, 35.000000, 34.621020) ;


    Insert into portal_trends_ratio (year, month, day, google, kakao, naver) values (2018, 7, 23, 56.000000, 32.000000, 31.680600) ;


    Insert into portal_trends_ratio (year, month, day, google, kakao, naver) values (2018, 7, 30, 60.000000, 30.000000, 28.860910) ;


    Insert into portal_trends_ratio (year, month, day, google, kakao, naver) values (2018, 8, 6, 59.000000, 28.000000, 27.632140) ;


    Insert into portal_trends_ratio (year, month, day, google, kakao, naver) values (2018, 8, 13, 56.000000, 50.000000, 36.962140) ;


    Insert into portal_trends_ratio (year, month, day, google, kakao, naver) values (2018, 8, 20, 64.000000, 52.000000, 39.402430) ;


    Insert into portal_trends_ratio (year, month, day, google, kakao, naver) values (2018, 8, 27, 63.000000, 29.000000, 31.788390) ;


    Insert into portal_trends_ratio (year, month, day, google, kakao, naver) values (2018, 9, 3, 65.000000, 31.000000, 34.948690) ;


    Insert into portal_trends_ratio (year, month, day, google, kakao, naver) values (2018, 9, 10, 66.000000, 29.000000, 37.604550) ;


    Insert into portal_trends_ratio (year, month, day, google, kakao, naver) values (2018, 9, 17, 61.000000, 24.000000, 32.745530) ;


    Insert into portal_trends_ratio (year, month, day, google, kakao, naver) values (2018, 9, 24, 56.000000, 22.000000, 26.631880) ;


    Insert into portal_trends_ratio (year, month, day, google, kakao, naver) values (2018, 10, 1, 65.000000, 30.000000, 33.193920) ;


    Insert into portal_trends_ratio (year, month, day, google, kakao, naver) values (2018, 10, 8, 66.000000, 38.000000, 39.268770) ;


    Insert into portal_trends_ratio (year, month, day, google, kakao, naver) values (2018, 10, 15, 69.000000, 31.000000, 38.453910) ;


    Insert into portal_trends_ratio (year, month, day, google, kakao, naver) values (2018, 10, 22, 76.000000, 54.000000, 52.319560) ;


    Insert into portal_trends_ratio (year, month, day, google, kakao, naver) values (2018, 10, 29, 82.000000, 56.000000, 55.876510) ;


    Insert into portal_trends_ratio (year, month, day, google, kakao, naver) values (2018, 11, 5, 77.000000, 37.000000, 41.579710) ;


    Insert into portal_trends_ratio (year, month, day, google, kakao, naver) values (2018, 11, 12, 75.000000, 33.000000, 38.798820) ;


    Insert into portal_trends_ratio (year, month, day, google, kakao, naver) values (2018, 11, 19, 71.000000, 32.000000, 37.457960) ;


    Insert into portal_trends_ratio (year, month, day, google, kakao, naver) values (2018, 11, 26, 75.000000, 30.000000, 39.945670) ;


    Insert into portal_trends_ratio (year, month, day, google, kakao, naver) values (2018, 12, 3, 71.000000, 33.000000, 36.750880) ;


    Insert into portal_trends_ratio (year, month, day, google, kakao, naver) values (2018, 12, 10, 72.000000, 30.000000, 33.862200) ;


    Insert into portal_trends_ratio (year, month, day, google, kakao, naver) values (2018, 12, 17, 69.000000, 28.000000, 32.969730) ;


    Insert into portal_trends_ratio (year, month, day, google, kakao, naver) values (2018, 12, 24, 64.000000, 26.000000, 30.025000) ;


    Insert into portal_trends_ratio (year, month, day, google, kakao, naver) values (2018, 12, 31, 65.000000, 30.000000, 33.732860) ;


    Insert into portal_trends_ratio (year, month, day, google, kakao, naver) values (2019, 1, 7, 70.000000, 26.000000, 33.681120) ;


    Insert into portal_trends_ratio (year, month, day, google, kakao, naver) values (2019, 1, 14, 66.000000, 24.000000, 31.960850) ;


    Insert into portal_trends_ratio (year, month, day, google, kakao, naver) values (2019, 1, 21, 59.000000, 25.000000, 29.106660) ;


    Insert into portal_trends_ratio (year, month, day, google, kakao, naver) values (2019, 1, 28, 68.000000, 25.000000, 27.338960) ;


    Insert into portal_trends_ratio (year, month, day, google, kakao, naver) values (2019, 2, 4, 44.000000, 21.000000, 24.433040) ;


    Insert into portal_trends_ratio (year, month, day, google, kakao, naver) values (2019, 2, 11, 57.000000, 27.000000, 28.033110) ;


    Insert into portal_trends_ratio (year, month, day, google, kakao, naver) values (2019, 2, 18, 65.000000, 23.000000, 27.998620) ;


    Insert into portal_trends_ratio (year, month, day, google, kakao, naver) values (2019, 2, 25, 55.000000, 23.000000, 25.898930) ;


    Insert into portal_trends_ratio (year, month, day, google, kakao, naver) values (2019, 3, 4, 58.000000, 23.000000, 36.048110) ;


    Insert into portal_trends_ratio (year, month, day, google, kakao, naver) values (2019, 3, 11, 65.000000, 25.000000, 40.221600) ;


    Insert into portal_trends_ratio (year, month, day, google, kakao, naver) values (2019, 3, 18, 71.000000, 43.000000, 37.100110) ;


    Insert into portal_trends_ratio (year, month, day, google, kakao, naver) values (2019, 3, 25, 73.000000, 27.000000, 36.319730) ;


    Insert into portal_trends_ratio (year, month, day, google, kakao, naver) values (2019, 4, 1, 75.000000, 43.000000, 44.076050) ;


    Insert into portal_trends_ratio (year, month, day, google, kakao, naver) values (2019, 4, 8, 68.000000, 40.000000, 36.612910) ;


    Insert into portal_trends_ratio (year, month, day, google, kakao, naver) values (2019, 4, 15, 71.000000, 24.000000, 36.358540) ;


    Insert into portal_trends_ratio (year, month, day, google, kakao, naver) values (2019, 4, 22, 69.000000, 41.000000, 48.538410) ;


    Insert into portal_trends_ratio (year, month, day, google, kakao, naver) values (2019, 4, 29, 70.000000, 30.000000, 35.147020) ;


    Insert into portal_trends_ratio (year, month, day, google, kakao, naver) values (2019, 5, 6, 72.000000, 35.000000, 40.131060) ;


    Insert into portal_trends_ratio (year, month, day, google, kakao, naver) values (2019, 5, 13, 76.000000, 59.000000, 45.955850) ;


    Insert into portal_trends_ratio (year, month, day, google, kakao, naver) values (2019, 5, 20, 85.000000, 36.000000, 43.347410) ;


    Insert into portal_trends_ratio (year, month, day, google, kakao, naver) values (2019, 5, 27, 86.000000, 31.000000, 38.432350) ;


    Insert into portal_trends_ratio (year, month, day, google, kakao, naver) values (2019, 6, 3, 70.000000, 82.000000, 39.484340) ;


    Insert into portal_trends_ratio (year, month, day, google, kakao, naver) values (2019, 6, 10, 77.000000, 52.000000, 40.540650) ;


    Insert into portal_trends_ratio (year, month, day, google, kakao, naver) values (2019, 6, 17, 76.000000, 29.000000, 34.314900) ;


    Insert into portal_trends_ratio (year, month, day, google, kakao, naver) values (2019, 6, 24, 63.000000, 29.000000, 30.059490) ;


    Insert into portal_trends_ratio (year, month, day, google, kakao, naver) values (2019, 7, 1, 80.000000, 33.000000, 32.935240) ;


    Insert into portal_trends_ratio (year, month, day, google, kakao, naver) values (2019, 7, 8, 81.000000, 36.000000, 42.433380) ;


    Insert into portal_trends_ratio (year, month, day, google, kakao, naver) values (2019, 7, 15, 83.000000, 30.000000, 35.509180) ;


    Insert into portal_trends_ratio (year, month, day, google, kakao, naver) values (2019, 7, 22, 70.000000, 27.000000, 30.745020) ;


    Insert into portal_trends_ratio (year, month, day, google, kakao, naver) values (2019, 7, 29, 75.000000, 33.000000, 40.980420) ;


    Insert into portal_trends_ratio (year, month, day, google, kakao, naver) values (2019, 8, 5, 81.000000, 51.000000, 87.440710) ;


    Insert into portal_trends_ratio (year, month, day, google, kakao, naver) values (2019, 8, 12, 76.000000, 33.000000, 37.699400) ;


    Insert into portal_trends_ratio (year, month, day, google, kakao, naver) values (2019, 8, 19, 69.000000, 29.000000, 36.543930) ;


    Insert into portal_trends_ratio (year, month, day, google, kakao, naver) values (2019, 8, 26, 77.000000, 29.000000, 36.121410) ;


    Insert into portal_trends_ratio (year, month, day, google, kakao, naver) values (2019, 9, 2, 75.000000, 28.000000, 38.195220) ;


    Insert into portal_trends_ratio (year, month, day, google, kakao, naver) values (2019, 9, 9, 67.000000, 27.000000, 29.981890) ;


    Insert into portal_trends_ratio (year, month, day, google, kakao, naver) values (2019, 9, 16, 80.000000, 30.000000, 35.112520) ;


    Insert into portal_trends_ratio (year, month, day, google, kakao, naver) values (2019, 9, 23, 76.000000, 28.000000, 29.986200) ;


    Insert into portal_trends_ratio (year, month, day, google, kakao, naver) values (2019, 9, 30, 73.000000, 27.000000, 29.223070) ;


    Insert into portal_trends_ratio (year, month, day, google, kakao, naver) values (2019, 10, 7, 75.000000, 25.000000, 29.671460) ;


    Insert into portal_trends_ratio (year, month, day, google, kakao, naver) values (2019, 10, 14, 78.000000, 26.000000, 35.116840) ;


    Insert into portal_trends_ratio (year, month, day, google, kakao, naver) values (2019, 10, 21, 74.000000, 34.000000, 35.483310) ;


    Insert into portal_trends_ratio (year, month, day, google, kakao, naver) values (2019, 10, 28, 81.000000, 25.000000, 32.629120) ;


    Insert into portal_trends_ratio (year, month, day, google, kakao, naver) values (2019, 11, 4, 81.000000, 25.000000, 31.792700) ;


    Insert into portal_trends_ratio (year, month, day, google, kakao, naver) values (2019, 11, 11, 73.000000, 24.000000, 29.412770) ;


    Insert into portal_trends_ratio (year, month, day, google, kakao, naver) values (2019, 11, 18, 73.000000, 25.000000, 27.959810) ;


    Insert into portal_trends_ratio (year, month, day, google, kakao, naver) values (2019, 11, 25, 75.000000, 21.000000, 27.338960) ;


    Insert into portal_trends_ratio (year, month, day, google, kakao, naver) values (2019, 12, 2, 68.000000, 25.000000, 27.015600) ;


    Insert into portal_trends_ratio (year, month, day, google, kakao, naver) values (2019, 12, 9, 64.000000, 28.000000, 24.450280) ;


    Insert into portal_trends_ratio (year, month, day, google, kakao, naver) values (2019, 12, 16, 68.000000, 21.000000, 24.545140) ;


    Insert into portal_trends_ratio (year, month, day, google, kakao, naver) values (2019, 12, 23, 54.000000, 19.000000, 21.552980) ;


    Insert into portal_trends_ratio (year, month, day, google, kakao, naver) values (2019, 12, 30, 55.000000, 22.000000, 22.445460) ;


    Insert into portal_trends_ratio (year, month, day, google, kakao, naver) values (2020, 1, 6, 60.000000, 21.000000, 24.036380) ;


    Insert into portal_trends_ratio (year, month, day, google, kakao, naver) values (2020, 1, 13, 62.000000, 22.000000, 23.566430) ;


    Insert into portal_trends_ratio (year, month, day, google, kakao, naver) values (2020, 1, 20, 59.000000, 20.000000, 21.074410) ;


    Insert into portal_trends_ratio (year, month, day, google, kakao, naver) values (2020, 1, 27, 59.000000, 23.000000, 23.941530) ;


    Insert into portal_trends_ratio (year, month, day, google, kakao, naver) values (2020, 2, 3, 62.000000, 25.000000, 25.812710) ;


    Insert into portal_trends_ratio (year, month, day, google, kakao, naver) values (2020, 2, 10, 63.000000, 48.000000, 25.377250) ;


    Insert into portal_trends_ratio (year, month, day, google, kakao, naver) values (2020, 2, 17, 64.000000, 28.000000, 33.586270) ;


    Insert into portal_trends_ratio (year, month, day, google, kakao, naver) values (2020, 2, 24, 70.000000, 34.000000, 44.511510) ;


    Insert into portal_trends_ratio (year, month, day, google, kakao, naver) values (2020, 3, 2, 74.000000, 36.000000, 39.294640) ;


    Insert into portal_trends_ratio (year, month, day, google, kakao, naver) values (2020, 3, 9, 79.000000, 72.000000, 70.151760) ;


    Insert into portal_trends_ratio (year, month, day, google, kakao, naver) values (2020, 3, 16, 91.000000, 100.000000, 100.000000) ;


    Insert into portal_trends_ratio (year, month, day, google, kakao, naver) values (2020, 3, 23, 97.000000, 78.000000, 75.109940) ;


    Insert into portal_trends_ratio (year, month, day, google, kakao, naver) values (2020, 3, 30, 86.000000, 57.000000, 55.057340) ;


    Insert into portal_trends_ratio (year, month, day, google, kakao, naver) values (2020, 4, 6, 84.000000, 50.000000, 52.030690) ;


    Insert into portal_trends_ratio (year, month, day, google, kakao, naver) values (2020, 4, 13, 88.000000, 46.000000, 57.601100) ;


    Insert into portal_trends_ratio (year, month, day, google, kakao, naver) values (2020, 4, 20, 89.000000, 44.000000, 51.797870) ;


    Insert into portal_trends_ratio (year, month, day, google, kakao, naver) values (2020, 4, 27, 78.000000, 29.000000, 36.793990) ;


    Insert into portal_trends_ratio (year, month, day, google, kakao, naver) values (2020, 5, 4, 88.000000, 29.000000, 34.638260) ;


    Insert into portal_trends_ratio (year, month, day, google, kakao, naver) values (2020, 5, 11, 81.000000, 33.000000, 35.763550) ;


    Insert into portal_trends_ratio (year, month, day, google, kakao, naver) values (2020, 5, 18, 86.000000, 34.000000, 37.406220) ;


    Insert into portal_trends_ratio (year, month, day, google, kakao, naver) values (2020, 5, 25, 84.000000, 35.000000, 39.674050) ;


    Insert into portal_trends_ratio (year, month, day, google, kakao, naver) values (2020, 6, 1, 86.000000, 37.000000, 40.372510) ;


    Insert into portal_trends_ratio (year, month, day, google, kakao, naver) values (2020, 6, 8, 90.000000, 36.000000, 40.325080) ;


    Insert into portal_trends_ratio (year, month, day, google, kakao, naver) values (2020, 6, 15, 94.000000, 37.000000, 39.708540) ;


    Insert into portal_trends_ratio (year, month, day, google, kakao, naver) values (2020, 6, 22, 100.000000, 30.000000, 39.337750) ;


    Insert into portal_trends_ratio (year, month, day, google, kakao, naver) values (2020, 6, 29, 85.000000, 29.000000, 37.233760) ;


    Insert into portal_trends_ratio (year, month, day, google, kakao, naver) values (2020, 7, 6, 85.000000, 25.000000, 35.573850) ;


    Insert into portal_trends_ratio (year, month, day, google, kakao, naver) values (2020, 7, 13, 75.000000, 25.000000, 33.694050) ;


    Insert into portal_trends_ratio (year, month, day, google, kakao, naver) values (2020, 7, 20, 72.000000, 29.000000, 31.249460) ;


    Insert into portal_trends_ratio (year, month, day, google, kakao, naver) values (2020, 7, 27, 75.000000, 28.000000, 29.951710) ;


    Insert into portal_trends_ratio (year, month, day, google, kakao, naver) values (2020, 8, 3, 80.000000, 25.000000, 32.719660) ;


    Insert into portal_trends_ratio (year, month, day, google, kakao, naver) values (2020, 8, 10, 75.000000, 27.000000, 34.694310) ;


    Insert into portal_trends_ratio (year, month, day, google, kakao, naver) values (2020, 8, 17, 75.000000, 25.000000, 31.227900) ;


    Insert into portal_trends_ratio (year, month, day, google, kakao, naver) values (2020, 8, 24, 76.000000, 25.000000, 34.073460) ;


    Insert into portal_trends_ratio (year, month, day, google, kakao, naver) values (2020, 8, 31, 79.000000, 29.000000, 40.639820) ;


    Insert into portal_trends_ratio (year, month, day, google, kakao, naver) values (2020, 9, 7, 78.000000, 29.000000, 39.859440) ;


    Insert into portal_trends_ratio (year, month, day, google, kakao, naver) values (2020, 9, 14, 83.000000, 28.000000, 36.242130) ;


    Insert into portal_trends_ratio (year, month, day, google, kakao, naver) values (2020, 9, 21, 84.000000, 28.000000, 36.604290) ;


    Insert into portal_trends_ratio (year, month, day, google, kakao, naver) values (2020, 9, 28, 63.000000, 19.000000, 25.291020) ;


    Insert into portal_trends_ratio (year, month, day, google, kakao, naver) values (2020, 10, 5, 81.000000, 21.000000, 28.632400) ;


    Insert into portal_trends_ratio (year, month, day, google, kakao, naver) values (2020, 10, 12, 82.000000, 24.000000, 26.851770) ;


    Insert into portal_trends_ratio (year, month, day, google, kakao, naver) values (2020, 10, 19, 93.000000, 21.000000, 27.252730) ;


    Insert into portal_trends_ratio (year, month, day, google, kakao, naver) values (2020, 10, 26, 90.000000, 0.000000, 19.112700) ;

In [44]:
# 확인
query = """ 
select * from portal_trends_ratio;
"""
cur.execute(query)
tmp = pd.DataFrame(list(cur.fetchall()))
tmp

      id  year  month  day  google  kakao     naver
0      1  2015      9    7    69.0    0.0   0.00000
1      2  2015      9   14    74.0    0.0   0.00000
2      3  2015      9   21    69.0    0.0   0.00000
3      4  2015      9   28    62.0    0.0   0.00000
4      5  2015     10    5    61.0    0.0   0.00000
..   ...   ...    ...  ...     ...    ...       ...
264  265  2020      9   28    63.0   19.0  25.29102
265  266  2020     10    5    81.0   21.0  28.63240
266  267  2020     10   12    82.0   24.0  26.85177
267  268  2020     10   19    93.0   21.0  27.25273
268  269  2020     10   26    90.0    0.0  19.11270

[269 rows x 7 columns]

In [45]:
conn.commit()
cur.close()
conn.close()