In [1]:
from urllib.request import urlopen
from bs4 import BeautifulSoup
import pandas as pd
import json
import pymysql

### 한국은행 OpenAPI 조회 서비스 사용 
http://ecos.bok.or.kr/jsp/openapi/OpenApiController.jsp?t=main

In [2]:
"""
한국은행 openAPI를 활용하여
소비자동향조사 받아옴
"""
def getEcosAPI(API_KEY, code, max, start_month, end_month):
    url = 'http://ecos.bok.or.kr/api/StatisticSearch/%s/json/kr/1/%s/%s/MM/%s/%s/?/?/?/' % (API_KEY, max, code, start_month, end_month)
    result = urlopen(url)
    html = result.read()
    
    return json.loads(html)

In [3]:
API_KEY = "YOUR_API_KEY"

data = getEcosAPI(API_KEY, code = '040Y002', max = 100000, start_month = '201801', end_month = '202010')

### 소비자심리지수 구하기
ITEM_CODE1 = 'FME'

In [4]:
data = data["StatisticSearch"]["row"]
produce = pd.DataFrame(data)

In [5]:
ccsi = produce[produce['ITEM_CODE1'] == 'FME']
ccsi

,UNIT_NAME,STAT_NAME,ITEM_CODE1,STAT_CODE,ITEM_CODE2,ITEM_CODE3,ITEM_NAME1,ITEM_NAME2,DATA_VALUE,ITEM_NAME3,TIME
17424,,"9.2.1 소비자동향조사(한국은행, 전국)(월)(2008년9월~)",FME,040Y002,99988,,소비자심리지수,전체,110.3,,201801
17425,,"9.2.1 소비자동향조사(한국은행, 전국)(월)(2008년9월~)",FME,040Y002,99988,,소비자심리지수,전체,108.4,,201802
17426,,"9.2.1 소비자동향조사(한국은행, 전국)(월)(2008년9월~)",FME,040Y002,99988,,소비자심리지수,전체,108.3,,201803
17427,,"9.2.1 소비자동향조사(한국은행, 전국)(월)(2008년9월~)",FME,040Y002,99988,,소비자심리지수,전체,107.3,,201804
17428,,"9.2.1 소비자동향조사(한국은행, 전국)(월)(2008년9월~)",FME,040Y002,99988,,소비자심리지수,전체,108.2,,201805
17429,,"9.2.1 소비자동향조사(한국은행, 전국)(월)(2008년9월~)",FME,040Y002,99988,,소비자심리지수,전체,105.6,,201806
17430,,"9.2.1 소비자동향조사(한국은행, 전국)(월)(2008년9월~)",FME,040Y002,99988,,소비자심리지수,전체,100.9,,201807
17431,,"9.2.1 소비자동향조사(한국은행, 전국)(월)(2008년9월~)",FME,040Y002,99988,,소비자심리지수,전체,99,,201808
17432,,"9.2.1 소비자동향조사(한국은행, 전국)(월)(2008년9월~)",FME,040Y002,99988,,소비자심리지수,전체,100.1,,201809
17433,,"9.2.1 소비자동향조사(한국은행, 전국)(월)(2008년9월~)",FME,040Y002,99988,,소비자심리지수,전체,99.3,,201810
17434,,"9.2.1 소비자동향조사(한국은행, 전국)(월)(2008년9월~)",FME,040Y002,99988,,소비자심리지수,전체,95.7,,201811
17435,,"9.2.1 소비자동향조사(한국은행, 전국)(월)(2008년9월~)",FME,040Y002,99988,,소비자심리지수,전체,96.9,,201812
17436,,"9.2.1 소비자동향조사(한국은행, 전국)(월)(2008년9월~)",FME,040Y002,99988,,소비자심리지수,전체,97.5,,201901
17437,,"9.2.1 소비자동향조사(한국은행, 전국)(월)(2008년9월~)",FME,040Y002,99988,,소비자심리지수,전체,99.6,,201902
17438,,"9.2.1 소비자동향조사(한국은행, 전국)(월)(2008년9월~)",FME,040Y002,99988,,소비자심리지수,전체,99.8,,201903
17439,,"9.2.1 소비자동향조사(한국은행, 전국)(월)(2008년9월~)",FME,040Y002,99988,,소비자심리지수,전체,101.7,,201904
17440,,"9.2.1 소비자동향조사(한국은행, 전국)(월)(2008년9월~)",FME,040Y002,99988,,소비자심리지수,전체,97.9,,201905
17441,,"9.2.1 소비자동향조사(한국은행, 전국)(월)(2008년9월~)",FME,040Y002,99988,,소비자심리지수,전체,97.6,,201906
17442,,"9.2.1 소비자동향조사(한국은행, 전국)(월)(2008년9월~)",FME,040Y002,99988,,소비자심리지수,전체,95.9,,201907
17443,,"9.2.1 소비자동향조사(한국은행, 전국)(월)(2008년9월~)",FME,040Y002,99988,,소비자심리지수,전체,92.4,,201908
17444,,"9.2.1 소비자동향조사(한국은행, 전국)(월)(2008년9월~)",FME,040Y002,99988,,소비자심리지수,전체,97,,201909
17445,,"9.2.1 소비자동향조사(한국은행, 전국)(월)(2008년9월~)",FME,040Y002,99988,,소비자심리지수,전체,98.6,,201910
17446,,"9.2.1 소비자동향조사(한국은행, 전국)(월)(2008년9월~)",FME,040Y002,99988,,소비자심리지수,전체,101,,201911
17447,,"9.2.1 소비자동향조사(한국은행, 전국)(월)(2008년9월~)",FME,040Y002,99988,,소비자심리지수,전체,100.5,,201912
17448,,"9.2.1 소비자동향조사(한국은행, 전국)(월)(2008년9월~)",FME,040Y002,99988,,소비자심리지수,전체,104.2,,202001
17449,,"9.2.1 소비자동향조사(한국은행, 전국)(월)(2008년9월~)",FME,040Y002,99988,,소비자심리지수,전체,96.9,,202002
17450,,"9.2.1 소비자동향조사(한국은행, 전국)(월)(2008년9월~)",FME,040Y002,99988,,소비자심리지수,전체,78.4,,202003
17451,,"9.2.1 소비자동향조사(한국은행, 전국)(월)(2008년9월~)",FME,040Y002,99988,,소비자심리지수,전체,70.8,,202004
17452,,"9.2.1 소비자동향조사(한국은행, 전국)(월)(2008년9월~)",FME,040Y002,99988,,소비자심리지수,전체,77.6,,202005
17453,,"9.2.1 소비자동향조사(한국은행, 전국)(월)(2008년9월~)",FME,040Y002,99988,,소비자심리지수,전체,81.8,,202006
17454,,"9.2.1 소비자동향조사(한국은행, 전국)(월)(2008년9월~)",FME,040Y002,99988,,소비자심리지수,전체,84.2,,202007
17455,,"9.2.1 소비자동향조사(한국은행, 전국)(월)(2008년9월~)",FME,040Y002,99988,,소비자심리지수,전체,88.2,,202008
17456,,"9.2.1 소비자동향조사(한국은행, 전국)(월)(2008년9월~)",FME,040Y002,99988,,소비자심리지수,전체,79.4,,202009

In [6]:
ccsi = ccsi.loc[:, ['TIME', 'DATA_VALUE']].reset_index(drop=True)
ccsi

      TIME DATA_VALUE
0   201801      110.3
1   201802      108.4
2   201803      108.3
3   201804      107.3
4   201805      108.2
5   201806      105.6
6   201807      100.9
7   201808         99
8   201809      100.1
9   201810       99.3
10  201811       95.7
11  201812       96.9
12  201901       97.5
13  201902       99.6
14  201903       99.8
15  201904      101.7
16  201905       97.9
17  201906       97.6
18  201907       95.9
19  201908       92.4
20  201909         97
21  201910       98.6
22  201911        101
23  201912      100.5
24  202001      104.2
25  202002       96.9
26  202003       78.4
27  202004       70.8
28  202005       77.6
29  202006       81.8
30  202007       84.2
31  202008       88.2
32  202009       79.4

### DB연동

In [15]:
conn = pymysql.connect(host = "127.0.0.1", user = [USER], passwd = [PASSWORD], db = [DATABASE])
cur = conn.cursor()

### DB table 생성

In [16]:
"""
CCSI 저장할 table 생성
"""

create_table_query = """
CREATE TABLE IF NOT EXISTS ccsi(
    id BIGINT(7) NOT NULL AUTO_INCREMENT,
    year bigint(4) NOT NULL,
    month bigint(2) NOT NULL,
    ccsi double,
    primary key(id) )
    charset=utf8mb4;
"""
cur.execute(create_table_query)
# charset=utf8mb4; 유니코드 스트링 저장

0

In [17]:
cur.execute("desc ccsi")
table = cur.fetchall()
pd.DataFrame(list(table))

       0          1    2    3     4               5
0     id  bigint(7)   NO  PRI  None  auto_increment
1   year  bigint(4)   NO       None
2  month  bigint(2)   NO       None
3   ccsi     double  YES       None

### CCSI 월별로 저장

In [18]:
"""
날짜에서 year, month 추출
"""
def extract_year_and_month(period):
    year = period[0:4]
    month = period[4:6]
    return year, month

In [19]:
"""
db table에 저장
"""
for i in range(len(ccsi)):
    query = """ 
    Insert into ccsi (year, month, ccsi) values (%d, %d, %f) ;
    """
    year, month = extract_year_and_month(ccsi.iloc[i].TIME)
    ccsi_value = ccsi.iloc[i].DATA_VALUE

    mystring = (query % (int(year), int(month), float(ccsi_value)))
    print(mystring)
    cur.execute(mystring)

    Insert into ccsi (year, month, ccsi) values (2018, 1, 110.300000) ;


    Insert into ccsi (year, month, ccsi) values (2018, 2, 108.400000) ;


    Insert into ccsi (year, month, ccsi) values (2018, 3, 108.300000) ;


    Insert into ccsi (year, month, ccsi) values (2018, 4, 107.300000) ;


    Insert into ccsi (year, month, ccsi) values (2018, 5, 108.200000) ;


    Insert into ccsi (year, month, ccsi) values (2018, 6, 105.600000) ;


    Insert into ccsi (year, month, ccsi) values (2018, 7, 100.900000) ;


    Insert into ccsi (year, month, ccsi) values (2018, 8, 99.000000) ;


    Insert into ccsi (year, month, ccsi) values (2018, 9, 100.100000) ;


    Insert into ccsi (year, month, ccsi) values (2018, 10, 99.300000) ;


    Insert into ccsi (year, month, ccsi) values (2018, 11, 95.700000) ;


    Insert into ccsi (year, month, ccsi) values (2018, 12, 96.900000) ;


    Insert into ccsi (year, month, ccsi) values (2019, 1, 97.500000) ;


    Insert into ccsi (year, month, ccsi) values (2019, 2, 99.600000) ;


    Insert into ccsi (year, month, ccsi) values (2019, 3, 99.800000) ;


    Insert into ccsi (year, month, ccsi) values (2019, 4, 101.700000) ;


    Insert into ccsi (year, month, ccsi) values (2019, 5, 97.900000) ;


    Insert into ccsi (year, month, ccsi) values (2019, 6, 97.600000) ;


    Insert into ccsi (year, month, ccsi) values (2019, 7, 95.900000) ;


    Insert into ccsi (year, month, ccsi) values (2019, 8, 92.400000) ;


    Insert into ccsi (year, month, ccsi) values (2019, 9, 97.000000) ;


    Insert into ccsi (year, month, ccsi) values (2019, 10, 98.600000) ;


    Insert into ccsi (year, month, ccsi) values (2019, 11, 101.000000) ;


    Insert into ccsi (year, month, ccsi) values (2019, 12, 100.500000) ;


    Insert into ccsi (year, month, ccsi) values (2020, 1, 104.200000) ;


    Insert into ccsi (year, month, ccsi) values (2020, 2, 96.900000) ;


    Insert into ccsi (year, month, ccsi) values (2020, 3, 78.400000) ;


    Insert into ccsi (year, month, ccsi) values (2020, 4, 70.800000) ;


    Insert into ccsi (year, month, ccsi) values (2020, 5, 77.600000) ;


    Insert into ccsi (year, month, ccsi) values (2020, 6, 81.800000) ;


    Insert into ccsi (year, month, ccsi) values (2020, 7, 84.200000) ;


    Insert into ccsi (year, month, ccsi) values (2020, 8, 88.200000) ;


    Insert into ccsi (year, month, ccsi) values (2020, 9, 79.400000) ;

In [20]:
# 확인
query = """ 
select * from ccsi ;
"""
cur.execute(query)
tmp = pd.DataFrame(list(cur.fetchall()))
tmp

     0     1   2      3
0    1  2018   1  110.3
1    2  2018   2  108.4
2    3  2018   3  108.3
3    4  2018   4  107.3
4    5  2018   5  108.2
5    6  2018   6  105.6
6    7  2018   7  100.9
7    8  2018   8   99.0
8    9  2018   9  100.1
9   10  2018  10   99.3
10  11  2018  11   95.7
11  12  2018  12   96.9
12  13  2019   1   97.5
13  14  2019   2   99.6
14  15  2019   3   99.8
15  16  2019   4  101.7
16  17  2019   5   97.9
17  18  2019   6   97.6
18  19  2019   7   95.9
19  20  2019   8   92.4
20  21  2019   9   97.0
21  22  2019  10   98.6
22  23  2019  11  101.0
23  24  2019  12  100.5
24  25  2020   1  104.2
25  26  2020   2   96.9
26  27  2020   3   78.4
27  28  2020   4   70.8
28  29  2020   5   77.6
29  30  2020   6   81.8
30  31  2020   7   84.2
31  32  2020   8   88.2
32  33  2020   9   79.4

In [21]:
conn.commit()
cur.close()
conn.close()