In [7]:
import pymysql
import pandas as pd

### kakaotrend 전체기간동안의 경제keyword에 대한 검색량 counts정보 dataframe화

In [68]:
kakaotrends_df = pd.read_csv('./data/kakaotrend.csv', header=7, sep=',', skip_blank_lines = True)
kakaotrends_df = kakaotrends_df[0:145]
kakaotrends_df

              일  경제
0    2018-01-01  26
1    2018-01-08  24
2    2018-01-15  23
3    2018-01-22  21
4    2018-01-29  26
..          ...  ..
140  2020-09-07  29
141  2020-09-14  28
142  2020-09-21  28
143  2020-09-28  19
144  2020-10-05  21

[145 rows x 2 columns]

### DB연동

In [2]:
conn = pymysql.connect(host = "127.0.0.1", user = [USER], passwd = [PASSWORD], db = [DATABASE])
cur = conn.cursor()

In [65]:
cur.execute("show databases")
print(cur.fetchall())
cur.execute("use CLI")

(('information_schema',), ('CLI',), ('MusicBank',), ('mysql',), ('mytestdb',), ('performance_schema',), ('sys',))

0

### DB table 생성

In [3]:
"""
검색어 트랜드 정보 저장할 table 생성
"""

create_table_query = """
CREATE TABLE IF NOT EXISTS kakao_counting(
    id BIGINT(7) NOT NULL AUTO_INCREMENT,
    year bigint(4) NOT NULL,
    month bigint(2) NOT NULL,
    day bigint(2) NOT NULL,
    cnt double,
    primary key(id) )
    charset=utf8mb4;
"""
cur.execute(create_table_query)

0

In [8]:
cur.execute("desc kakao_counting")
table = cur.fetchall()
pd.DataFrame(list(table))

       0          1    2    3     4               5
0     id  bigint(7)   NO  PRI  None  auto_increment
1   year  bigint(4)   NO       None
2  month  bigint(2)   NO       None
3    day  bigint(2)   NO       None
4    cnt     double  YES       None

### kakaotrend의 경제keyword counting정보 주별로 저장

In [64]:
"""
"
날짜에서 year, month, day 추출
"""
def extract_year_and_month_day(period):
    year = period.split('-')[0]
    month = period.split('-')[1]
    day = period.split('-')[2]
    return year, month, day

In [70]:
"""
db table에 저장
"""
for i in range(len(df)):
    query = """ 
    Insert into kakao_counting (year, month, day, cnt) values (%d, %d, %d, %f) ;
    """
    year, month, day = extract_year_and_month_day(df.iloc[i].일)
    kakao_cnt = df.iloc[i].경제

    mystring = (query % (int(year), int(month), int(day), float(kakao_cnt)))
    print(mystring)
    cur.execute(mystring)

    Insert into kakao_counting (year, month, day, cnt) values (2018, 1, 1, 26.000000) ;


    Insert into kakao_counting (year, month, day, cnt) values (2018, 1, 8, 24.000000) ;


    Insert into kakao_counting (year, month, day, cnt) values (2018, 1, 15, 23.000000) ;


    Insert into kakao_counting (year, month, day, cnt) values (2018, 1, 22, 21.000000) ;


    Insert into kakao_counting (year, month, day, cnt) values (2018, 1, 29, 26.000000) ;


    Insert into kakao_counting (year, month, day, cnt) values (2018, 2, 5, 33.000000) ;


    Insert into kakao_counting (year, month, day, cnt) values (2018, 2, 12, 21.000000) ;


    Insert into kakao_counting (year, month, day, cnt) values (2018, 2, 19, 27.000000) ;


    Insert into kakao_counting (year, month, day, cnt) values (2018, 2, 26, 23.000000) ;


    Insert into kakao_counting (year, month, day, cnt) values (2018, 3, 5, 25.000000) ;


    Insert into kakao_counting (year, month, day, cnt) values (2018, 3, 12, 24.000000) ;


    Insert into kakao_counting (year, month, day, cnt) values (2018, 3, 19, 30.000000) ;


    Insert into kakao_counting (year, month, day, cnt) values (2018, 3, 26, 24.000000) ;


    Insert into kakao_counting (year, month, day, cnt) values (2018, 4, 2, 25.000000) ;


    Insert into kakao_counting (year, month, day, cnt) values (2018, 4, 9, 21.000000) ;


    Insert into kakao_counting (year, month, day, cnt) values (2018, 4, 16, 22.000000) ;


    Insert into kakao_counting (year, month, day, cnt) values (2018, 4, 23, 22.000000) ;


    Insert into kakao_counting (year, month, day, cnt) values (2018, 4, 30, 24.000000) ;


    Insert into kakao_counting (year, month, day, cnt) values (2018, 5, 7, 25.000000) ;


    Insert into kakao_counting (year, month, day, cnt) values (2018, 5, 14, 26.000000) ;


    Insert into kakao_counting (year, month, day, cnt) values (2018, 5, 21, 23.000000) ;


    Insert into kakao_counting (year, month, day, cnt) values (2018, 5, 28, 36.000000) ;


    Insert into kakao_counting (year, month, day, cnt) values (2018, 6, 4, 26.000000) ;


    Insert into kakao_counting (year, month, day, cnt) values (2018, 6, 11, 38.000000) ;


    Insert into kakao_counting (year, month, day, cnt) values (2018, 6, 18, 46.000000) ;


    Insert into kakao_counting (year, month, day, cnt) values (2018, 6, 25, 34.000000) ;


    Insert into kakao_counting (year, month, day, cnt) values (2018, 7, 2, 40.000000) ;


    Insert into kakao_counting (year, month, day, cnt) values (2018, 7, 9, 33.000000) ;


    Insert into kakao_counting (year, month, day, cnt) values (2018, 7, 16, 35.000000) ;


    Insert into kakao_counting (year, month, day, cnt) values (2018, 7, 23, 32.000000) ;


    Insert into kakao_counting (year, month, day, cnt) values (2018, 7, 30, 30.000000) ;


    Insert into kakao_counting (year, month, day, cnt) values (2018, 8, 6, 28.000000) ;


    Insert into kakao_counting (year, month, day, cnt) values (2018, 8, 13, 50.000000) ;


    Insert into kakao_counting (year, month, day, cnt) values (2018, 8, 20, 52.000000) ;


    Insert into kakao_counting (year, month, day, cnt) values (2018, 8, 27, 29.000000) ;


    Insert into kakao_counting (year, month, day, cnt) values (2018, 9, 3, 31.000000) ;


    Insert into kakao_counting (year, month, day, cnt) values (2018, 9, 10, 29.000000) ;


    Insert into kakao_counting (year, month, day, cnt) values (2018, 9, 17, 24.000000) ;


    Insert into kakao_counting (year, month, day, cnt) values (2018, 9, 24, 22.000000) ;


    Insert into kakao_counting (year, month, day, cnt) values (2018, 10, 1, 30.000000) ;


    Insert into kakao_counting (year, month, day, cnt) values (2018, 10, 8, 38.000000) ;


    Insert into kakao_counting (year, month, day, cnt) values (2018, 10, 15, 31.000000) ;


    Insert into kakao_counting (year, month, day, cnt) values (2018, 10, 22, 54.000000) ;


    Insert into kakao_counting (year, month, day, cnt) values (2018, 10, 29, 56.000000) ;


    Insert into kakao_counting (year, month, day, cnt) values (2018, 11, 5, 37.000000) ;


    Insert into kakao_counting (year, month, day, cnt) values (2018, 11, 12, 33.000000) ;


    Insert into kakao_counting (year, month, day, cnt) values (2018, 11, 19, 32.000000) ;


    Insert into kakao_counting (year, month, day, cnt) values (2018, 11, 26, 30.000000) ;


    Insert into kakao_counting (year, month, day, cnt) values (2018, 12, 3, 33.000000) ;


    Insert into kakao_counting (year, month, day, cnt) values (2018, 12, 10, 30.000000) ;


    Insert into kakao_counting (year, month, day, cnt) values (2018, 12, 17, 28.000000) ;


    Insert into kakao_counting (year, month, day, cnt) values (2018, 12, 24, 26.000000) ;


    Insert into kakao_counting (year, month, day, cnt) values (2018, 12, 31, 30.000000) ;


    Insert into kakao_counting (year, month, day, cnt) values (2019, 1, 7, 26.000000) ;


    Insert into kakao_counting (year, month, day, cnt) values (2019, 1, 14, 24.000000) ;


    Insert into kakao_counting (year, month, day, cnt) values (2019, 1, 21, 25.000000) ;


    Insert into kakao_counting (year, month, day, cnt) values (2019, 1, 28, 25.000000) ;


    Insert into kakao_counting (year, month, day, cnt) values (2019, 2, 4, 21.000000) ;


    Insert into kakao_counting (year, month, day, cnt) values (2019, 2, 11, 27.000000) ;


    Insert into kakao_counting (year, month, day, cnt) values (2019, 2, 18, 23.000000) ;


    Insert into kakao_counting (year, month, day, cnt) values (2019, 2, 25, 23.000000) ;


    Insert into kakao_counting (year, month, day, cnt) values (2019, 3, 4, 23.000000) ;


    Insert into kakao_counting (year, month, day, cnt) values (2019, 3, 11, 25.000000) ;


    Insert into kakao_counting (year, month, day, cnt) values (2019, 3, 18, 43.000000) ;


    Insert into kakao_counting (year, month, day, cnt) values (2019, 3, 25, 27.000000) ;


    Insert into kakao_counting (year, month, day, cnt) values (2019, 4, 1, 43.000000) ;


    Insert into kakao_counting (year, month, day, cnt) values (2019, 4, 8, 40.000000) ;


    Insert into kakao_counting (year, month, day, cnt) values (2019, 4, 15, 24.000000) ;


    Insert into kakao_counting (year, month, day, cnt) values (2019, 4, 22, 41.000000) ;


    Insert into kakao_counting (year, month, day, cnt) values (2019, 4, 29, 30.000000) ;


    Insert into kakao_counting (year, month, day, cnt) values (2019, 5, 6, 35.000000) ;


    Insert into kakao_counting (year, month, day, cnt) values (2019, 5, 13, 59.000000) ;


    Insert into kakao_counting (year, month, day, cnt) values (2019, 5, 20, 36.000000) ;


    Insert into kakao_counting (year, month, day, cnt) values (2019, 5, 27, 31.000000) ;


    Insert into kakao_counting (year, month, day, cnt) values (2019, 6, 3, 82.000000) ;


    Insert into kakao_counting (year, month, day, cnt) values (2019, 6, 10, 52.000000) ;


    Insert into kakao_counting (year, month, day, cnt) values (2019, 6, 17, 29.000000) ;


    Insert into kakao_counting (year, month, day, cnt) values (2019, 6, 24, 29.000000) ;


    Insert into kakao_counting (year, month, day, cnt) values (2019, 7, 1, 33.000000) ;


    Insert into kakao_counting (year, month, day, cnt) values (2019, 7, 8, 36.000000) ;


    Insert into kakao_counting (year, month, day, cnt) values (2019, 7, 15, 30.000000) ;


    Insert into kakao_counting (year, month, day, cnt) values (2019, 7, 22, 27.000000) ;


    Insert into kakao_counting (year, month, day, cnt) values (2019, 7, 29, 33.000000) ;


    Insert into kakao_counting (year, month, day, cnt) values (2019, 8, 5, 51.000000) ;


    Insert into kakao_counting (year, month, day, cnt) values (2019, 8, 12, 33.000000) ;


    Insert into kakao_counting (year, month, day, cnt) values (2019, 8, 19, 29.000000) ;


    Insert into kakao_counting (year, month, day, cnt) values (2019, 8, 26, 29.000000) ;


    Insert into kakao_counting (year, month, day, cnt) values (2019, 9, 2, 28.000000) ;


    Insert into kakao_counting (year, month, day, cnt) values (2019, 9, 9, 27.000000) ;


    Insert into kakao_counting (year, month, day, cnt) values (2019, 9, 16, 30.000000) ;


    Insert into kakao_counting (year, month, day, cnt) values (2019, 9, 23, 28.000000) ;


    Insert into kakao_counting (year, month, day, cnt) values (2019, 9, 30, 27.000000) ;


    Insert into kakao_counting (year, month, day, cnt) values (2019, 10, 7, 25.000000) ;


    Insert into kakao_counting (year, month, day, cnt) values (2019, 10, 14, 26.000000) ;


    Insert into kakao_counting (year, month, day, cnt) values (2019, 10, 21, 34.000000) ;


    Insert into kakao_counting (year, month, day, cnt) values (2019, 10, 28, 25.000000) ;


    Insert into kakao_counting (year, month, day, cnt) values (2019, 11, 4, 25.000000) ;


    Insert into kakao_counting (year, month, day, cnt) values (2019, 11, 11, 24.000000) ;


    Insert into kakao_counting (year, month, day, cnt) values (2019, 11, 18, 25.000000) ;


    Insert into kakao_counting (year, month, day, cnt) values (2019, 11, 25, 21.000000) ;


    Insert into kakao_counting (year, month, day, cnt) values (2019, 12, 2, 25.000000) ;


    Insert into kakao_counting (year, month, day, cnt) values (2019, 12, 9, 28.000000) ;


    Insert into kakao_counting (year, month, day, cnt) values (2019, 12, 16, 21.000000) ;


    Insert into kakao_counting (year, month, day, cnt) values (2019, 12, 23, 19.000000) ;


    Insert into kakao_counting (year, month, day, cnt) values (2019, 12, 30, 22.000000) ;


    Insert into kakao_counting (year, month, day, cnt) values (2020, 1, 6, 21.000000) ;


    Insert into kakao_counting (year, month, day, cnt) values (2020, 1, 13, 22.000000) ;


    Insert into kakao_counting (year, month, day, cnt) values (2020, 1, 20, 20.000000) ;


    Insert into kakao_counting (year, month, day, cnt) values (2020, 1, 27, 23.000000) ;


    Insert into kakao_counting (year, month, day, cnt) values (2020, 2, 3, 25.000000) ;


    Insert into kakao_counting (year, month, day, cnt) values (2020, 2, 10, 48.000000) ;


    Insert into kakao_counting (year, month, day, cnt) values (2020, 2, 17, 28.000000) ;


    Insert into kakao_counting (year, month, day, cnt) values (2020, 2, 24, 34.000000) ;


    Insert into kakao_counting (year, month, day, cnt) values (2020, 3, 2, 36.000000) ;


    Insert into kakao_counting (year, month, day, cnt) values (2020, 3, 9, 72.000000) ;


    Insert into kakao_counting (year, month, day, cnt) values (2020, 3, 16, 100.000000) ;


    Insert into kakao_counting (year, month, day, cnt) values (2020, 3, 23, 78.000000) ;


    Insert into kakao_counting (year, month, day, cnt) values (2020, 3, 30, 57.000000) ;


    Insert into kakao_counting (year, month, day, cnt) values (2020, 4, 6, 50.000000) ;


    Insert into kakao_counting (year, month, day, cnt) values (2020, 4, 13, 46.000000) ;


    Insert into kakao_counting (year, month, day, cnt) values (2020, 4, 20, 44.000000) ;


    Insert into kakao_counting (year, month, day, cnt) values (2020, 4, 27, 29.000000) ;


    Insert into kakao_counting (year, month, day, cnt) values (2020, 5, 4, 29.000000) ;


    Insert into kakao_counting (year, month, day, cnt) values (2020, 5, 11, 33.000000) ;


    Insert into kakao_counting (year, month, day, cnt) values (2020, 5, 18, 34.000000) ;


    Insert into kakao_counting (year, month, day, cnt) values (2020, 5, 25, 35.000000) ;


    Insert into kakao_counting (year, month, day, cnt) values (2020, 6, 1, 37.000000) ;


    Insert into kakao_counting (year, month, day, cnt) values (2020, 6, 8, 36.000000) ;


    Insert into kakao_counting (year, month, day, cnt) values (2020, 6, 15, 37.000000) ;


    Insert into kakao_counting (year, month, day, cnt) values (2020, 6, 22, 30.000000) ;


    Insert into kakao_counting (year, month, day, cnt) values (2020, 6, 29, 29.000000) ;


    Insert into kakao_counting (year, month, day, cnt) values (2020, 7, 6, 25.000000) ;


    Insert into kakao_counting (year, month, day, cnt) values (2020, 7, 13, 25.000000) ;


    Insert into kakao_counting (year, month, day, cnt) values (2020, 7, 20, 29.000000) ;


    Insert into kakao_counting (year, month, day, cnt) values (2020, 7, 27, 28.000000) ;


    Insert into kakao_counting (year, month, day, cnt) values (2020, 8, 3, 25.000000) ;


    Insert into kakao_counting (year, month, day, cnt) values (2020, 8, 10, 27.000000) ;


    Insert into kakao_counting (year, month, day, cnt) values (2020, 8, 17, 25.000000) ;


    Insert into kakao_counting (year, month, day, cnt) values (2020, 8, 24, 25.000000) ;


    Insert into kakao_counting (year, month, day, cnt) values (2020, 8, 31, 29.000000) ;


    Insert into kakao_counting (year, month, day, cnt) values (2020, 9, 7, 29.000000) ;


    Insert into kakao_counting (year, month, day, cnt) values (2020, 9, 14, 28.000000) ;


    Insert into kakao_counting (year, month, day, cnt) values (2020, 9, 21, 28.000000) ;


    Insert into kakao_counting (year, month, day, cnt) values (2020, 9, 28, 19.000000) ;


    Insert into kakao_counting (year, month, day, cnt) values (2020, 10, 5, 21.000000) ;

In [71]:
# 확인
query = """ 
select * from kakao_counting ;
"""
cur.execute(query)
tmp=pd.DataFrame(list(cur.fetchall()))
tmp

       0     1   2   3     4
0      1  2018   1   1  26.0
1      2  2018   1   8  24.0
2      3  2018   1  15  23.0
3      4  2018   1  22  21.0
4      5  2018   1  29  26.0
..   ...   ...  ..  ..   ...
140  141  2020   9   7  29.0
141  142  2020   9  14  28.0
142  143  2020   9  21  28.0
143  144  2020   9  28  19.0
144  145  2020  10   5  21.0

[145 rows x 5 columns]

In [72]:
conn.commit()
cur.close()
conn.close()