In [8]:
import os
import sys
import urllib.request
import pandas as pd
import datetime
import pymysql
import re
import json

In [9]:
client_id = "YOUR_CLIENT_ID"
client_secret = "YOUR_CLIENT_SECRET"

url = "https://openapi.naver.com/v1/datalab/search";
body = "{\"startDate\":\"2016-01-01\",\"endDate\":\"2020-09-30\",\"timeUnit\":\"date\",\"keywordGroups\":[{\"groupName\":\"경제\",\"keywords\":[\"경제\"]}]}";

request = urllib.request.Request(url)
request.add_header("X-Naver-Client-Id",client_id)
request.add_header("X-Naver-Client-Secret",client_secret)
request.add_header("Content-Type","application/json")
response = urllib.request.urlopen(request, data=body.encode("utf-8"))
rescode = response.getcode()
if(rescode==200):
    response_body = response.read()
    scrapped = response_body.decode('utf-8')
else:
    print("Error Code:" + rescode)

In [10]:
jsonResult = json.loads(scrapped)
print(jsonResult['results'][0]['data'])

od': '2019-07-13', 'ratio': 14.49421}, {'period': '2019-07-14', 'ratio': 17.96678}, {'period': '2019-07-15', 'ratio': 25.88491}, {'period': '2019-07-16', 'ratio': 22.14393}, {'period': '2019-07-17', 'ratio': 23.16725}, {'period': '2019-07-18', 'ratio': 21.50645}, {'period': '2019-07-19', 'ratio': 18.40295}, {'period': '2019-07-20', 'ratio': 12.69921}, {'period': '2019-07-21', 'ratio': 14.36}, {'period': '2019-07-22', 'ratio': 18.83912}, {'period': '2019-07-23', 'ratio': 18.83912}, {'period': '2019-07-24', 'ratio': 18.08421}, {'period': '2019-07-25', 'ratio': 19.82888}, {'period': '2019-07-26', 'ratio': 17.12799}, {'period': '2019-07-27', 'ratio': 13.55477}, {'period': '2019-07-28', 'ratio': 13.35346}, {'period': '2019-07-29', 'ratio': 30.73309}, {'period': '2019-07-30', 'ratio': 18.26874}, {'period': '2019-07-31', 'ratio': 18.26874}, {'period': '2019-08-01', 'ratio': 18.30229}, {'period': '2019-08-02', 'ratio': 34.74249}, {'period': '2019-08-03', 'ratio': 19.81211}, {'period': '2019-08-04', 'ratio': 19.32561}, {'period': '2019-08-05', 'ratio': 98.69149}, {'period': '2019-08-06', 'ratio': 96.44354}, {'period': '2019-08-07', 'ratio': 49.01862}, {'period': '2019-08-08', 'ratio': 32.74618}, {'period': '2019-08-09', 'ratio': 26.20365}, {'period': '2019-08-10', 'ratio': 18.53715}, {'period': '2019-08-11', 'ratio': 18.58748}, {'period': '2019-08-12', 'ratio': 23.92216}, {'period': '2019-08-13', 'ratio': 25.24744}, {'period': '2019-08-14', 'ratio': 21.59033}, {'period': '2019-08-15', 'ratio': 20.93608}, {'period': '2019-08-16', 'ratio': 21.35547}, {'period': '2019-08-17', 'ratio': 15.14846}, {'period': '2019-08-18', 'ratio': 18.48683}, {'period': '2019-08-19', 'ratio': 24.52608}, {'period': '2019-08-20', 'ratio': 22.06005}, {'period': '2019-08-21', 'ratio': 21.50645}, {'period': '2019-08-22', 'ratio': 21.05351}, {'period': '2019-08-23', 'ratio': 20.68444}, {'period': '2019-08-24', 'ratio': 15.90337}, {'period': '2019-08-25', 'ratio': 16.45697}, {'period': '2019-08-26', 'ratio': 26.50561}, {'period': '2019-08-27', 'ratio': 22.19426}, {'period': '2019-08-28', 'ratio': 22.73108}, {'period': '2019-08-29', 'ratio': 21.50645}, {'period': '2019-08-30', 'ratio': 18.06743}, {'period': '2019-08-31', 'ratio': 12.93407}, {'period': '2019-09-01', 'ratio': 16.60795}, {'period': '2019-09-02', 'ratio': 21.74131}, {'period': '2019-09-03', 'ratio': 23.55309}, {'period': '2019-09-04', 'ratio': 24.52608}, {'period': '2019-09-05', 'ratio': 24.62674}, {'period': '2019-09-06', 'ratio': 21.18772}, {'period': '2019-09-07', 'ratio': 15.45042}, {'period': '2019-09-08', 'ratio': 17.53061}, {'period': '2019-09-09', 'ratio': 25.18033}, {'period': '2019-09-10', 'ratio': 22.59687}, {'period': '2019-09-11', 'ratio': 17.64804}, {'period': '2019-09-12', 'ratio': 12.88374}, {'period': '2019-09-13', 'ratio': 10.7029}, {'period': '2019-09-14', 'ratio': 11.52491}, {'period': '2019-09-15', 'ratio': 16.12145}, {'period': '2019-09-16', 'ratio': 24.49253}, {'period': '2019-09-17', 'ratio': 22.84851}, {'period': '2019-09-18', 'ratio': 22.0265}, {'period': '2019-09-19', 'ratio': 20.19795}, {'period': '2019-09-20', 'ratio': 18.48683}, {'period': '2019-09-21', 'ratio': 13.60509}, {'period': '2019-09-22', 'ratio': 14.96393}, {'period': '2019-09-23', 'ratio': 18.85589}, {'period': '2019-09-24', 'ratio': 18.87267}, {'period': '2019-09-25', 'ratio': 19.71145}, {'period': '2019-09-26', 'ratio': 18.15131}, {'period': '2019-09-27', 'ratio': 15.97047}, {'period': '2019-09-28', 'ratio': 11.30682}, {'period': '2019-09-29', 'ratio': 13.8064}, {'period': '2019-09-30', 'ratio': 20.43281}, {'period': '2019-10-01', 'ratio': 19.87921}, {'period': '2019-10-02', 'ratio': 17.56416}, {'period': '2019-10-03', 'ratio': 13.65542}, {'period': '2019-10-04', 'ratio': 15.43365}, {'period': '2019-10-05', 'ratio': 11.57523}, {'period': '2019-10-06', 'ratio': 15.16524}, {'period': '2019-10-07', 'ratio': 20.38248}, {'period': '2019-10-08', 'ratio': 17.91645}, {'period': '2019-10-09', 'ratio': 15.48397}, {'period': '2019-10-10', 'ratio': 18.08421}, {'period': '2019-10-11', 'ratio': 15.38332}, {'period': '2019-10-12', 'ratio': 12.61533}, {'period': '2019-10-13', 'ratio': 15.58463}, {'period': '2019-10-14', 'ratio': 20.8522}, {'period': '2019-10-15', 'ratio': 20.03019}, {'period': '2019-10-16', 'ratio': 20.66767}, {'period': '2019-10-17', 'ratio': 21.69099}, {'period': '2019-10-18', 'ratio': 20.95286}, {'period': '2019-10-19', 'ratio': 14.12514}, {'period': '2019-10-20', 'ratio': 18.31907}, {'period': '2019-10-21', 'ratio': 23.70407}, {'period': '2019-10-22', 'ratio': 23.11692}, {'period': '2019-10-23', 'ratio': 22.42912}, {'period': '2019-10-24', 'ratio': 21.64066}, {'period': '2019-10-25', 'ratio': 18.92299}, {'period': '2019-10-26', 'ratio': 12.93407}, {'period': '2019-10-27', 'ratio': 15.31622}, {'period': '2019-10-28', 'ratio': 20.39926}, {'period': '2019-10-29', 'ratio': 20.31538}, {'period': '2019-10-30', 'ratio': 21.07029}, {'period': '2019-10-31', 'ratio': 20.1644}, {'period': '2019-11-01', 'ratio': 16.67505}, {'period': '2019-11-02', 'ratio': 13.23603}, {'period': '2019-11-03', 'ratio': 15.09813}, {'period': '2019-11-04', 'ratio': 20.08052}, {'period': '2019-11-05', 'ratio': 20.49991}, {'period': '2019-11-06', 'ratio': 20.70122}, {'period': '2019-11-07', 'ratio': 19.64435}, {'period': '2019-11-08', 'ratio': 16.25566}, {'period': '2019-11-09', 'ratio': 12.02818}, {'period': '2019-11-10', 'ratio': 14.49421}, {'period': '2019-11-11', 'ratio': 18.5036}, {'period': '2019-11-12', 'ratio': 17.3964}, {'period': '2019-11-13', 'ratio': 16.13823}, {'period': '2019-11-14', 'ratio': 17.22865}, {'period': '2019-11-15', 'ratio': 16.97701}, {'period': '2019-11-16', 'ratio': 12.58178}, {'period': '2019-11-17', 'ratio': 15.61818}, {'period': '2019-11-18', 'ratio': 17.27898}, {'period': '2019-11-19', 'ratio': 16.85958}, {'period': '2019-11-20', 'ratio': 15.65173}, {'period': '2019-11-21', 'ratio': 19.94631}, {'period': '2019-11-22', 'ratio': 15.14846}, {'period': '2019-11-23', 'ratio': 11.29005}, {'period': '2019-11-24', 'ratio': 12.61533}, {'period': '2019-11-25', 'ratio': 17.22865}, {'period': '2019-11-26', 'ratio': 15.97047}, {'period': '2019-11-27', 'ratio': 16.69183}, {'period': '2019-11-28', 'ratio': 17.07767}, {'period': '2019-11-29', 'ratio': 15.18201}, {'period': '2019-11-30', 'ratio': 11.54168}, {'period': '2019-12-01', 'ratio': 12.68243}, {'period': '2019-12-02', 'ratio': 16.38986}, {'period': '2019-12-03', 'ratio': 17.01056}, {'period': '2019-12-04', 'ratio': 17.76547}, {'period': '2019-12-05', 'ratio': 16.23888}, {'period': '2019-12-06', 'ratio': 13.94061}, {'period': '2019-12-07', 'ratio': 10.60224}, {'period': '2019-12-08', 'ratio': 13.16893}, {'period': '2019-12-09', 'ratio': 15.34977}, {'period': '2019-12-10', 'ratio': 15.68528}, {'period': '2019-12-11', 'ratio': 14.12514}, {'period': '2019-12-12', 'ratio': 15.48397}, {'period': '2019-12-13', 'ratio': 13.62187}, {'period': '2019-12-14', 'ratio': 9.32729}, {'period': '2019-12-15', 'ratio': 11.54168}, {'period': '2019-12-16', 'ratio': 15.23234}, {'period': '2019-12-17', 'ratio': 15.85304}, {'period': '2019-12-18', 'ratio': 14.74584}, {'period': '2019-12-19', 'ratio': 15.61818}, {'period': '2019-12-20', 'ratio': 13.00117}, {'period': '2019-12-21', 'ratio': 9.54537}, {'period': '2019-12-22', 'ratio': 11.50813}, {'period': '2019-12-23', 'ratio': 15.98725}, {'period': '2019-12-24', 'ratio': 12.4979}, {'period': '2019-12-25', 'ratio': 9.93121}, {'period': '2019-12-26', 'ratio': 14.00771}, {'period': '2019-12-27', 'ratio': 12.90052}, {'period': '2019-12-28', 'ratio': 9.49505}, {'period': '2019-12-29', 'ratio': 9.0421}, {'period': '2019-12-30', 'ratio': 13.10182}, {'period': '2019-12-31', 'ratio': 12.4979}, {'period': '2020-01-01', 'ratio': 11.79332}, {'period': '2020-01-02', 'ratio': 14.56131}, {'period': '2020-01-03', 'ratio': 13.75608}, {'period': '2020-01-04', 'ratio': 10.24995}, {'period': '2020-01-05', 'ratio': 11.37393}, {'period': '2020-01-06', 'ratio': 15.48397}, {'period': '2020-01-07', 'ratio': 14.00771}, {'period': '2020-01-08', 'ratio': 16.69183}, {'period': '2020-01-09', 'ratio': 13.89028}, {'period': '2020-01-10', 'ratio': 12.58178}, {'period': '2020-01-11', 'ratio': 9.34406}, {'period': '2020-01-12', 'ratio': 11.52491}, {'period': '2020-01-13', 'ratio': 13.77285}, {'period': '2020-01-14', 'ratio': 14.49421}, {'period': '2020-01-15', 'ratio': 13.50444}, {'period': '2020-01-16', 'ratio': 15.13168}, {'period': '2020-01-17', 'ratio': 13.77285}, {'period': '2020-01-18', 'ratio': 9.32729}, {'period': '2020-01-19', 'ratio': 11.69266}, {'period': '2020-01-20', 'ratio': 13.31991}, {'period': '2020-01-21', 'ratio': 14.9136}, {'period': '2020-01-22', 'ratio': 14.86327}, {'period': '2020-01-23', 'ratio': 10.95453}, {'period': '2020-01-24', 'ratio': 8.4214}, {'period': '2020-01-25', 'ratio': 9.32729}, {'period': '2020-01-26', 'ratio': 10.19963}, {'period': '2020-01-27', 'ratio': 11.12229}, {'period': '2020-01-28', 'ratio': 16.37309}, {'period': '2020-01-29', 'ratio': 14.32645}, {'period': '2020-01-30', 'ratio': 14.00771}, {'period': '2020-01-31', 'ratio': 14.27612}, {'period': '2020-02-01', 'ratio': 11.34037}, {'period': '2020-02-02', 'ratio': 11.70944}, {'period': '2020-02-03', 'ratio': 15.86982}, {'period': '2020-02-04', 'ratio': 16.20533}, {'period': '2020-02-05', 'ratio': 15.29944}, {'period': '2020-02-06', 'ratio': 16.52407}, {'period': '2020-02-07', 'ratio': 13.28636}, {'period': '2020-02-08', 'ratio': 11.3236}, {'period': '2020-02-09', 'ratio': 11.92752}, {'period': '2020-02-10', 'ratio': 15.73561}, {'period': '2020-02-11', 'ratio': 16.45697}, {'period': '2020-02-12', 'ratio': 15.56785}, {'period': '2020-02-13', 'ratio': 15.43365}, {'period': '2020-02-14', 'ratio': 14.64519}, {'period': '2020-02-15', 'ratio': 11.03841}, {'period': '2020-02-16', 'ratio': 9.86411}, {'period': '2020-02-17', 'ratio': 14.88005}, {'period': '2020-02-18', 'ratio': 18.4365}, {'period': '2020-02-19', 'ratio': 18.06743}, {'period': '2020-02-20', 'ratio': 19.39271}, {'period': '2020-02-21', 'ratio': 19.1243}, {'period': '2020-02-22', 'ratio': 18.47005}, {'period': '2020-02-23', 'ratio': 22.31169}, {'period': '2020-02-24', 'ratio': 29.50847}, {'period': '2020-02-25', 'ratio': 26.37141}, {'period': '2020-02-26', 'ratio': 24.64351}, {'period': '2020-02-27', 'ratio': 22.7143}, {'period': '2020-02-28', 'ratio': 28.85421}, {'period': '2020-02-29', 'ratio': 22.47944}, {'period': '2020-03-01', 'ratio': 18.62103}, {'period': '2020-03-02', 'ratio': 23.73762}, {'period': '2020-03-03', 'ratio': 20.88575}, {'period': '2020-03-04', 'ratio': 25.34809}, {'period': '2020-03-05', 'ratio': 23.30145}, {'period': '2020-03-06', 'ratio': 22.22781}, {'period': '2020-03-07', 'ratio': 18.4365}, {'period': '2020-03-08', 'ratio': 18.95655}, {'period': '2020-03-09', 'ratio': 34.47408}, {'period': '2020-03-10', 'ratio': 32.46099}, {'period': '2020-03-11', 'ratio': 32.6623}, {'period': '2020-03-12', 'ratio': 44.69048}, {'period': '2020-03-13', 'ratio': 73.07498}, {'period': '2020-03-14', 'ratio': 29.10585}, {'period': '2020-03-15', 'ratio': 26.48884}, {'period': '2020-03-16', 'ratio': 46.23385}, {'period': '2020-03-17', 'ratio': 57.85941}, {'period': '2020-03-18', 'ratio': 58.64787}, {'period': '2020-03-19', 'ratio': 100}, {'period': '2020-03-20', 'ratio': 52.70927}, {'period': '2020-03-21', 'ratio': 35.04445}, {'period': '2020-03-22', 'ratio': 38.6009}, {'period': '2020-03-23', 'ratio': 55.87988}, {'period': '2020-03-24', 'ratio': 56.08119}, {'period': '2020-03-25', 'ratio': 44.06978}, {'period': '2020-03-26', 'ratio': 43.01291}, {'period': '2020-03-27', 'ratio': 38.58413}, {'period': '2020-03-28', 'ratio': 26.33786}, {'period': '2020-03-29', 'ratio': 28.28384}, {'period': '2020-03-30', 'ratio': 36.68847}, {'period': '2020-03-31', 'ratio': 36.26908}, {'period': '2020-04-01', 'ratio': 34.77604}, {'period': '2020-04-02', 'ratio': 31.90739}, {'period': '2020-04-03', 'ratio': 28.5187}, {'period': '2020-04-04', 'ratio': 21.84197}, {'period': '2020-04-05', 'ratio': 24.22412}, {'period': '2020-04-06', 'ratio': 33.2159}, {'period': '2020-04-07', 'ratio': 32.00805}, {'period': '2020-04-08', 'ratio': 29.49169}, {'period': '2020-04-09', 'ratio': 31.40412}, {'period': '2020-04-10', 'ratio': 32.36034}, {'period': '2020-04-11', 'ratio': 19.84566}, {'period': '2020-04-12', 'ratio': 24.12346}, {'period': '2020-04-13', 'ratio': 32.31001}, {'period': '2020-04-14', 'ratio': 29.57557}, {'period': '2020-04-15', 'ratio': 27.69669}, {'period': '2020-04-16', 'ratio': 48.5489}, {'period': '2020-04-17', 'ratio': 37.77889}, {'period': '2020-04-18', 'ratio': 22.39557}, {'period': '2020-04-19', 'ratio': 25.81781}, {'period': '2020-04-20', 'ratio': 35.37996}, {'period': '2020-04-21', 'ratio': 36.68847}, {'period': '2020-04-22', 'ratio': 34.10501}, {'period': '2020-04-23', 'ratio': 31.95772}, {'period': '2020-04-24', 'ratio': 25.86814}, {'period': '2020-04-25', 'ratio': 18.48683}, {'period': '2020-04-26', 'ratio': 19.0572}, {'period': '2020-04-27', 'ratio': 27.62959}, {'period': '2020-04-28', 'ratio': 26.74047}, {'period': '2020-04-29', 'ratio': 24.77772}, {'period': '2020-04-30', 'ratio': 16.00402}, {'period': '2020-05-01', 'ratio': 17.09444}, {'period': '2020-05-02', 'ratio': 15.14846}, {'period': '2020-05-03', 'ratio': 15.76916}, {'period': '2020-05-04', 'ratio': 20.68444}, {'period': '2020-05-05', 'ratio': 17.27898}, {'period': '2020-05-06', 'ratio': 23.85505}, {'period': '2020-05-07', 'ratio': 22.73108}, {'period': '2020-05-08', 'ratio': 18.93977}, {'period': '2020-05-09', 'ratio': 14.36}, {'period': '2020-05-10', 'ratio': 16.92669}, {'period': '2020-05-11', 'ratio': 22.93239}, {'period': '2020-05-12', 'ratio': 23.21758}, {'period': '2020-05-13', 'ratio': 22.88206}, {'period': '2020-05-14', 'ratio': 21.89229}, {'period': '2020-05-15', 'ratio': 19.45982}, {'period': '2020-05-16', 'ratio': 13.16893}, {'period': '2020-05-17', 'ratio': 15.6014}, {'period': '2020-05-18', 'ratio': 21.64066}, {'period': '2020-05-19', 'ratio': 23.92216}, {'period': '2020-05-20', 'ratio': 22.14393}, {'period': '2020-05-21', 'ratio': 23.83828}, {'period': '2020-05-22', 'ratio': 21.90907}, {'period': '2020-05-23', 'ratio': 15.24911}, {'period': '2020-05-24', 'ratio': 16.84281}, {'period': '2020-05-25', 'ratio': 23.01627}, {'period': '2020-05-26', 'ratio': 25.53262}, {'period': '2020-05-27', 'ratio': 25.04613}, {'period': '2020-05-28', 'ratio': 26.15332}, {'period': '2020-05-29', 'ratio': 21.20449}, {'period': '2020-05-30', 'ratio': 14.94715}, {'period': '2020-05-31', 'ratio': 18.47005}, {'period': '2020-06-01', 'ratio': 26.0359}, {'period': '2020-06-02', 'ratio': 23.93893}, {'period': '2020-06-03', 'ratio': 24.25767}, {'period': '2020-06-04', 'ratio': 25.93524}, {'period': '2020-06-05', 'ratio': 24.39188}, {'period': '2020-06-06', 'ratio': 14.72907}, {'period': '2020-06-07', 'ratio': 17.79902}, {'period': '2020-06-08', 'ratio': 23.92216}, {'period': '2020-06-09', 'ratio': 26.20365}, {'period': '2020-06-10', 'ratio': 23.53631}, {'period': '2020-06-11', 'ratio': 24.54286}, {'period': '2020-06-12', 'ratio': 26.0359}, {'period': '2020-06-13', 'ratio': 15.09813}, {'period': '2020-06-14', 'ratio': 17.56416}, {'period': '2020-06-15', 'ratio': 31.52155}, {'period': '2020-06-16', 'ratio': 24.62674}, {'period': '2020-06-17', 'ratio': 24.12346}, {'period': '2020-06-18', 'ratio': 23.21758}, {'period': '2020-06-19', 'ratio': 21.20449}, {'period': '2020-06-20', 'ratio': 13.52122}, {'period': '2020-06-21', 'ratio': 16.28921}, {'period': '2020-06-22', 'ratio': 25.53262}, {'period': '2020-06-23', 'ratio': 25.07968}, {'period': '2020-06-24', 'ratio': 25.5494}, {'period': '2020-06-25', 'ratio': 24.97903}, {'period': '2020-06-26', 'ratio': 20.9193}, {'period': '2020-06-27', 'ratio': 14.54453}, {'period': '2020-06-28', 'ratio': 16.45697}, {'period': '2020-06-29', 'ratio': 24.14024}, {'period': '2020-06-30', 'ratio': 22.68075}, {'period': '2020-07-01', 'ratio': 24.59318}, {'period': '2020-07-02', 'ratio': 22.86529}, {'period': '2020-07-03', 'ratio': 19.745}, {'period': '2020-07-04', 'ratio': 12.88374}, {'period': '2020-07-05', 'ratio': 17.96678}, {'period': '2020-07-06', 'ratio': 21.80842}, {'period': '2020-07-07', 'ratio': 23.31823}, {'period': '2020-07-08', 'ratio': 23.25113}, {'period': '2020-07-09', 'ratio': 21.75809}, {'period': '2020-07-10', 'ratio': 19.10753}, {'period': '2020-07-11', 'ratio': 12.79986}, {'period': '2020-07-12', 'ratio': 16.37309}, {'period': '2020-07-13', 'ratio': 20.8522}, {'period': '2020-07-14', 'ratio': 21.48968}, {'period': '2020-07-15', 'ratio': 21.84197}, {'period': '2020-07-16', 'ratio': 20.65089}, {'period': '2020-07-17', 'ratio': 18.5036}, {'period': '2020-07-18', 'ratio': 11.8772}, {'period': '2020-07-19', 'ratio': 15.88659}, {'period': '2020-07-20', 'ratio': 18.90622}, {'period': '2020-07-21', 'ratio': 19.51014}, {'period': '2020-07-22', 'ratio': 19.29206}, {'period': '2020-07-23', 'ratio': 20.76832}, {'period': '2020-07-24', 'ratio': 18.3694}, {'period': '2020-07-25', 'ratio': 11.02164}, {'period': '2020-07-26', 'ratio': 13.72252}, {'period': '2020-07-27', 'ratio': 18.90622}, {'period': '2020-07-28', 'ratio': 20.11407}, {'period': '2020-07-29', 'ratio': 18.3694}, {'period': '2020-07-30', 'ratio': 18.70491}, {'period': '2020-07-31', 'ratio': 16.40664}, {'period': '2020-08-01', 'ratio': 10.53514}, {'period': '2020-08-02', 'ratio': 13.50444}, {'period': '2020-08-03', 'ratio': 18.38617}, {'period': '2020-08-04', 'ratio': 19.64435}, {'period': '2020-08-05', 'ratio': 20.96963}, {'period': '2020-08-06', 'ratio': 19.91276}, {'period': '2020-08-07', 'ratio': 20.01342}, {'period': '2020-08-08', 'ratio': 13.1857}, {'period': '2020-08-09', 'ratio': 15.19879}, {'period': '2020-08-10', 'ratio': 23.56987}, {'period': '2020-08-11', 'ratio': 24.15702}, {'period': '2020-08-12', 'ratio': 24.64351}, {'period': '2020-08-13', 'ratio': 20.86898}, {'period': '2020-08-14', 'ratio': 19.24173}, {'period': '2020-08-15', 'ratio': 11.02164}, {'period': '2020-08-16', 'ratio': 11.49136}, {'period': '2020-08-17', 'ratio': 16.25566}, {'period': '2020-08-18', 'ratio': 21.25482}, {'period': '2020-08-19', 'ratio': 18.83912}, {'period': '2020-08-20', 'ratio': 21.82519}, {'period': '2020-08-21', 'ratio': 16.47374}, {'period': '2020-08-22', 'ratio': 12.68243}, {'period': '2020-08-23', 'ratio': 14.17547}, {'period': '2020-08-24', 'ratio': 20.08052}, {'period': '2020-08-25', 'ratio': 19.81211}, {'period': '2020-08-26', 'ratio': 20.03019}, {'period': '2020-08-27', 'ratio': 21.10384}, {'period': '2020-08-28', 'ratio': 22.34524}, {'period': '2020-08-29', 'ratio': 14.2258}, {'period': '2020-08-30', 'ratio': 14.9807}, {'period': '2020-08-31', 'ratio': 25.98557}, {'period': '2020-09-01', 'ratio': 23.73762}, {'period': '2020-09-02', 'ratio': 26.80758}, {'period': '2020-09-03', 'ratio': 25.29776}, {'period': '2020-09-04', 'ratio': 25.90169}, {'period': '2020-09-05', 'ratio': 14.25935}, {'period': '2020-09-06', 'ratio': 16.13823}, {'period': '2020-09-07', 'ratio': 26.52239}, {'period': '2020-09-08', 'ratio': 24.25767}, {'period': '2020-09-09', 'ratio': 24.00603}, {'period': '2020-09-10', 'ratio': 24.67706}, {'period': '2020-09-11', 'ratio': 23.18402}, {'period': '2020-09-12', 'ratio': 15.19879}, {'period': '2020-09-13', 'ratio': 17.24542}, {'period': '2020-09-14', 'ratio': 23.70407}, {'period': '2020-09-15', 'ratio': 22.00972}, {'period': '2020-09-16', 'ratio': 23.6873}, {'period': '2020-09-17', 'ratio': 21.20449}, {'period': '2020-09-18', 'ratio': 19.86243}, {'period': '2020-09-19', 'ratio': 13.75608}, {'period': '2020-09-20', 'ratio': 16.79248}, {'period': '2020-09-21', 'ratio': 21.4729}, {'period': '2020-09-22', 'ratio': 25.09646}, {'period': '2020-09-23', 'ratio': 22.5801}, {'period': '2020-09-24', 'ratio': 24.50931}, {'period': '2020-09-25', 'ratio': 19.6779}, {'period': '2020-09-26', 'ratio': 12.79986}, {'period': '2020-09-27', 'ratio': 16.28921}, {'period': '2020-09-28', 'ratio': 21.38902}, {'period': '2020-09-29', 'ratio': 17.78225}, {'period': '2020-09-30', 'ratio': 9.36084}]

In [11]:
def extract_year_and_month(period):
    year = period.split('-')[0]
    month = period.split('-')[1]
    day = period.split('-')[2]
    return year, month, day

# DB 연동 및 table 생성

In [20]:
conn = pymysql.connect(host = "127.0.0.1", user = [USER], passwd = [PASSWORD], db = [DATABASE])
cur = conn.cursor()

In [21]:
"""
검색어 트랜드 정보 저장할 table 생성
"""

create_table_query = """
CREATE TABLE IF NOT EXISTS naver_counting(
    id BIGINT(7) NOT NULL AUTO_INCREMENT,
    year bigint(4) NOT NULL,
    month bigint(2) NOT NULL,
    day bigint(2) NOT NULL,
    cnt double,
    primary key(id) )
    charset=utf8mb4;
"""
cur.execute(create_table_query)

0

In [22]:
cur.execute("desc naver_counting")
table = cur.fetchall()
pd.DataFrame(list(table))

       0          1    2    3     4               5
0     id  bigint(7)   NO  PRI  None  auto_increment
1   year  bigint(4)   NO       None
2  month  bigint(2)   NO       None
3    day  bigint(2)   NO       None
4    cnt     double  YES       None

In [23]:
"""
db table에 저장
"""

for result in jsonResult['results'][0]['data']:
    query = """ 
    Insert into naver_counting (year, month, day, cnt) values (%d, %d, %d, %f) ;
    """
    year, month, day = extract_year_and_month(result["period"])
    naver_cnt = result["ratio"]

    mystring = (query % (int(year), int(month), int(day), float(naver_cnt)))
    print(mystring)
    cur.execute(mystring)

Insert into naver_counting (year, month, day, cnt) values (2020, 3, 6, 22.227810) ;


    Insert into naver_counting (year, month, day, cnt) values (2020, 3, 7, 18.436500) ;


    Insert into naver_counting (year, month, day, cnt) values (2020, 3, 8, 18.956550) ;


    Insert into naver_counting (year, month, day, cnt) values (2020, 3, 9, 34.474080) ;


    Insert into naver_counting (year, month, day, cnt) values (2020, 3, 10, 32.460990) ;


    Insert into naver_counting (year, month, day, cnt) values (2020, 3, 11, 32.662300) ;


    Insert into naver_counting (year, month, day, cnt) values (2020, 3, 12, 44.690480) ;


    Insert into naver_counting (year, month, day, cnt) values (2020, 3, 13, 73.074980) ;


    Insert into naver_counting (year, month, day, cnt) values (2020, 3, 14, 29.105850) ;


    Insert into naver_counting (year, month, day, cnt) values (2020, 3, 15, 26.488840) ;


    Insert into naver_counting (year, month, day, cnt) values (2020, 3, 16, 46.233850) ;


    Insert into naver_counting (year, month, day, cnt) values (2020, 3, 17, 57.859410) ;


    Insert into naver_counting (year, month, day, cnt) values (2020, 3, 18, 58.647870) ;


    Insert into naver_counting (year, month, day, cnt) values (2020, 3, 19, 100.000000) ;


    Insert into naver_counting (year, month, day, cnt) values (2020, 3, 20, 52.709270) ;


    Insert into naver_counting (year, month, day, cnt) values (2020, 3, 21, 35.044450) ;


    Insert into naver_counting (year, month, day, cnt) values (2020, 3, 22, 38.600900) ;


    Insert into naver_counting (year, month, day, cnt) values (2020, 3, 23, 55.879880) ;


    Insert into naver_counting (year, month, day, cnt) values (2020, 3, 24, 56.081190) ;


    Insert into naver_counting (year, month, day, cnt) values (2020, 3, 25, 44.069780) ;


    Insert into naver_counting (year, month, day, cnt) values (2020, 3, 26, 43.012910) ;


    Insert into naver_counting (year, month, day, cnt) values (2020, 3, 27, 38.584130) ;


    Insert into naver_counting (year, month, day, cnt) values (2020, 3, 28, 26.337860) ;


    Insert into naver_counting (year, month, day, cnt) values (2020, 3, 29, 28.283840) ;


    Insert into naver_counting (year, month, day, cnt) values (2020, 3, 30, 36.688470) ;


    Insert into naver_counting (year, month, day, cnt) values (2020, 3, 31, 36.269080) ;


    Insert into naver_counting (year, month, day, cnt) values (2020, 4, 1, 34.776040) ;


    Insert into naver_counting (year, month, day, cnt) values (2020, 4, 2, 31.907390) ;


    Insert into naver_counting (year, month, day, cnt) values (2020, 4, 3, 28.518700) ;


    Insert into naver_counting (year, month, day, cnt) values (2020, 4, 4, 21.841970) ;


    Insert into naver_counting (year, month, day, cnt) values (2020, 4, 5, 24.224120) ;


    Insert into naver_counting (year, month, day, cnt) values (2020, 4, 6, 33.215900) ;


    Insert into naver_counting (year, month, day, cnt) values (2020, 4, 7, 32.008050) ;


    Insert into naver_counting (year, month, day, cnt) values (2020, 4, 8, 29.491690) ;


    Insert into naver_counting (year, month, day, cnt) values (2020, 4, 9, 31.404120) ;


    Insert into naver_counting (year, month, day, cnt) values (2020, 4, 10, 32.360340) ;


    Insert into naver_counting (year, month, day, cnt) values (2020, 4, 11, 19.845660) ;


    Insert into naver_counting (year, month, day, cnt) values (2020, 4, 12, 24.123460) ;


    Insert into naver_counting (year, month, day, cnt) values (2020, 4, 13, 32.310010) ;


    Insert into naver_counting (year, month, day, cnt) values (2020, 4, 14, 29.575570) ;


    Insert into naver_counting (year, month, day, cnt) values (2020, 4, 15, 27.696690) ;


    Insert into naver_counting (year, month, day, cnt) values (2020, 4, 16, 48.548900) ;


    Insert into naver_counting (year, month, day, cnt) values (2020, 4, 17, 37.778890) ;


    Insert into naver_counting (year, month, day, cnt) values (2020, 4, 18, 22.395570) ;


    Insert into naver_counting (year, month, day, cnt) values (2020, 4, 19, 25.817810) ;


    Insert into naver_counting (year, month, day, cnt) values (2020, 4, 20, 35.379960) ;


    Insert into naver_counting (year, month, day, cnt) values (2020, 4, 21, 36.688470) ;


    Insert into naver_counting (year, month, day, cnt) values (2020, 4, 22, 34.105010) ;


    Insert into naver_counting (year, month, day, cnt) values (2020, 4, 23, 31.957720) ;


    Insert into naver_counting (year, month, day, cnt) values (2020, 4, 24, 25.868140) ;


    Insert into naver_counting (year, month, day, cnt) values (2020, 4, 25, 18.486830) ;


    Insert into naver_counting (year, month, day, cnt) values (2020, 4, 26, 19.057200) ;


    Insert into naver_counting (year, month, day, cnt) values (2020, 4, 27, 27.629590) ;


    Insert into naver_counting (year, month, day, cnt) values (2020, 4, 28, 26.740470) ;


    Insert into naver_counting (year, month, day, cnt) values (2020, 4, 29, 24.777720) ;


    Insert into naver_counting (year, month, day, cnt) values (2020, 4, 30, 16.004020) ;


    Insert into naver_counting (year, month, day, cnt) values (2020, 5, 1, 17.094440) ;


    Insert into naver_counting (year, month, day, cnt) values (2020, 5, 2, 15.148460) ;


    Insert into naver_counting (year, month, day, cnt) values (2020, 5, 3, 15.769160) ;


    Insert into naver_counting (year, month, day, cnt) values (2020, 5, 4, 20.684440) ;


    Insert into naver_counting (year, month, day, cnt) values (2020, 5, 5, 17.278980) ;


    Insert into naver_counting (year, month, day, cnt) values (2020, 5, 6, 23.855050) ;


    Insert into naver_counting (year, month, day, cnt) values (2020, 5, 7, 22.731080) ;


    Insert into naver_counting (year, month, day, cnt) values (2020, 5, 8, 18.939770) ;


    Insert into naver_counting (year, month, day, cnt) values (2020, 5, 9, 14.360000) ;


    Insert into naver_counting (year, month, day, cnt) values (2020, 5, 10, 16.926690) ;


    Insert into naver_counting (year, month, day, cnt) values (2020, 5, 11, 22.932390) ;


    Insert into naver_counting (year, month, day, cnt) values (2020, 5, 12, 23.217580) ;


    Insert into naver_counting (year, month, day, cnt) values (2020, 5, 13, 22.882060) ;


    Insert into naver_counting (year, month, day, cnt) values (2020, 5, 14, 21.892290) ;


    Insert into naver_counting (year, month, day, cnt) values (2020, 5, 15, 19.459820) ;


    Insert into naver_counting (year, month, day, cnt) values (2020, 5, 16, 13.168930) ;


    Insert into naver_counting (year, month, day, cnt) values (2020, 5, 17, 15.601400) ;


    Insert into naver_counting (year, month, day, cnt) values (2020, 5, 18, 21.640660) ;


    Insert into naver_counting (year, month, day, cnt) values (2020, 5, 19, 23.922160) ;


    Insert into naver_counting (year, month, day, cnt) values (2020, 5, 20, 22.143930) ;


    Insert into naver_counting (year, month, day, cnt) values (2020, 5, 21, 23.838280) ;


    Insert into naver_counting (year, month, day, cnt) values (2020, 5, 22, 21.909070) ;


    Insert into naver_counting (year, month, day, cnt) values (2020, 5, 23, 15.249110) ;


    Insert into naver_counting (year, month, day, cnt) values (2020, 5, 24, 16.842810) ;


    Insert into naver_counting (year, month, day, cnt) values (2020, 5, 25, 23.016270) ;


    Insert into naver_counting (year, month, day, cnt) values (2020, 5, 26, 25.532620) ;


    Insert into naver_counting (year, month, day, cnt) values (2020, 5, 27, 25.046130) ;


    Insert into naver_counting (year, month, day, cnt) values (2020, 5, 28, 26.153320) ;


    Insert into naver_counting (year, month, day, cnt) values (2020, 5, 29, 21.204490) ;


    Insert into naver_counting (year, month, day, cnt) values (2020, 5, 30, 14.947150) ;


    Insert into naver_counting (year, month, day, cnt) values (2020, 5, 31, 18.470050) ;


    Insert into naver_counting (year, month, day, cnt) values (2020, 6, 1, 26.035900) ;


    Insert into naver_counting (year, month, day, cnt) values (2020, 6, 2, 23.938930) ;


    Insert into naver_counting (year, month, day, cnt) values (2020, 6, 3, 24.257670) ;


    Insert into naver_counting (year, month, day, cnt) values (2020, 6, 4, 25.935240) ;


    Insert into naver_counting (year, month, day, cnt) values (2020, 6, 5, 24.391880) ;


    Insert into naver_counting (year, month, day, cnt) values (2020, 6, 6, 14.729070) ;


    Insert into naver_counting (year, month, day, cnt) values (2020, 6, 7, 17.799020) ;


    Insert into naver_counting (year, month, day, cnt) values (2020, 6, 8, 23.922160) ;


    Insert into naver_counting (year, month, day, cnt) values (2020, 6, 9, 26.203650) ;


    Insert into naver_counting (year, month, day, cnt) values (2020, 6, 10, 23.536310) ;


    Insert into naver_counting (year, month, day, cnt) values (2020, 6, 11, 24.542860) ;


    Insert into naver_counting (year, month, day, cnt) values (2020, 6, 12, 26.035900) ;


    Insert into naver_counting (year, month, day, cnt) values (2020, 6, 13, 15.098130) ;


    Insert into naver_counting (year, month, day, cnt) values (2020, 6, 14, 17.564160) ;


    Insert into naver_counting (year, month, day, cnt) values (2020, 6, 15, 31.521550) ;


    Insert into naver_counting (year, month, day, cnt) values (2020, 6, 16, 24.626740) ;


    Insert into naver_counting (year, month, day, cnt) values (2020, 6, 17, 24.123460) ;


    Insert into naver_counting (year, month, day, cnt) values (2020, 6, 18, 23.217580) ;


    Insert into naver_counting (year, month, day, cnt) values (2020, 6, 19, 21.204490) ;


    Insert into naver_counting (year, month, day, cnt) values (2020, 6, 20, 13.521220) ;


    Insert into naver_counting (year, month, day, cnt) values (2020, 6, 21, 16.289210) ;


    Insert into naver_counting (year, month, day, cnt) values (2020, 6, 22, 25.532620) ;


    Insert into naver_counting (year, month, day, cnt) values (2020, 6, 23, 25.079680) ;


    Insert into naver_counting (year, month, day, cnt) values (2020, 6, 24, 25.549400) ;


    Insert into naver_counting (year, month, day, cnt) values (2020, 6, 25, 24.979030) ;


    Insert into naver_counting (year, month, day, cnt) values (2020, 6, 26, 20.919300) ;


    Insert into naver_counting (year, month, day, cnt) values (2020, 6, 27, 14.544530) ;


    Insert into naver_counting (year, month, day, cnt) values (2020, 6, 28, 16.456970) ;


    Insert into naver_counting (year, month, day, cnt) values (2020, 6, 29, 24.140240) ;


    Insert into naver_counting (year, month, day, cnt) values (2020, 6, 30, 22.680750) ;


    Insert into naver_counting (year, month, day, cnt) values (2020, 7, 1, 24.593180) ;


    Insert into naver_counting (year, month, day, cnt) values (2020, 7, 2, 22.865290) ;


    Insert into naver_counting (year, month, day, cnt) values (2020, 7, 3, 19.745000) ;


    Insert into naver_counting (year, month, day, cnt) values (2020, 7, 4, 12.883740) ;


    Insert into naver_counting (year, month, day, cnt) values (2020, 7, 5, 17.966780) ;


    Insert into naver_counting (year, month, day, cnt) values (2020, 7, 6, 21.808420) ;


    Insert into naver_counting (year, month, day, cnt) values (2020, 7, 7, 23.318230) ;


    Insert into naver_counting (year, month, day, cnt) values (2020, 7, 8, 23.251130) ;


    Insert into naver_counting (year, month, day, cnt) values (2020, 7, 9, 21.758090) ;


    Insert into naver_counting (year, month, day, cnt) values (2020, 7, 10, 19.107530) ;


    Insert into naver_counting (year, month, day, cnt) values (2020, 7, 11, 12.799860) ;


    Insert into naver_counting (year, month, day, cnt) values (2020, 7, 12, 16.373090) ;


    Insert into naver_counting (year, month, day, cnt) values (2020, 7, 13, 20.852200) ;


    Insert into naver_counting (year, month, day, cnt) values (2020, 7, 14, 21.489680) ;


    Insert into naver_counting (year, month, day, cnt) values (2020, 7, 15, 21.841970) ;


    Insert into naver_counting (year, month, day, cnt) values (2020, 7, 16, 20.650890) ;


    Insert into naver_counting (year, month, day, cnt) values (2020, 7, 17, 18.503600) ;


    Insert into naver_counting (year, month, day, cnt) values (2020, 7, 18, 11.877200) ;


    Insert into naver_counting (year, month, day, cnt) values (2020, 7, 19, 15.886590) ;


    Insert into naver_counting (year, month, day, cnt) values (2020, 7, 20, 18.906220) ;


    Insert into naver_counting (year, month, day, cnt) values (2020, 7, 21, 19.510140) ;


    Insert into naver_counting (year, month, day, cnt) values (2020, 7, 22, 19.292060) ;


    Insert into naver_counting (year, month, day, cnt) values (2020, 7, 23, 20.768320) ;


    Insert into naver_counting (year, month, day, cnt) values (2020, 7, 24, 18.369400) ;


    Insert into naver_counting (year, month, day, cnt) values (2020, 7, 25, 11.021640) ;


    Insert into naver_counting (year, month, day, cnt) values (2020, 7, 26, 13.722520) ;


    Insert into naver_counting (year, month, day, cnt) values (2020, 7, 27, 18.906220) ;


    Insert into naver_counting (year, month, day, cnt) values (2020, 7, 28, 20.114070) ;


    Insert into naver_counting (year, month, day, cnt) values (2020, 7, 29, 18.369400) ;


    Insert into naver_counting (year, month, day, cnt) values (2020, 7, 30, 18.704910) ;


    Insert into naver_counting (year, month, day, cnt) values (2020, 7, 31, 16.406640) ;


    Insert into naver_counting (year, month, day, cnt) values (2020, 8, 1, 10.535140) ;


    Insert into naver_counting (year, month, day, cnt) values (2020, 8, 2, 13.504440) ;


    Insert into naver_counting (year, month, day, cnt) values (2020, 8, 3, 18.386170) ;


    Insert into naver_counting (year, month, day, cnt) values (2020, 8, 4, 19.644350) ;


    Insert into naver_counting (year, month, day, cnt) values (2020, 8, 5, 20.969630) ;


    Insert into naver_counting (year, month, day, cnt) values (2020, 8, 6, 19.912760) ;


    Insert into naver_counting (year, month, day, cnt) values (2020, 8, 7, 20.013420) ;


    Insert into naver_counting (year, month, day, cnt) values (2020, 8, 8, 13.185700) ;


    Insert into naver_counting (year, month, day, cnt) values (2020, 8, 9, 15.198790) ;


    Insert into naver_counting (year, month, day, cnt) values (2020, 8, 10, 23.569870) ;


    Insert into naver_counting (year, month, day, cnt) values (2020, 8, 11, 24.157020) ;


    Insert into naver_counting (year, month, day, cnt) values (2020, 8, 12, 24.643510) ;


    Insert into naver_counting (year, month, day, cnt) values (2020, 8, 13, 20.868980) ;


    Insert into naver_counting (year, month, day, cnt) values (2020, 8, 14, 19.241730) ;


    Insert into naver_counting (year, month, day, cnt) values (2020, 8, 15, 11.021640) ;


    Insert into naver_counting (year, month, day, cnt) values (2020, 8, 16, 11.491360) ;


    Insert into naver_counting (year, month, day, cnt) values (2020, 8, 17, 16.255660) ;


    Insert into naver_counting (year, month, day, cnt) values (2020, 8, 18, 21.254820) ;


    Insert into naver_counting (year, month, day, cnt) values (2020, 8, 19, 18.839120) ;


    Insert into naver_counting (year, month, day, cnt) values (2020, 8, 20, 21.825190) ;


    Insert into naver_counting (year, month, day, cnt) values (2020, 8, 21, 16.473740) ;


    Insert into naver_counting (year, month, day, cnt) values (2020, 8, 22, 12.682430) ;


    Insert into naver_counting (year, month, day, cnt) values (2020, 8, 23, 14.175470) ;


    Insert into naver_counting (year, month, day, cnt) values (2020, 8, 24, 20.080520) ;


    Insert into naver_counting (year, month, day, cnt) values (2020, 8, 25, 19.812110) ;


    Insert into naver_counting (year, month, day, cnt) values (2020, 8, 26, 20.030190) ;


    Insert into naver_counting (year, month, day, cnt) values (2020, 8, 27, 21.103840) ;


    Insert into naver_counting (year, month, day, cnt) values (2020, 8, 28, 22.345240) ;


    Insert into naver_counting (year, month, day, cnt) values (2020, 8, 29, 14.225800) ;


    Insert into naver_counting (year, month, day, cnt) values (2020, 8, 30, 14.980700) ;


    Insert into naver_counting (year, month, day, cnt) values (2020, 8, 31, 25.985570) ;


    Insert into naver_counting (year, month, day, cnt) values (2020, 9, 1, 23.737620) ;


    Insert into naver_counting (year, month, day, cnt) values (2020, 9, 2, 26.807580) ;


    Insert into naver_counting (year, month, day, cnt) values (2020, 9, 3, 25.297760) ;


    Insert into naver_counting (year, month, day, cnt) values (2020, 9, 4, 25.901690) ;


    Insert into naver_counting (year, month, day, cnt) values (2020, 9, 5, 14.259350) ;


    Insert into naver_counting (year, month, day, cnt) values (2020, 9, 6, 16.138230) ;


    Insert into naver_counting (year, month, day, cnt) values (2020, 9, 7, 26.522390) ;


    Insert into naver_counting (year, month, day, cnt) values (2020, 9, 8, 24.257670) ;


    Insert into naver_counting (year, month, day, cnt) values (2020, 9, 9, 24.006030) ;


    Insert into naver_counting (year, month, day, cnt) values (2020, 9, 10, 24.677060) ;


    Insert into naver_counting (year, month, day, cnt) values (2020, 9, 11, 23.184020) ;


    Insert into naver_counting (year, month, day, cnt) values (2020, 9, 12, 15.198790) ;


    Insert into naver_counting (year, month, day, cnt) values (2020, 9, 13, 17.245420) ;


    Insert into naver_counting (year, month, day, cnt) values (2020, 9, 14, 23.704070) ;


    Insert into naver_counting (year, month, day, cnt) values (2020, 9, 15, 22.009720) ;


    Insert into naver_counting (year, month, day, cnt) values (2020, 9, 16, 23.687300) ;


    Insert into naver_counting (year, month, day, cnt) values (2020, 9, 17, 21.204490) ;


    Insert into naver_counting (year, month, day, cnt) values (2020, 9, 18, 19.862430) ;


    Insert into naver_counting (year, month, day, cnt) values (2020, 9, 19, 13.756080) ;


    Insert into naver_counting (year, month, day, cnt) values (2020, 9, 20, 16.792480) ;


    Insert into naver_counting (year, month, day, cnt) values (2020, 9, 21, 21.472900) ;


    Insert into naver_counting (year, month, day, cnt) values (2020, 9, 22, 25.096460) ;


    Insert into naver_counting (year, month, day, cnt) values (2020, 9, 23, 22.580100) ;


    Insert into naver_counting (year, month, day, cnt) values (2020, 9, 24, 24.509310) ;


    Insert into naver_counting (year, month, day, cnt) values (2020, 9, 25, 19.677900) ;


    Insert into naver_counting (year, month, day, cnt) values (2020, 9, 26, 12.799860) ;


    Insert into naver_counting (year, month, day, cnt) values (2020, 9, 27, 16.289210) ;


    Insert into naver_counting (year, month, day, cnt) values (2020, 9, 28, 21.389020) ;


    Insert into naver_counting (year, month, day, cnt) values (2020, 9, 29, 17.782250) ;


    Insert into naver_counting (year, month, day, cnt) values (2020, 9, 30, 9.360840) ;

In [24]:
conn.commit()
cur.close()
conn.close()