In [2]:
import os
import sys
import urllib.request
import pandas as pd
import datetime
import pymysql
import re
import json

In [15]:
client_id = "YOUR_CLIENT_ID"
client_secret = "YOUR_CLIENT_SECRET"

start_date = '2016-01-01'
today = datetime.date.today().strftime('%Y-%m-%d')
url = "https://openapi.naver.com/v1/datalab/search";
body = "{\"startDate\":\""+start_date+"\",\"endDate\":\""+today+"\",\"timeUnit\":\"week\",\"keywordGroups\":[{\"groupName\":\"경제\",\"keywords\":[\"경제\"]}]}";

request = urllib.request.Request(url)
request.add_header("X-Naver-Client-Id",client_id)
request.add_header("X-Naver-Client-Secret",client_secret)
request.add_header("Content-Type","application/json")
response = urllib.request.urlopen(request, data=body.encode("utf-8"))
rescode = response.getcode()
if(rescode==200):
    response_body = response.read()
    scrapped = response_body.decode('utf-8')
else:
    print("Error Code:" + rescode)

In [16]:
jsonResult = json.loads(scrapped)
print(jsonResult['results'][0]['data'])

[{'period': '2015-12-28', 'ratio': 19.65163}, {'period': '2016-01-04', 'ratio': 26.05846}, {'period': '2016-01-11', 'ratio': 25.16599}, {'period': '2016-01-18', 'ratio': 27.38639}, {'period': '2016-01-25', 'ratio': 24.72622}, {'period': '2016-02-01', 'ratio': 23.01888}, {'period': '2016-02-08', 'ratio': 23.62248}, {'period': '2016-02-15', 'ratio': 25.2824}, {'period': '2016-02-22', 'ratio': 23.76476}, {'period': '2016-02-29', 'ratio': 28.85228}, {'period': '2016-03-07', 'ratio': 31.58144}, {'period': '2016-03-14', 'ratio': 28.44701}, {'period': '2016-03-21', 'ratio': 26.88626}, {'period': '2016-03-28', 'ratio': 26.26972}, {'period': '2016-04-04', 'ratio': 25.94205}, {'period': '2016-04-11', 'ratio': 25.57126}, {'period': '2016-04-18', 'ratio': 26.74829}, {'period': '2016-04-25', 'ratio': 25.11425}, {'period': '2016-05-02', 'ratio': 22.536}, {'period': '2016-05-09', 'ratio': 27.78304}, {'period': '2016-05-16', 'ratio': 27.96412}, {'period': '2016-05-23', 'ratio': 29.37397}, {'period': '2016-05-30', 'ratio': 26.40769}, {'period': '2016-06-06', 'ratio': 29.55936}, {'period': '2016-06-13', 'ratio': 29.69302}, {'period': '2016-06-20', 'ratio': 29.43864}, {'period': '2016-06-27', 'ratio': 25.81271}, {'period': '2016-07-04', 'ratio': 22.66103}, {'period': '2016-07-11', 'ratio': 23.07493}, {'period': '2016-07-18', 'ratio': 19.04802}, {'period': '2016-07-25', 'ratio': 17.29757}, {'period': '2016-08-01', 'ratio': 17.07338}, {'period': '2016-08-08', 'ratio': 17.49159}, {'period': '2016-08-15', 'ratio': 22.58342}, {'period': '2016-08-22', 'ratio': 22.54462}, {'period': '2016-08-29', 'ratio': 22.7645}, {'period': '2016-09-05', 'ratio': 24.45891}, {'period': '2016-09-12', 'ratio': 18.02621}, {'period': '2016-09-19', 'ratio': 24.9461}, {'period': '2016-09-26', 'ratio': 21.33741}, {'period': '2016-10-03', 'ratio': 22.88091}, {'period': '2016-10-10', 'ratio': 25.34707}, {'period': '2016-10-17', 'ratio': 25.48072}, {'period': '2016-10-24', 'ratio': 25.03233}, {'period': '2016-10-31', 'ratio': 26.23523}, {'period': '2016-11-07', 'ratio': 27.55885}, {'period': '2016-11-14', 'ratio': 25.27808}, {'period': '2016-11-21', 'ratio': 27.77873}, {'period': '2016-11-28', 'ratio': 27.26567}, {'period': '2016-12-05', 'ratio': 24.20453}, {'period': '2016-12-12', 'ratio': 25.36862}, {'period': '2016-12-19', 'ratio': 21.21238}, {'period': '2016-12-26', 'ratio': 19.99655}, {'period': '2017-01-02', 'ratio': 21.43657}, {'period': '2017-01-09', 'ratio': 21.44088}, {'period': '2017-01-16', 'ratio': 20.08709}, {'period': '2017-01-23', 'ratio': 16.91385}, {'period': '2017-01-30', 'ratio': 20.43631}, {'period': '2017-02-06', 'ratio': 20.45787}, {'period': '2017-02-13', 'ratio': 18.17711}, {'period': '2017-02-20', 'ratio': 18.46598}, {'period': '2017-02-27', 'ratio': 20.15176}, {'period': '2017-03-06', 'ratio': 29.91721}, {'period': '2017-03-13', 'ratio': 28.79624}, {'period': '2017-03-20', 'ratio': 26.52841}, {'period': '2017-03-27', 'ratio': 24.05363}, {'period': '2017-04-03', 'ratio': 23.74752}, {'period': '2017-04-10', 'ratio': 23.1008}, {'period': '2017-04-17', 'ratio': 21.29861}, {'period': '2017-04-24', 'ratio': 21.69957}, {'period': '2017-05-01', 'ratio': 17.97447}, {'period': '2017-05-08', 'ratio': 27.30016}, {'period': '2017-05-15', 'ratio': 27.7658}, {'period': '2017-05-22', 'ratio': 27.9943}, {'period': '2017-05-29', 'ratio': 26.62326}, {'period': '2017-06-05', 'ratio': 26.01534}, {'period': '2017-06-12', 'ratio': 27.5416}, {'period': '2017-06-19', 'ratio': 23.68284}, {'period': '2017-06-26', 'ratio': 19.5266}, {'period': '2017-07-03', 'ratio': 19.01353}, {'period': '2017-07-10', 'ratio': 21.31154}, {'period': '2017-07-17', 'ratio': 19.89307}, {'period': '2017-07-24', 'ratio': 18.53496}, {'period': '2017-07-31', 'ratio': 17.55195}, {'period': '2017-08-07', 'ratio': 19.14719}, {'period': '2017-08-14', 'ratio': 21.12184}, {'period': '2017-08-21', 'ratio': 22.56618}, {'period': '2017-08-28', 'ratio': 23.85961}, {'period': '2017-09-04', 'ratio': 26.76985}, {'period': '2017-09-11', 'ratio': 29.59386}, {'period': '2017-09-18', 'ratio': 25.47641}, {'period': '2017-09-25', 'ratio': 22.41527}, {'period': '2017-10-02', 'ratio': 18.0607}, {'period': '2017-10-09', 'ratio': 26.43787}, {'period': '2017-10-16', 'ratio': 24.59256}, {'period': '2017-10-23', 'ratio': 26.87332}, {'period': '2017-10-30', 'ratio': 25.74372}, {'period': '2017-11-06', 'ratio': 25.61438}, {'period': '2017-11-13', 'ratio': 24.1916}, {'period': '2017-11-20', 'ratio': 25.96361}, {'period': '2017-11-27', 'ratio': 27.65801}, {'period': '2017-12-04', 'ratio': 26.13606}, {'period': '2017-12-11', 'ratio': 22.88091}, {'period': '2017-12-18', 'ratio': 19.49211}, {'period': '2017-12-25', 'ratio': 16.95266}, {'period': '2018-01-01', 'ratio': 18.30645}, {'period': '2018-01-08', 'ratio': 20.02241}, {'period': '2018-01-15', 'ratio': 19.12132}, {'period': '2018-01-22', 'ratio': 19.65594}, {'period': '2018-01-29', 'ratio': 20.72518}, {'period': '2018-02-05', 'ratio': 21.15633}, {'period': '2018-02-12', 'ratio': 15.48245}, {'period': '2018-02-19', 'ratio': 21.46675}, {'period': '2018-02-26', 'ratio': 20.12589}, {'period': '2018-03-05', 'ratio': 28.55479}, {'period': '2018-03-12', 'ratio': 29.68871}, {'period': '2018-03-19', 'ratio': 29.40415}, {'period': '2018-03-26', 'ratio': 27.55453}, {'period': '2018-04-02', 'ratio': 28.47719}, {'period': '2018-04-09', 'ratio': 27.7313}, {'period': '2018-04-16', 'ratio': 28.14952}, {'period': '2018-04-23', 'ratio': 24.24765}, {'period': '2018-04-30', 'ratio': 25.08407}, {'period': '2018-05-07', 'ratio': 28.8954}, {'period': '2018-05-14', 'ratio': 29.37828}, {'period': '2018-05-21', 'ratio': 30.08536}, {'period': '2018-05-28', 'ratio': 40.52341}, {'period': '2018-06-04', 'ratio': 34.3149}, {'period': '2018-06-11', 'ratio': 39.78615}, {'period': '2018-06-18', 'ratio': 40.39406}, {'period': '2018-06-25', 'ratio': 33.80184}, {'period': '2018-07-02', 'ratio': 33.60351}, {'period': '2018-07-09', 'ratio': 36.86729}, {'period': '2018-07-16', 'ratio': 34.62102}, {'period': '2018-07-23', 'ratio': 31.6806}, {'period': '2018-07-30', 'ratio': 28.86091}, {'period': '2018-08-06', 'ratio': 27.63214}, {'period': '2018-08-13', 'ratio': 36.96214}, {'period': '2018-08-20', 'ratio': 39.40243}, {'period': '2018-08-27', 'ratio': 31.78839}, {'period': '2018-09-03', 'ratio': 34.94869}, {'period': '2018-09-10', 'ratio': 37.60455}, {'period': '2018-09-17', 'ratio': 32.74553}, {'period': '2018-09-24', 'ratio': 26.63188}, {'period': '2018-10-01', 'ratio': 33.19392}, {'period': '2018-10-08', 'ratio': 39.26877}, {'period': '2018-10-15', 'ratio': 38.45391}, {'period': '2018-10-22', 'ratio': 52.31956}, {'period': '2018-10-29', 'ratio': 55.87651}, {'period': '2018-11-05', 'ratio': 41.57971}, {'period': '2018-11-12', 'ratio': 38.79882}, {'period': '2018-11-19', 'ratio': 37.45796}, {'period': '2018-11-26', 'ratio': 39.94567}, {'period': '2018-12-03', 'ratio': 36.75088}, {'period': '2018-12-10', 'ratio': 33.8622}, {'period': '2018-12-17', 'ratio': 32.96973}, {'period': '2018-12-24', 'ratio': 30.025}, {'period': '2018-12-31', 'ratio': 33.73286}, {'period': '2019-01-07', 'ratio': 33.68112}, {'period': '2019-01-14', 'ratio': 31.96085}, {'period': '2019-01-21', 'ratio': 29.10666}, {'period': '2019-01-28', 'ratio': 27.33896}, {'period': '2019-02-04', 'ratio': 24.43304}, {'period': '2019-02-11', 'ratio': 28.03311}, {'period': '2019-02-18', 'ratio': 27.99862}, {'period': '2019-02-25', 'ratio': 25.89893}, {'period': '2019-03-04', 'ratio': 36.04811}, {'period': '2019-03-11', 'ratio': 40.2216}, {'period': '2019-03-18', 'ratio': 37.10011}, {'period': '2019-03-25', 'ratio': 36.31973}, {'period': '2019-04-01', 'ratio': 44.07605}, {'period': '2019-04-08', 'ratio': 36.61291}, {'period': '2019-04-15', 'ratio': 36.35854}, {'period': '2019-04-22', 'ratio': 48.53841}, {'period': '2019-04-29', 'ratio': 35.14702}, {'period': '2019-05-06', 'ratio': 40.13106}, {'period': '2019-05-13', 'ratio': 45.95585}, {'period': '2019-05-20', 'ratio': 43.34741}, {'period': '2019-05-27', 'ratio': 38.43235}, {'period': '2019-06-03', 'ratio': 39.48434}, {'period': '2019-06-10', 'ratio': 40.54065}, {'period': '2019-06-17', 'ratio': 34.3149}, {'period': '2019-06-24', 'ratio': 30.05949}, {'period': '2019-07-01', 'ratio': 32.93524}, {'period': '2019-07-08', 'ratio': 42.43338}, {'period': '2019-07-15', 'ratio': 35.50918}, {'period': '2019-07-22', 'ratio': 30.74502}, {'period': '2019-07-29', 'ratio': 40.98042}, {'period': '2019-08-05', 'ratio': 87.44071}, {'period': '2019-08-12', 'ratio': 37.6994}, {'period': '2019-08-19', 'ratio': 36.54393}, {'period': '2019-08-26', 'ratio': 36.12141}, {'period': '2019-09-02', 'ratio': 38.19522}, {'period': '2019-09-09', 'ratio': 29.98189}, {'period': '2019-09-16', 'ratio': 35.11252}, {'period': '2019-09-23', 'ratio': 29.9862}, {'period': '2019-09-30', 'ratio': 29.22307}, {'period': '2019-10-07', 'ratio': 29.67146}, {'period': '2019-10-14', 'ratio': 35.11684}, {'period': '2019-10-21', 'ratio': 35.48331}, {'period': '2019-10-28', 'ratio': 32.62912}, {'period': '2019-11-04', 'ratio': 31.7927}, {'period': '2019-11-11', 'ratio': 29.41277}, {'period': '2019-11-18', 'ratio': 27.95981}, {'period': '2019-11-25', 'ratio': 27.33896}, {'period': '2019-12-02', 'ratio': 27.0156}, {'period': '2019-12-09', 'ratio': 24.45028}, {'period': '2019-12-16', 'ratio': 24.54514}, {'period': '2019-12-23', 'ratio': 21.55298}, {'period': '2019-12-30', 'ratio': 22.44546}, {'period': '2020-01-06', 'ratio': 24.03638}, {'period': '2020-01-13', 'ratio': 23.56643}, {'period': '2020-01-20', 'ratio': 21.07441}, {'period': '2020-01-27', 'ratio': 23.94153}, {'period': '2020-02-03', 'ratio': 25.81271}, {'period': '2020-02-10', 'ratio': 25.37725}, {'period': '2020-02-17', 'ratio': 33.58627}, {'period': '2020-02-24', 'ratio': 44.51151}, {'period': '2020-03-02', 'ratio': 39.29464}, {'period': '2020-03-09', 'ratio': 70.15176}, {'period': '2020-03-16', 'ratio': 100}, {'period': '2020-03-23', 'ratio': 75.10994}, {'period': '2020-03-30', 'ratio': 55.05734}, {'period': '2020-04-06', 'ratio': 52.03069}, {'period': '2020-04-13', 'ratio': 57.6011}, {'period': '2020-04-20', 'ratio': 51.79787}, {'period': '2020-04-27', 'ratio': 36.79399}, {'period': '2020-05-04', 'ratio': 34.63826}, {'period': '2020-05-11', 'ratio': 35.76355}, {'period': '2020-05-18', 'ratio': 37.40622}, {'period': '2020-05-25', 'ratio': 39.67405}, {'period': '2020-06-01', 'ratio': 40.37251}, {'period': '2020-06-08', 'ratio': 40.32508}, {'period': '2020-06-15', 'ratio': 39.70854}, {'period': '2020-06-22', 'ratio': 39.33775}, {'period': '2020-06-29', 'ratio': 37.23376}, {'period': '2020-07-06', 'ratio': 35.57385}, {'period': '2020-07-13', 'ratio': 33.69405}, {'period': '2020-07-20', 'ratio': 31.24946}, {'period': '2020-07-27', 'ratio': 29.95171}, {'period': '2020-08-03', 'ratio': 32.71966}, {'period': '2020-08-10', 'ratio': 34.69431}, {'period': '2020-08-17', 'ratio': 31.2279}, {'period': '2020-08-24', 'ratio': 34.07346}, {'period': '2020-08-31', 'ratio': 40.63982}, {'period': '2020-09-07', 'ratio': 39.85944}, {'period': '2020-09-14', 'ratio': 36.24213}, {'period': '2020-09-21', 'ratio': 36.60429}, {'period': '2020-09-28', 'ratio': 25.29102}, {'period': '2020-10-05', 'ratio': 25.41174}]

In [17]:
def extract_year_and_month(period):
    year = period.split('-')[0]
    month = period.split('-')[1]
    day = period.split('-')[2]
    return year, month, day

# DB 연동 및 table 생성

In [18]:
conn = pymysql.connect(host = "127.0.0.1", user = [USER], passwd = [PASSWORD], db = [DATABASE])
cur = conn.cursor()

In [19]:
"""
검색어 트랜드 정보 저장할 table 생성
"""

create_table_query = """
CREATE TABLE IF NOT EXISTS naver_counting(
    id BIGINT(7) NOT NULL AUTO_INCREMENT,
    year bigint(4) NOT NULL,
    month bigint(2) NOT NULL,
    day bigint(2) NOT NULL,
    cnt double,
    primary key(id) )
    charset=utf8mb4;
"""
cur.execute(create_table_query)

0

In [20]:
cur.execute("desc naver_counting")
table = cur.fetchall()
pd.DataFrame(list(table))

       0          1    2    3     4               5
0     id  bigint(7)   NO  PRI  None  auto_increment
1   year  bigint(4)   NO       None
2  month  bigint(2)   NO       None
3    day  bigint(2)   NO       None
4    cnt     double  YES       None

In [21]:
"""
db table에 저장
"""

for result in jsonResult['results'][0]['data']:
    query = """ 
    Insert into naver_counting (year, month, day, cnt) values (%d, %d, %d, %f) ;
    """
    year, month, day = extract_year_and_month(result["period"])
    naver_cnt = result["ratio"]

    mystring = (query % (int(year), int(month), int(day), float(naver_cnt)))
    print(mystring)
    cur.execute(mystring)

values (2016, 10, 10, 25.347070) ;


    Insert into naver_counting (year, month, day, cnt) values (2016, 10, 17, 25.480720) ;


    Insert into naver_counting (year, month, day, cnt) values (2016, 10, 24, 25.032330) ;


    Insert into naver_counting (year, month, day, cnt) values (2016, 10, 31, 26.235230) ;


    Insert into naver_counting (year, month, day, cnt) values (2016, 11, 7, 27.558850) ;


    Insert into naver_counting (year, month, day, cnt) values (2016, 11, 14, 25.278080) ;


    Insert into naver_counting (year, month, day, cnt) values (2016, 11, 21, 27.778730) ;


    Insert into naver_counting (year, month, day, cnt) values (2016, 11, 28, 27.265670) ;


    Insert into naver_counting (year, month, day, cnt) values (2016, 12, 5, 24.204530) ;


    Insert into naver_counting (year, month, day, cnt) values (2016, 12, 12, 25.368620) ;


    Insert into naver_counting (year, month, day, cnt) values (2016, 12, 19, 21.212380) ;


    Insert into naver_counting (year, month, day, cnt) values (2016, 12, 26, 19.996550) ;


    Insert into naver_counting (year, month, day, cnt) values (2017, 1, 2, 21.436570) ;


    Insert into naver_counting (year, month, day, cnt) values (2017, 1, 9, 21.440880) ;


    Insert into naver_counting (year, month, day, cnt) values (2017, 1, 16, 20.087090) ;


    Insert into naver_counting (year, month, day, cnt) values (2017, 1, 23, 16.913850) ;


    Insert into naver_counting (year, month, day, cnt) values (2017, 1, 30, 20.436310) ;


    Insert into naver_counting (year, month, day, cnt) values (2017, 2, 6, 20.457870) ;


    Insert into naver_counting (year, month, day, cnt) values (2017, 2, 13, 18.177110) ;


    Insert into naver_counting (year, month, day, cnt) values (2017, 2, 20, 18.465980) ;


    Insert into naver_counting (year, month, day, cnt) values (2017, 2, 27, 20.151760) ;


    Insert into naver_counting (year, month, day, cnt) values (2017, 3, 6, 29.917210) ;


    Insert into naver_counting (year, month, day, cnt) values (2017, 3, 13, 28.796240) ;


    Insert into naver_counting (year, month, day, cnt) values (2017, 3, 20, 26.528410) ;


    Insert into naver_counting (year, month, day, cnt) values (2017, 3, 27, 24.053630) ;


    Insert into naver_counting (year, month, day, cnt) values (2017, 4, 3, 23.747520) ;


    Insert into naver_counting (year, month, day, cnt) values (2017, 4, 10, 23.100800) ;


    Insert into naver_counting (year, month, day, cnt) values (2017, 4, 17, 21.298610) ;


    Insert into naver_counting (year, month, day, cnt) values (2017, 4, 24, 21.699570) ;


    Insert into naver_counting (year, month, day, cnt) values (2017, 5, 1, 17.974470) ;


    Insert into naver_counting (year, month, day, cnt) values (2017, 5, 8, 27.300160) ;


    Insert into naver_counting (year, month, day, cnt) values (2017, 5, 15, 27.765800) ;


    Insert into naver_counting (year, month, day, cnt) values (2017, 5, 22, 27.994300) ;


    Insert into naver_counting (year, month, day, cnt) values (2017, 5, 29, 26.623260) ;


    Insert into naver_counting (year, month, day, cnt) values (2017, 6, 5, 26.015340) ;


    Insert into naver_counting (year, month, day, cnt) values (2017, 6, 12, 27.541600) ;


    Insert into naver_counting (year, month, day, cnt) values (2017, 6, 19, 23.682840) ;


    Insert into naver_counting (year, month, day, cnt) values (2017, 6, 26, 19.526600) ;


    Insert into naver_counting (year, month, day, cnt) values (2017, 7, 3, 19.013530) ;


    Insert into naver_counting (year, month, day, cnt) values (2017, 7, 10, 21.311540) ;


    Insert into naver_counting (year, month, day, cnt) values (2017, 7, 17, 19.893070) ;


    Insert into naver_counting (year, month, day, cnt) values (2017, 7, 24, 18.534960) ;


    Insert into naver_counting (year, month, day, cnt) values (2017, 7, 31, 17.551950) ;


    Insert into naver_counting (year, month, day, cnt) values (2017, 8, 7, 19.147190) ;


    Insert into naver_counting (year, month, day, cnt) values (2017, 8, 14, 21.121840) ;


    Insert into naver_counting (year, month, day, cnt) values (2017, 8, 21, 22.566180) ;


    Insert into naver_counting (year, month, day, cnt) values (2017, 8, 28, 23.859610) ;


    Insert into naver_counting (year, month, day, cnt) values (2017, 9, 4, 26.769850) ;


    Insert into naver_counting (year, month, day, cnt) values (2017, 9, 11, 29.593860) ;


    Insert into naver_counting (year, month, day, cnt) values (2017, 9, 18, 25.476410) ;


    Insert into naver_counting (year, month, day, cnt) values (2017, 9, 25, 22.415270) ;


    Insert into naver_counting (year, month, day, cnt) values (2017, 10, 2, 18.060700) ;


    Insert into naver_counting (year, month, day, cnt) values (2017, 10, 9, 26.437870) ;


    Insert into naver_counting (year, month, day, cnt) values (2017, 10, 16, 24.592560) ;


    Insert into naver_counting (year, month, day, cnt) values (2017, 10, 23, 26.873320) ;


    Insert into naver_counting (year, month, day, cnt) values (2017, 10, 30, 25.743720) ;


    Insert into naver_counting (year, month, day, cnt) values (2017, 11, 6, 25.614380) ;


    Insert into naver_counting (year, month, day, cnt) values (2017, 11, 13, 24.191600) ;


    Insert into naver_counting (year, month, day, cnt) values (2017, 11, 20, 25.963610) ;


    Insert into naver_counting (year, month, day, cnt) values (2017, 11, 27, 27.658010) ;


    Insert into naver_counting (year, month, day, cnt) values (2017, 12, 4, 26.136060) ;


    Insert into naver_counting (year, month, day, cnt) values (2017, 12, 11, 22.880910) ;


    Insert into naver_counting (year, month, day, cnt) values (2017, 12, 18, 19.492110) ;


    Insert into naver_counting (year, month, day, cnt) values (2017, 12, 25, 16.952660) ;


    Insert into naver_counting (year, month, day, cnt) values (2018, 1, 1, 18.306450) ;


    Insert into naver_counting (year, month, day, cnt) values (2018, 1, 8, 20.022410) ;


    Insert into naver_counting (year, month, day, cnt) values (2018, 1, 15, 19.121320) ;


    Insert into naver_counting (year, month, day, cnt) values (2018, 1, 22, 19.655940) ;


    Insert into naver_counting (year, month, day, cnt) values (2018, 1, 29, 20.725180) ;


    Insert into naver_counting (year, month, day, cnt) values (2018, 2, 5, 21.156330) ;


    Insert into naver_counting (year, month, day, cnt) values (2018, 2, 12, 15.482450) ;


    Insert into naver_counting (year, month, day, cnt) values (2018, 2, 19, 21.466750) ;


    Insert into naver_counting (year, month, day, cnt) values (2018, 2, 26, 20.125890) ;


    Insert into naver_counting (year, month, day, cnt) values (2018, 3, 5, 28.554790) ;


    Insert into naver_counting (year, month, day, cnt) values (2018, 3, 12, 29.688710) ;


    Insert into naver_counting (year, month, day, cnt) values (2018, 3, 19, 29.404150) ;


    Insert into naver_counting (year, month, day, cnt) values (2018, 3, 26, 27.554530) ;


    Insert into naver_counting (year, month, day, cnt) values (2018, 4, 2, 28.477190) ;


    Insert into naver_counting (year, month, day, cnt) values (2018, 4, 9, 27.731300) ;


    Insert into naver_counting (year, month, day, cnt) values (2018, 4, 16, 28.149520) ;


    Insert into naver_counting (year, month, day, cnt) values (2018, 4, 23, 24.247650) ;


    Insert into naver_counting (year, month, day, cnt) values (2018, 4, 30, 25.084070) ;


    Insert into naver_counting (year, month, day, cnt) values (2018, 5, 7, 28.895400) ;


    Insert into naver_counting (year, month, day, cnt) values (2018, 5, 14, 29.378280) ;


    Insert into naver_counting (year, month, day, cnt) values (2018, 5, 21, 30.085360) ;


    Insert into naver_counting (year, month, day, cnt) values (2018, 5, 28, 40.523410) ;


    Insert into naver_counting (year, month, day, cnt) values (2018, 6, 4, 34.314900) ;


    Insert into naver_counting (year, month, day, cnt) values (2018, 6, 11, 39.786150) ;


    Insert into naver_counting (year, month, day, cnt) values (2018, 6, 18, 40.394060) ;


    Insert into naver_counting (year, month, day, cnt) values (2018, 6, 25, 33.801840) ;


    Insert into naver_counting (year, month, day, cnt) values (2018, 7, 2, 33.603510) ;


    Insert into naver_counting (year, month, day, cnt) values (2018, 7, 9, 36.867290) ;


    Insert into naver_counting (year, month, day, cnt) values (2018, 7, 16, 34.621020) ;


    Insert into naver_counting (year, month, day, cnt) values (2018, 7, 23, 31.680600) ;


    Insert into naver_counting (year, month, day, cnt) values (2018, 7, 30, 28.860910) ;


    Insert into naver_counting (year, month, day, cnt) values (2018, 8, 6, 27.632140) ;


    Insert into naver_counting (year, month, day, cnt) values (2018, 8, 13, 36.962140) ;


    Insert into naver_counting (year, month, day, cnt) values (2018, 8, 20, 39.402430) ;


    Insert into naver_counting (year, month, day, cnt) values (2018, 8, 27, 31.788390) ;


    Insert into naver_counting (year, month, day, cnt) values (2018, 9, 3, 34.948690) ;


    Insert into naver_counting (year, month, day, cnt) values (2018, 9, 10, 37.604550) ;


    Insert into naver_counting (year, month, day, cnt) values (2018, 9, 17, 32.745530) ;


    Insert into naver_counting (year, month, day, cnt) values (2018, 9, 24, 26.631880) ;


    Insert into naver_counting (year, month, day, cnt) values (2018, 10, 1, 33.193920) ;


    Insert into naver_counting (year, month, day, cnt) values (2018, 10, 8, 39.268770) ;


    Insert into naver_counting (year, month, day, cnt) values (2018, 10, 15, 38.453910) ;


    Insert into naver_counting (year, month, day, cnt) values (2018, 10, 22, 52.319560) ;


    Insert into naver_counting (year, month, day, cnt) values (2018, 10, 29, 55.876510) ;


    Insert into naver_counting (year, month, day, cnt) values (2018, 11, 5, 41.579710) ;


    Insert into naver_counting (year, month, day, cnt) values (2018, 11, 12, 38.798820) ;


    Insert into naver_counting (year, month, day, cnt) values (2018, 11, 19, 37.457960) ;


    Insert into naver_counting (year, month, day, cnt) values (2018, 11, 26, 39.945670) ;


    Insert into naver_counting (year, month, day, cnt) values (2018, 12, 3, 36.750880) ;


    Insert into naver_counting (year, month, day, cnt) values (2018, 12, 10, 33.862200) ;


    Insert into naver_counting (year, month, day, cnt) values (2018, 12, 17, 32.969730) ;


    Insert into naver_counting (year, month, day, cnt) values (2018, 12, 24, 30.025000) ;


    Insert into naver_counting (year, month, day, cnt) values (2018, 12, 31, 33.732860) ;


    Insert into naver_counting (year, month, day, cnt) values (2019, 1, 7, 33.681120) ;


    Insert into naver_counting (year, month, day, cnt) values (2019, 1, 14, 31.960850) ;


    Insert into naver_counting (year, month, day, cnt) values (2019, 1, 21, 29.106660) ;


    Insert into naver_counting (year, month, day, cnt) values (2019, 1, 28, 27.338960) ;


    Insert into naver_counting (year, month, day, cnt) values (2019, 2, 4, 24.433040) ;


    Insert into naver_counting (year, month, day, cnt) values (2019, 2, 11, 28.033110) ;


    Insert into naver_counting (year, month, day, cnt) values (2019, 2, 18, 27.998620) ;


    Insert into naver_counting (year, month, day, cnt) values (2019, 2, 25, 25.898930) ;


    Insert into naver_counting (year, month, day, cnt) values (2019, 3, 4, 36.048110) ;


    Insert into naver_counting (year, month, day, cnt) values (2019, 3, 11, 40.221600) ;


    Insert into naver_counting (year, month, day, cnt) values (2019, 3, 18, 37.100110) ;


    Insert into naver_counting (year, month, day, cnt) values (2019, 3, 25, 36.319730) ;


    Insert into naver_counting (year, month, day, cnt) values (2019, 4, 1, 44.076050) ;


    Insert into naver_counting (year, month, day, cnt) values (2019, 4, 8, 36.612910) ;


    Insert into naver_counting (year, month, day, cnt) values (2019, 4, 15, 36.358540) ;


    Insert into naver_counting (year, month, day, cnt) values (2019, 4, 22, 48.538410) ;


    Insert into naver_counting (year, month, day, cnt) values (2019, 4, 29, 35.147020) ;


    Insert into naver_counting (year, month, day, cnt) values (2019, 5, 6, 40.131060) ;


    Insert into naver_counting (year, month, day, cnt) values (2019, 5, 13, 45.955850) ;


    Insert into naver_counting (year, month, day, cnt) values (2019, 5, 20, 43.347410) ;


    Insert into naver_counting (year, month, day, cnt) values (2019, 5, 27, 38.432350) ;


    Insert into naver_counting (year, month, day, cnt) values (2019, 6, 3, 39.484340) ;


    Insert into naver_counting (year, month, day, cnt) values (2019, 6, 10, 40.540650) ;


    Insert into naver_counting (year, month, day, cnt) values (2019, 6, 17, 34.314900) ;


    Insert into naver_counting (year, month, day, cnt) values (2019, 6, 24, 30.059490) ;


    Insert into naver_counting (year, month, day, cnt) values (2019, 7, 1, 32.935240) ;


    Insert into naver_counting (year, month, day, cnt) values (2019, 7, 8, 42.433380) ;


    Insert into naver_counting (year, month, day, cnt) values (2019, 7, 15, 35.509180) ;


    Insert into naver_counting (year, month, day, cnt) values (2019, 7, 22, 30.745020) ;


    Insert into naver_counting (year, month, day, cnt) values (2019, 7, 29, 40.980420) ;


    Insert into naver_counting (year, month, day, cnt) values (2019, 8, 5, 87.440710) ;


    Insert into naver_counting (year, month, day, cnt) values (2019, 8, 12, 37.699400) ;


    Insert into naver_counting (year, month, day, cnt) values (2019, 8, 19, 36.543930) ;


    Insert into naver_counting (year, month, day, cnt) values (2019, 8, 26, 36.121410) ;


    Insert into naver_counting (year, month, day, cnt) values (2019, 9, 2, 38.195220) ;


    Insert into naver_counting (year, month, day, cnt) values (2019, 9, 9, 29.981890) ;


    Insert into naver_counting (year, month, day, cnt) values (2019, 9, 16, 35.112520) ;


    Insert into naver_counting (year, month, day, cnt) values (2019, 9, 23, 29.986200) ;


    Insert into naver_counting (year, month, day, cnt) values (2019, 9, 30, 29.223070) ;


    Insert into naver_counting (year, month, day, cnt) values (2019, 10, 7, 29.671460) ;


    Insert into naver_counting (year, month, day, cnt) values (2019, 10, 14, 35.116840) ;


    Insert into naver_counting (year, month, day, cnt) values (2019, 10, 21, 35.483310) ;


    Insert into naver_counting (year, month, day, cnt) values (2019, 10, 28, 32.629120) ;


    Insert into naver_counting (year, month, day, cnt) values (2019, 11, 4, 31.792700) ;


    Insert into naver_counting (year, month, day, cnt) values (2019, 11, 11, 29.412770) ;


    Insert into naver_counting (year, month, day, cnt) values (2019, 11, 18, 27.959810) ;


    Insert into naver_counting (year, month, day, cnt) values (2019, 11, 25, 27.338960) ;


    Insert into naver_counting (year, month, day, cnt) values (2019, 12, 2, 27.015600) ;


    Insert into naver_counting (year, month, day, cnt) values (2019, 12, 9, 24.450280) ;


    Insert into naver_counting (year, month, day, cnt) values (2019, 12, 16, 24.545140) ;


    Insert into naver_counting (year, month, day, cnt) values (2019, 12, 23, 21.552980) ;


    Insert into naver_counting (year, month, day, cnt) values (2019, 12, 30, 22.445460) ;


    Insert into naver_counting (year, month, day, cnt) values (2020, 1, 6, 24.036380) ;


    Insert into naver_counting (year, month, day, cnt) values (2020, 1, 13, 23.566430) ;


    Insert into naver_counting (year, month, day, cnt) values (2020, 1, 20, 21.074410) ;


    Insert into naver_counting (year, month, day, cnt) values (2020, 1, 27, 23.941530) ;


    Insert into naver_counting (year, month, day, cnt) values (2020, 2, 3, 25.812710) ;


    Insert into naver_counting (year, month, day, cnt) values (2020, 2, 10, 25.377250) ;


    Insert into naver_counting (year, month, day, cnt) values (2020, 2, 17, 33.586270) ;


    Insert into naver_counting (year, month, day, cnt) values (2020, 2, 24, 44.511510) ;


    Insert into naver_counting (year, month, day, cnt) values (2020, 3, 2, 39.294640) ;


    Insert into naver_counting (year, month, day, cnt) values (2020, 3, 9, 70.151760) ;


    Insert into naver_counting (year, month, day, cnt) values (2020, 3, 16, 100.000000) ;


    Insert into naver_counting (year, month, day, cnt) values (2020, 3, 23, 75.109940) ;


    Insert into naver_counting (year, month, day, cnt) values (2020, 3, 30, 55.057340) ;


    Insert into naver_counting (year, month, day, cnt) values (2020, 4, 6, 52.030690) ;


    Insert into naver_counting (year, month, day, cnt) values (2020, 4, 13, 57.601100) ;


    Insert into naver_counting (year, month, day, cnt) values (2020, 4, 20, 51.797870) ;


    Insert into naver_counting (year, month, day, cnt) values (2020, 4, 27, 36.793990) ;


    Insert into naver_counting (year, month, day, cnt) values (2020, 5, 4, 34.638260) ;


    Insert into naver_counting (year, month, day, cnt) values (2020, 5, 11, 35.763550) ;


    Insert into naver_counting (year, month, day, cnt) values (2020, 5, 18, 37.406220) ;


    Insert into naver_counting (year, month, day, cnt) values (2020, 5, 25, 39.674050) ;


    Insert into naver_counting (year, month, day, cnt) values (2020, 6, 1, 40.372510) ;


    Insert into naver_counting (year, month, day, cnt) values (2020, 6, 8, 40.325080) ;


    Insert into naver_counting (year, month, day, cnt) values (2020, 6, 15, 39.708540) ;


    Insert into naver_counting (year, month, day, cnt) values (2020, 6, 22, 39.337750) ;


    Insert into naver_counting (year, month, day, cnt) values (2020, 6, 29, 37.233760) ;


    Insert into naver_counting (year, month, day, cnt) values (2020, 7, 6, 35.573850) ;


    Insert into naver_counting (year, month, day, cnt) values (2020, 7, 13, 33.694050) ;


    Insert into naver_counting (year, month, day, cnt) values (2020, 7, 20, 31.249460) ;


    Insert into naver_counting (year, month, day, cnt) values (2020, 7, 27, 29.951710) ;


    Insert into naver_counting (year, month, day, cnt) values (2020, 8, 3, 32.719660) ;


    Insert into naver_counting (year, month, day, cnt) values (2020, 8, 10, 34.694310) ;


    Insert into naver_counting (year, month, day, cnt) values (2020, 8, 17, 31.227900) ;


    Insert into naver_counting (year, month, day, cnt) values (2020, 8, 24, 34.073460) ;


    Insert into naver_counting (year, month, day, cnt) values (2020, 8, 31, 40.639820) ;


    Insert into naver_counting (year, month, day, cnt) values (2020, 9, 7, 39.859440) ;


    Insert into naver_counting (year, month, day, cnt) values (2020, 9, 14, 36.242130) ;


    Insert into naver_counting (year, month, day, cnt) values (2020, 9, 21, 36.604290) ;


    Insert into naver_counting (year, month, day, cnt) values (2020, 9, 28, 25.291020) ;


    Insert into naver_counting (year, month, day, cnt) values (2020, 10, 5, 25.411740) ;

In [22]:
# 확인
query = """ 
select * from naver_counting ;
"""
cur.execute(query)
tmp=pd.DataFrame(list(cur.fetchall()))
tmp

       0     1   2   3         4
0      1  2015  12  28  19.65163
1      2  2016   1   4  26.05846
2      3  2016   1  11  25.16599
3      4  2016   1  18  27.38639
4      5  2016   1  25  24.72622
..   ...   ...  ..  ..       ...
245  246  2020   9   7  39.85944
246  247  2020   9  14  36.24213
247  248  2020   9  21  36.60429
248  249  2020   9  28  25.29102
249  250  2020  10   5  25.41174

[250 rows x 5 columns]

In [10]:
conn.commit()
cur.close()
conn.close()