In [1]:
import os
import sys
import urllib.request
import pandas as pd
import datetime
import pymysql
import re
import json

In [2]:
client_id = "YOUR_CLIENT_ID"
client_secret = "YOUR_CLIENT_SECRET"

url = "https://openapi.naver.com/v1/datalab/search";
body = "{\"startDate\":\"2016-01-01\",\"endDate\":\"2020-09-30\",\"timeUnit\":\"month\",\"keywordGroups\":[{\"groupName\":\"경제\",\"keywords\":[\"경제\"]}]}";

request = urllib.request.Request(url)
request.add_header("X-Naver-Client-Id",client_id)
request.add_header("X-Naver-Client-Secret",client_secret)
request.add_header("Content-Type","application/json")
response = urllib.request.urlopen(request, data=body.encode("utf-8"))
rescode = response.getcode()
if(rescode==200):
    response_body = response.read()
    scrapped = response_body.decode('utf-8')
else:
    print("Error Code:" + rescode)

In [3]:
jsonResult = json.loads(scrapped)
print(jsonResult['results'][0]['data'])

[{'period': '2016-01-01', 'ratio': 35.97307}, {'period': '2016-02-01', 'ratio': 32.22267}, {'period': '2016-03-01', 'ratio': 41.7722}, {'period': '2016-04-01', 'ratio': 35.81074}, {'period': '2016-05-01', 'ratio': 38.99718}, {'period': '2016-06-01', 'ratio': 39.79344}, {'period': '2016-07-01', 'ratio': 29.43925}, {'period': '2016-08-01', 'ratio': 29.45465}, {'period': '2016-09-01', 'ratio': 31.11294}, {'period': '2016-10-01', 'ratio': 34.91652}, {'period': '2016-11-01', 'ratio': 37.87626}, {'period': '2016-12-01', 'ratio': 33.00214}, {'period': '2017-01-01', 'ratio': 28.66538}, {'period': '2017-02-01', 'ratio': 24.89539}, {'period': '2017-03-01', 'ratio': 38.44022}, {'period': '2017-04-01', 'ratio': 31.02198}, {'period': '2017-05-01', 'ratio': 37.16396}, {'period': '2017-06-01', 'ratio': 34.34556}, {'period': '2017-07-01', 'ratio': 27.78936}, {'period': '2017-08-01', 'ratio': 30.0368}, {'period': '2017-09-01', 'ratio': 35.97307}, {'period': '2017-10-01', 'ratio': 34.61145}, {'period': '2017-11-01', 'ratio': 36.04444}, {'period': '2017-12-01', 'ratio': 30.92822}, {'period': '2018-01-01', 'ratio': 28.12241}, {'period': '2018-02-01', 'ratio': 25.47474}, {'period': '2018-03-01', 'ratio': 39.8872}, {'period': '2018-04-01', 'ratio': 37.62857}, {'period': '2018-05-01', 'ratio': 43.82652}, {'period': '2018-06-01', 'ratio': 51.6282}, {'period': '2018-07-01', 'ratio': 48.90216}, {'period': '2018-08-01', 'ratio': 47.81483}, {'period': '2018-09-01', 'ratio': 45.26791}, {'period': '2018-10-01', 'ratio': 63.6113}, {'period': '2018-11-01', 'ratio': 55.36321}, {'period': '2018-12-01', 'ratio': 48.22765}, {'period': '2019-01-01', 'ratio': 46.02499}, {'period': '2019-02-01', 'ratio': 34.30918}, {'period': '2019-03-01', 'ratio': 51.84651}, {'period': '2019-04-01', 'ratio': 58.09205}, {'period': '2019-05-01', 'ratio': 58.69379}, {'period': '2019-06-01', 'ratio': 49.72221}, {'period': '2019-07-01', 'ratio': 51.57922}, {'period': '2019-08-01', 'ratio': 70.50756}, {'period': '2019-09-01', 'ratio': 46.34825}, {'period': '2019-10-01', 'ratio': 47.1627}, {'period': '2019-11-01', 'ratio': 40.51134}, {'period': '2019-12-01', 'ratio': 34.86054}, {'period': '2020-01-01', 'ratio': 33.28901}, {'period': '2020-02-01', 'ratio': 42.33336}, {'period': '2020-03-01', 'ratio': 100}, {'period': '2020-04-01', 'ratio': 72.11827}, {'period': '2020-05-01', 'ratio': 51.8745}, {'period': '2020-06-01', 'ratio': 55.75504}, {'period': '2020-07-01', 'ratio': 48.52152}, {'period': '2020-08-01', 'ratio': 47.24947}, {'period': '2020-09-01', 'ratio': 51.65339}]

In [4]:
def extract_year_and_month(peroid):
    year = peroid.split('-')[0]
    month = peroid.split('-')[1]
    return year, month

# DB 연동 및 table 생성

In [5]:
conn = pymysql.connect(host = "127.0.0.1", user = [USER], passwd = [PASSWORD], db = [DATABASE])
cur = conn.cursor()

In [6]:
"""
검색어 트랜드 정보 저장할 table 생성
"""

create_table_query = """
CREATE TABLE IF NOT EXISTS naver_counting(
    id BIGINT(7) NOT NULL AUTO_INCREMENT,
    year bigint(4) NOT NULL,
    month bigint(2) NOT NULL,
    cnt double,
    primary key(id) )
    charset=utf8mb4;
"""
cur.execute(create_table_query)

0

In [7]:
cur.execute("desc news_counting")
table = cur.fetchall()
pd.DataFrame(list(table))

       0            1    2    3     4               5
0     id    bigint(7)   NO  PRI  None  auto_increment
1   year    bigint(4)   NO       None
2  month    bigint(2)   NO       None
3    cnt  bigint(100)  YES       None

In [8]:
"""
db table에 저장
"""

for result in jsonResult['results'][0]['data']:
    query = """ 
    Insert into naver_counting (year,month, cnt) values (%d, %d, %f) ;
    """
    year, month = extract_year_and_month(result["period"])
    naver_cnt = result["ratio"]

    mystring = (query % (int(year), int(month), float(naver_cnt)))
    print(mystring)
    cur.execute(mystring)

    Insert into naver_counting (year,month, cnt) values (2016, 1, 35.973070) ;


    Insert into naver_counting (year,month, cnt) values (2016, 2, 32.222670) ;


    Insert into naver_counting (year,month, cnt) values (2016, 3, 41.772200) ;


    Insert into naver_counting (year,month, cnt) values (2016, 4, 35.810740) ;


    Insert into naver_counting (year,month, cnt) values (2016, 5, 38.997180) ;


    Insert into naver_counting (year,month, cnt) values (2016, 6, 39.793440) ;


    Insert into naver_counting (year,month, cnt) values (2016, 7, 29.439250) ;


    Insert into naver_counting (year,month, cnt) values (2016, 8, 29.454650) ;


    Insert into naver_counting (year,month, cnt) values (2016, 9, 31.112940) ;


    Insert into naver_counting (year,month, cnt) values (2016, 10, 34.916520) ;


    Insert into naver_counting (year,month, cnt) values (2016, 11, 37.876260) ;


    Insert into naver_counting (year,month, cnt) values (2016, 12, 33.002140) ;


    Insert into naver_counting (year,month, cnt) values (2017, 1, 28.665380) ;


    Insert into naver_counting (year,month, cnt) values (2017, 2, 24.895390) ;


    Insert into naver_counting (year,month, cnt) values (2017, 3, 38.440220) ;


    Insert into naver_counting (year,month, cnt) values (2017, 4, 31.021980) ;


    Insert into naver_counting (year,month, cnt) values (2017, 5, 37.163960) ;


    Insert into naver_counting (year,month, cnt) values (2017, 6, 34.345560) ;


    Insert into naver_counting (year,month, cnt) values (2017, 7, 27.789360) ;


    Insert into naver_counting (year,month, cnt) values (2017, 8, 30.036800) ;


    Insert into naver_counting (year,month, cnt) values (2017, 9, 35.973070) ;


    Insert into naver_counting (year,month, cnt) values (2017, 10, 34.611450) ;


    Insert into naver_counting (year,month, cnt) values (2017, 11, 36.044440) ;


    Insert into naver_counting (year,month, cnt) values (2017, 12, 30.928220) ;


    Insert into naver_counting (year,month, cnt) values (2018, 1, 28.122410) ;


    Insert into naver_counting (year,month, cnt) values (2018, 2, 25.474740) ;


    Insert into naver_counting (year,month, cnt) values (2018, 3, 39.887200) ;


    Insert into naver_counting (year,month, cnt) values (2018, 4, 37.628570) ;


    Insert into naver_counting (year,month, cnt) values (2018, 5, 43.826520) ;


    Insert into naver_counting (year,month, cnt) values (2018, 6, 51.628200) ;


    Insert into naver_counting (year,month, cnt) values (2018, 7, 48.902160) ;


    Insert into naver_counting (year,month, cnt) values (2018, 8, 47.814830) ;


    Insert into naver_counting (year,month, cnt) values (2018, 9, 45.267910) ;


    Insert into naver_counting (year,month, cnt) values (2018, 10, 63.611300) ;


    Insert into naver_counting (year,month, cnt) values (2018, 11, 55.363210) ;


    Insert into naver_counting (year,month, cnt) values (2018, 12, 48.227650) ;


    Insert into naver_counting (year,month, cnt) values (2019, 1, 46.024990) ;


    Insert into naver_counting (year,month, cnt) values (2019, 2, 34.309180) ;


    Insert into naver_counting (year,month, cnt) values (2019, 3, 51.846510) ;


    Insert into naver_counting (year,month, cnt) values (2019, 4, 58.092050) ;


    Insert into naver_counting (year,month, cnt) values (2019, 5, 58.693790) ;


    Insert into naver_counting (year,month, cnt) values (2019, 6, 49.722210) ;


    Insert into naver_counting (year,month, cnt) values (2019, 7, 51.579220) ;


    Insert into naver_counting (year,month, cnt) values (2019, 8, 70.507560) ;


    Insert into naver_counting (year,month, cnt) values (2019, 9, 46.348250) ;


    Insert into naver_counting (year,month, cnt) values (2019, 10, 47.162700) ;


    Insert into naver_counting (year,month, cnt) values (2019, 11, 40.511340) ;


    Insert into naver_counting (year,month, cnt) values (2019, 12, 34.860540) ;


    Insert into naver_counting (year,month, cnt) values (2020, 1, 33.289010) ;


    Insert into naver_counting (year,month, cnt) values (2020, 2, 42.333360) ;


    Insert into naver_counting (year,month, cnt) values (2020, 3, 100.000000) ;


    Insert into naver_counting (year,month, cnt) values (2020, 4, 72.118270) ;


    Insert into naver_counting (year,month, cnt) values (2020, 5, 51.874500) ;


    Insert into naver_counting (year,month, cnt) values (2020, 6, 55.755040) ;


    Insert into naver_counting (year,month, cnt) values (2020, 7, 48.521520) ;


    Insert into naver_counting (year,month, cnt) values (2020, 8, 47.249470) ;


    Insert into naver_counting (year,month, cnt) values (2020, 9, 51.653390) ;

In [9]:
conn.commit()
cur.close()
conn.close()